Repository software-mansion/react-native-enriched: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, lint-android, clang-format

lint:
  run: npx eslint {staged_files}

types:
  run: npx tsc

lint-android:
  run: cd apps/example/android && ./gradlew lintVerify

clang-format:
  run: npx clang-format -i {staged_files} && git add {staged_files}

fix: mapped empty <p> tags to <br>
  src/web/EnrichedTextInput.tsx
  src/web/getNormalizedHtml.ts
  src/web/tiptapHtmlNormalizer.ts
  src/web/useOnChangeHtml.ts
Due: lint, types

fix(android): link turns into plain text (#502)
  .maestro/flows/html_link_not_extended.yaml
  .maestro/flows/link_not_extended.yaml
  .maestro/screenshots/android/html_link_not_extended.png
  .maestro/screenshots/android/link_not_extended.png
  .maestro/screenshots/ios/html_link_not_extended.png
  android/src/main/java/com/swmansion/enriched/common/spans/EnrichedLinkSpan.kt
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputSpannableFactory.kt
  android/src/main/java/com/swmansion/enriched/textinput/spans/EnrichedInputLinkSpan.kt
  android/src/main/java/com/swmansion/enriched/textinput/styles/ParametrizedStyles.kt
Due: lint-android

Update ios/utils/ParagraphAttributesUtils.mm
  ios/utils/ParagraphAttributesUtils.mm
Due: clang-format

Update ios/styles/HeadingStyleBase.mm
  ios/styles/HeadingStyleBase.mm
Due: clang-format

Update ios/EnrichedTextInputView.mm
  ios/EnrichedTextInputView.mm
Due: clang-format

fix: resolved issues
  apps/example-web/src/App.tsx
  src/web/EnrichedTextInput.tsx
Due: lint

fix: review changes
  ios/EnrichedTextInputView.mm
  ios/extensions/FontExtension.h
  ios/extensions/FontExtension.mm
  ios/inputParser/InputParser.mm
  ios/interfaces/StyleHeaders.h
  ios/styles/BlockQuoteStyle.mm
  ios/styles/CodeBlockStyle.mm
  ios/styles/HeadingStyleBase.mm
  ios/styles/StrikethroughStyle.mm
  ios/utils/ParagraphAttributesUtils.mm
  ios/utils/ZeroWidthSpaceUtils.mm
Due: clang-format

fix: add handling of style conflict
  ios/EnrichedTextInputView.h
  ios/EnrichedTextInputView.mm
Due: clang-format

fix: make e2e tests run as nightly
  .github/workflows/e2e.yml
  .maestro/scripts/setup-android-emulator.sh
Due: none

fix: restore CI run on PR
  .github/workflows/e2e.yml
Due: none

fix: remove passed e2e tests on ANdroid
  .maestro/flows/codeblock_no_link_detection.yaml
  .maestro/flows/codeblock_style_blocking.yaml
  .maestro/flows/conflicting_paragraph_merge.yaml
  .maestro/flows/core_controls_smoke.yaml
  .maestro/flows/empty_element_parsing.yaml
  .maestro/flows/initial_html_parsing.yaml
  .maestro/flows/inline_styles_survive_block_toggle.yaml
  .maestro/flows/inline_styles_visual.yaml
  .maestro/flows/link_not_extended.yaml
  .maestro/flows/list_newline_insertion.yaml
  .maestro/flows/mention_parsing_handles_single_quoted_attributes.yaml
  .maestro/flows/ordered_list_renumbering.yaml
  .maestro/flows/paragraph_style_removal.yaml
  .maestro/flows/paragraph_style_toggle.yaml
  .maestro/flows/paragraph_styles_blocks_visual.yaml
  .maestro/flows/paragraph_styles_headings_visual.yaml
  .maestro/flows/placeholder_visual.yaml
  .maestro/flows/scrolling_after_typing.yaml
  .maestro/flows/scrolling_set_value.yaml
  .maestro/flows/scrolling_with_paragraph_styles.yaml
Due: none

fix: add link not extended
  .maestro/flows/link_not_extended.yaml
Due: none

fix: add exact path for diff pngs
  .github/workflows/e2e.yml
Due: none

test: place diff images next to baselines
  .maestro/scripts/run-tests.sh
  .maestro/subflows/capture_or_assert_screenshot.yaml
Due: none

fix: review changes
  ios/EnrichedTextInputView.h
  ios/EnrichedTextInputView.mm
  ios/attributesManager/AttributesManager.mm
  ios/interfaces/StyleBase.h
  ios/interfaces/StyleBase.mm
  ios/styles/CheckboxListStyle.mm
  ios/styles/ImageStyle.mm
  ios/styles/LinkStyle.mm
  ios/styles/MentionStyle.mm
  ios/utils/ZeroWidthSpaceUtils.mm
Due: clang-format

test: place diff images next to baselines (#503)
  .maestro/scripts/run-tests.sh
  .maestro/subflows/capture_or_assert_screenshot.yaml
Due: none

chore: log e.nativeEvent not whole event
  apps/example-web/src/App.tsx
Due: lint

fix(web): fixed position mapping
  src/web/EnrichedTextInput.tsx
  src/web/positionMapping.ts
Due: lint, types

chore: go from peerDependencies to direct ones
  apps/example-web/package.json
  package.json
  yarn.lock
Due: none

feat: added ui controls for set selection
  apps/example-web/src/App.tsx
  apps/example-web/src/components/EditorActions.css
  apps/example-web/src/components/EditorActions.tsx
  apps/example/src/hooks/useEditorState.ts
  apps/example/src/screens/DevScreen.tsx
Due: lint, types

fix: links
  ios/EnrichedTextInputView.h
  ios/EnrichedTextInputView.mm
  ios/inputParser/InputParser.mm
  ios/interfaces/LinkData.h
  ios/styles/LinkStyle.mm
  ios/utils/OccurenceUtils.h
  ios/utils/OccurenceUtils.mm
Due: clang-format

fix: input parser
  ios/inputParser/InputParser.mm
Due: clang-format

fix: remove unnecessary methods from link and mention style
  ios/EnrichedTextInputView.mm
  ios/interfaces/StyleHeaders.h
  ios/styles/LinkStyle.mm
  ios/styles/MentionStyle.mm
Due: clang-format

fix: remove unused code from occurance util
  ios/utils/OccurenceUtils.h
  ios/utils/OccurenceUtils.mm
Due: clang-format

fix: restore test files
  .github/workflows/e2e.yml
  .maestro/flows/codeblock_no_link_detection.yaml
  .maestro/flows/codeblock_style_blocking.yaml
  .maestro/flows/conflicting_paragraph_merge.yaml
  .maestro/flows/core_controls_smoke.yaml
  .maestro/flows/empty_element_parsing.yaml
  .maestro/flows/initial_html_parsing.yaml
  .maestro/flows/inline_styles_survive_block_toggle.yaml
  .maestro/flows/inline_styles_visual.yaml
  .maestro/flows/list_newline_insertion.yaml
  .maestro/flows/mention_parsing_handles_single_quoted_attributes.yaml
  .maestro/flows/ordered_list_renumbering.yaml
  .maestro/flows/paragraph_style_removal.yaml
  .maestro/flows/paragraph_style_toggle.yaml
  .maestro/flows/paragraph_styles_blocks_visual.yaml
  .maestro/flows/paragraph_styles_headings_visual.yaml
  .maestro/flows/placeholder_visual.yaml
  .maestro/flows/scrolling_after_typing.yaml
  .maestro/flows/scrolling_set_value.yaml
  .maestro/flows/scrolling_with_paragraph_styles.yaml
Due: none

feat: links use only LinkData and link word-based management uses dirtyRanges
  ios/EnrichedTextInputView.h
  ios/EnrichedTextInputView.mm
  ios/attributesManager/AttributesManager.h
  ios/attributesManager/AttributesManager.mm
  ios/inputParser/InputParser.mm
  ios/interfaces/LinkData.h
  ios/interfaces/LinkData.mm
  ios/interfaces/StyleHeaders.h
  ios/styles/LinkStyle.mm
  ios/utils/OccurenceUtils.h
  ios/utils/OccurenceUtils.mm
Due: clang-format

test: added playwright setup
  apps/example-web/.gitignore
  apps/example-web/package.json
  apps/example-web/playwright.config.ts
  apps/example-web/src/components/EditorActions.tsx
  apps/example-web/src/components/HtmlOutputPanel.tsx
  apps/example-web/src/components/SetValueModal.tsx
  apps/example-web/tsconfig.node.json
  package.json
  yarn.lock
Due: lint, types

test: added a test for set-selection
  apps/example-web/src/App.tsx
  apps/example-web/src/RouteSelector.tsx
  apps/example-web/src/components/EditorActions.tsx
  apps/example-web/src/components/SetSelectionModal.tsx
  apps/example-web/src/components/SetValueModal.css
  apps/example-web/src/main.tsx
  apps/example-web/src/testScreens/TestSetSelection.tsx
  apps/example-web/tests/editor.spec.ts
  apps/example-web/tests/setSelection.spec.tsx
Due: lint, types

feat: added set selection modal
  apps/example-web/src/App.tsx
  apps/example-web/src/components/BaseModal.css
  apps/example-web/src/components/BaseModal.tsx
  apps/example-web/src/components/EditorActions.tsx
  apps/example-web/src/components/SetSelectionModal.tsx
  apps/example-web/src/components/SetValueModal.css
  apps/example-web/src/components/SetValueModal.tsx
  apps/example-web/tests/editor.spec.ts
Due: lint, types

chore: added info about web e2e testing
  CONTRIBUTING.md
Due: none

fix: remove recentlyChangedRange
  ios/EnrichedTextInputView.h
  ios/EnrichedTextInputView.mm
  ios/utils/TextInsertionUtils.mm
Due: clang-format

fix: scroll e2e test
  .maestro/flows/scrolling_after_typing.yaml
Due: none

chore: make jest ignore playwright tests, pin tiptap, yarn test e2e -> yarn test e2e:mobile
  package.json
Due: none

test: moved web tests to .playwright
  .playwright/.gitignore
  .playwright/playwright.config.ts
  .playwright/tests/setSelection.spec.tsx
  CONTRIBUTING.md
  apps/example-web/package.json
  package.json
  yarn.lock
Due: lint, types

test: make jest ignore playwright tests
  package.json
Due: none

fix: empty html blocks parsing
  ios/inputParser/InputParser.mm
Due: clang-format

feat(web): added tiptap foundation (#496)
  .playwright/.gitignore
  .playwright/playwright.config.ts
  .playwright/tests/setSelection.spec.tsx
  CONTRIBUTING.md
  apps/example-web/.gitignore
  apps/example-web/src/App.css
  apps/example-web/src/App.tsx
  apps/example-web/src/RouteSelector.tsx
  apps/example-web/src/components/BaseModal.css
  apps/example-web/src/components/BaseModal.tsx
  apps/example-web/src/components/EditorActions.css
  apps/example-web/src/components/EditorActions.tsx
  apps/example-web/src/components/HtmlOutputPanel.css
  apps/example-web/src/components/HtmlOutputPanel.tsx
  apps/example-web/src/components/SetValueModal.css
  apps/example-web/src/components/SetValueModal.tsx
  apps/example-web/src/index.css
  apps/example-web/src/main.tsx
  apps/example-web/src/testScreens/TestSetSelection.tsx
  apps/example-web/tsconfig.node.json
  apps/example-web/vite.config.ts
  package.json
  src/native/EnrichedTextInput.tsx
  src/utils/EnrichedTextInputDefaultProps.ts
  src/web/EnrichedTextInput.css
  src/web/EnrichedTextInput.tsx
  src/web/adaptWebToNativeEvent.ts
  src/web/positionMapping.ts
  src/web/tiptapHtmlNormalizer.ts
  src/web/useOnChangeHtml.ts
  src/web/useOnChangeText.ts
  src/web/useOnEditorChange.ts
  yarn.lock
Due: lint, types

fix: parsing blockquote, codeblock with text content without p tags
  .maestro/flows/empty_html_block_parsing.yaml
  .maestro/screenshots/android/empty_html_block_parsing.png
  .maestro/screenshots/ios/empty_html_block_parsing.png
  ios/inputParser/InputParser.mm
Due: clang-format

fix: reduce one if statement
  ios/inputParser/InputParser.mm
Due: clang-format

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts, jsx, tsx}
  lint-android: any of: **/*.{kt,kts,java,gradle}
  clang-format: any of: *.{h,m,mm,cpp}, but not: (Pods|build|node_modules)
