Repository software-mansion/react-native-enriched: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, lint-android, clang-format

lint:
  run: npx eslint {staged_files}

types:
  run: npx tsc

lint-android:
  run: cd apps/example/android && ./gradlew lintVerify

clang-format:
  run: npx clang-format -i {staged_files} && git add {staged_files}

fix: remove unused ivars
  ios/EnrichedTextInputView.mm
Due: clang-format

fix: remove epsilon comprassion
  ios/inputTextView/InputTextView.mm
Due: clang-format

fix: return mock view
  ios/EnrichedTextInputView.h
  ios/EnrichedTextInputView.mm
  ios/internals/EnrichedTextInputViewShadowNode.h
  ios/internals/EnrichedTextInputViewShadowNode.mm
  ios/internals/EnrichedTextInputViewState.h
Due: clang-format

fix: properly handle placeholder insets
  ios/inputTextView/InputTextView.mm
Due: clang-format

feat: use usedRect in layout subviews
  ios/EnrichedTextInputView.h
  ios/EnrichedTextInputView.mm
  ios/inputTextView/InputTextView.mm
Due: clang-format

fix: set _prevSize before making yoga node dirty
  ios/internals/EnrichedTextInputViewShadowNode.mm
Due: clang-format

fix: rebase with latest main
  ios/EnrichedTextInputView.mm
  ios/inputTextView/InputTextView.h
  ios/inputTextView/InputTextView.mm
Due: clang-format

fix: remove unused var
  ios/EnrichedTextInputView.mm
Due: clang-format

fix: always bounce vertically
  ios/inputTextView/InputTextView.mm
Due: clang-format

feat: add default state to checkbox style
  ios/EnrichedTextInputView.mm
  ios/inputParser/InputParser.mm
  ios/styles/CheckboxListStyle.mm
  ios/utils/StyleHeaders.h
Due: clang-format

fix: refactor drawing
  ios/utils/LayoutManagerExtension.mm
Due: clang-format

chore: update docs
  docs/API_REFERENCE.md
Due: none

feat: add onKeyPress callback (#242)
  README.md
  android/src/main/java/com/swmansion/enriched/EnrichedTextInputConnectionWrapper.kt
  android/src/main/java/com/swmansion/enriched/EnrichedTextInputView.kt
  android/src/main/java/com/swmansion/enriched/EnrichedTextInputViewManager.kt
  android/src/main/java/com/swmansion/enriched/events/OnInputKeyPressEvent.kt
  apps/example/src/App.tsx
  docs/API_REFERENCE.md
  ios/EnrichedTextInputView.mm
  src/EnrichedTextInput.tsx
  src/EnrichedTextInputNativeComponent.ts
  src/index.tsx
Due: lint, types, lint-android, clang-format

fix: removing spans
  android/src/main/java/com/swmansion/enriched/styles/ListStyles.kt
  android/src/main/java/com/swmansion/enriched/styles/ParagraphStyles.kt
  android/src/main/java/com/swmansion/enriched/styles/ParametrizedStyles.kt
  android/src/main/java/com/swmansion/enriched/utils/Utils.kt
Due: lint-android

fix: reapplying spans (#370)
  android/src/main/java/com/swmansion/enriched/styles/ListStyles.kt
  android/src/main/java/com/swmansion/enriched/styles/ParagraphStyles.kt
  android/src/main/java/com/swmansion/enriched/styles/ParametrizedStyles.kt
  android/src/main/java/com/swmansion/enriched/utils/Utils.kt
Due: lint-android

chore: refactor hardcoded characters
  android/src/main/java/com/swmansion/enriched/EnrichedTextInputView.kt
  android/src/main/java/com/swmansion/enriched/events/OnChangeTextEvent.kt
  android/src/main/java/com/swmansion/enriched/styles/ListStyles.kt
  android/src/main/java/com/swmansion/enriched/styles/ParagraphStyles.kt
  android/src/main/java/com/swmansion/enriched/styles/ParametrizedStyles.kt
  android/src/main/java/com/swmansion/enriched/utils/EnrichedConstants.kt
  android/src/main/java/com/swmansion/enriched/utils/EnrichedParser.java
  android/src/main/java/com/swmansion/enriched/utils/EnrichedSelection.kt
Due: lint-android

chore: cleanup extensions
  android/src/main/java/com/swmansion/enriched/utils/EnrichedSpannable.kt
  android/src/main/java/com/swmansion/enriched/utils/EnrichedSpannableStringBuilder.kt
  android/src/main/java/com/swmansion/enriched/utils/Utils.kt
Due: lint-android

fix: android-links-detection
  android/src/main/java/com/swmansion/enriched/styles/ParametrizedStyles.kt
  android/src/main/java/com/swmansion/enriched/watchers/EnrichedTextWatcher.kt
Due: lint-android

fix: links detection on paste
  android/src/main/java/com/swmansion/enriched/EnrichedTextInputView.kt
  android/src/main/java/com/swmansion/enriched/styles/ParametrizedStyles.kt
Due: lint-android

chore: move EnrichedTextInput spec to src/spec
  apps/example/ios/Podfile.lock
  package.json
  src/EnrichedTextInput.tsx
  src/index.tsx
  src/spec/EnrichedTextInputNativeComponent.ts
  src/utils/normalizeHtmlStyle.ts
  src/utils/regexParser.ts
Due: lint, types

feat: init TipTap setup, update example-web: add toolbar
  apps/example-web/package.json
  apps/example-web/src/App.css
  apps/example-web/src/App.tsx
  apps/example-web/src/components/Toolbar.css
  apps/example-web/src/components/Toolbar.tsx
  package.json
  src/web/EnrichedTextInput.css
  src/web/EnrichedTextInput.tsx
  yarn.lock
Due: lint

chore: setup for native android text view
  android/src/main/java/com/swmansion/enriched/EnrichedTextInputViewPackage.kt
  android/src/main/java/com/swmansion/enriched/text/EnrichedTextView.kt
  android/src/main/java/com/swmansion/enriched/text/EnrichedTextViewManager.kt
  apps/example/src/App.tsx
  src/EnrichedText.tsx
  src/index.tsx
  src/spec/EnrichedTextNativeComponent.ts
Due: lint, types, lint-android

chore: rename android SN files
  android/src/main/new_arch/CMakeLists.txt
  android/src/main/new_arch/RNEnrichedTextInputViewSpec.cpp
  android/src/main/new_arch/RNEnrichedTextInputViewSpec.h
  android/src/main/new_arch/ReactNativeEnrichedSpec.cpp
  android/src/main/new_arch/ReactNativeEnrichedSpec.h
  android/src/main/new_arch/react/renderer/components/ReactNativeEnrichedSpec/EnrichedTextInputComponentDescriptor.h
  android/src/main/new_arch/react/renderer/components/ReactNativeEnrichedSpec/EnrichedTextInputMeasurementManager.cpp
  android/src/main/new_arch/react/renderer/components/ReactNativeEnrichedSpec/EnrichedTextInputMeasurementManager.h
  android/src/main/new_arch/react/renderer/components/ReactNativeEnrichedSpec/EnrichedTextInputShadowNode.cpp
  android/src/main/new_arch/react/renderer/components/ReactNativeEnrichedSpec/EnrichedTextInputShadowNode.h
  android/src/main/new_arch/react/renderer/components/ReactNativeEnrichedSpec/EnrichedTextInputState.cpp
  android/src/main/new_arch/react/renderer/components/ReactNativeEnrichedSpec/EnrichedTextInputState.h
  android/src/main/new_arch/react/renderer/components/ReactNativeEnrichedSpec/conversions.h
  package.json
Due: clang-format

chore: revert EnrichedText specific files
  android/src/main/java/com/swmansion/enriched/ReactNativeEnrichedPackage.kt
  android/src/main/java/com/swmansion/enriched/text/EnrichedTextView.kt
  android/src/main/java/com/swmansion/enriched/text/EnrichedTextViewManager.kt
  apps/example/src/App.tsx
  package.json
  src/EnrichedText.tsx
  src/index.tsx
Due: lint, lint-android

chore: remove one more EnrichedText specific file
  src/spec/EnrichedTextNativeComponent.ts
Due: lint, types

fix: android links detection (#375)
  android/src/main/java/com/swmansion/enriched/styles/ParametrizedStyles.kt
  android/src/main/java/com/swmansion/enriched/watchers/EnrichedTextWatcher.kt
Due: lint-android

chore: add string version
  android/src/main/java/com/swmansion/enriched/events/OnChangeTextEvent.kt
  android/src/main/java/com/swmansion/enriched/styles/ListStyles.kt
  android/src/main/java/com/swmansion/enriched/styles/ParagraphStyles.kt
  android/src/main/java/com/swmansion/enriched/styles/ParametrizedStyles.kt
  android/src/main/java/com/swmansion/enriched/utils/EnrichedConstants.kt
  android/src/main/java/com/swmansion/enriched/utils/EnrichedParser.java
  android/src/main/java/com/swmansion/enriched/utils/EnrichedSelection.kt
  android/src/main/java/com/swmansion/enriched/utils/Utils.kt
Due: lint-android

fix: android links detection after pasting text (#376)
  android/src/main/java/com/swmansion/enriched/EnrichedTextInputView.kt
  android/src/main/java/com/swmansion/enriched/styles/ParametrizedStyles.kt
Due: lint-android

fix: building RN 0.79 and RN 0.80
  android/src/main/new_arch/CMakeLists.txt
  android/src/main/new_arch/react/renderer/components/RNEnrichedTextInputViewSpec/conversions.h
Due: clang-format

feat: handle checkbox onPress
  ios/EnrichedTextInputView.mm
  ios/styles/CheckboxListStyle.mm
  ios/utils/CheckboxHitTestUtils.h
  ios/utils/CheckboxHitTestUtils.mm
  ios/utils/LayoutManagerExtension.mm
  ios/utils/StyleHeaders.h
  ios/utils/TextBlockTapGestureRecognizer.h
  ios/utils/TextBlockTapGestureRecognizer.mm
Due: clang-format

chore: typo in comment
  android/src/main/new_arch/react/renderer/components/RNEnrichedTextInputViewSpec/conversions.h
Due: clang-format

chore: cleanup android hardcoded characters (#372)
  android/src/main/java/com/swmansion/enriched/EnrichedTextInputView.kt
  android/src/main/java/com/swmansion/enriched/events/OnChangeTextEvent.kt
  android/src/main/java/com/swmansion/enriched/styles/ListStyles.kt
  android/src/main/java/com/swmansion/enriched/styles/ParagraphStyles.kt
  android/src/main/java/com/swmansion/enriched/styles/ParametrizedStyles.kt
  android/src/main/java/com/swmansion/enriched/utils/EnrichedConstants.kt
  android/src/main/java/com/swmansion/enriched/utils/EnrichedParser.java
  android/src/main/java/com/swmansion/enriched/utils/EnrichedSelection.kt
  android/src/main/java/com/swmansion/enriched/utils/Utils.kt
Due: lint-android

chore: resolve conflicts
  android/src/main/java/com/swmansion/enriched/utils/EnrichedSpannableStringBuilder.kt
Due: lint-android

chore: cleanup android utils (#373)
  android/src/main/java/com/swmansion/enriched/utils/EnrichedSpannable.kt
  android/src/main/java/com/swmansion/enriched/utils/EnrichedSpannableStringBuilder.kt
  android/src/main/java/com/swmansion/enriched/utils/Utils.kt
Due: lint-android

chore: resolve conflicts
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputView.kt
  android/src/main/java/com/swmansion/enriched/textinput/events/OnChangeTextEvent.kt
  android/src/main/java/com/swmansion/enriched/textinput/styles/ListStyles.kt
  android/src/main/java/com/swmansion/enriched/textinput/styles/ParagraphStyles.kt
  android/src/main/java/com/swmansion/enriched/textinput/styles/ParametrizedStyles.kt
  android/src/main/java/com/swmansion/enriched/textinput/utils/EnrichedConstants.kt
  android/src/main/java/com/swmansion/enriched/textinput/utils/EnrichedSpannable.kt
  android/src/main/java/com/swmansion/enriched/textinput/utils/EnrichedSpannableStringBuilder.kt
Due: lint-android

fix: handling ZWS with checkboxes
  ios/EnrichedTextInputView.mm
  ios/styles/CheckboxListStyle.mm
  ios/utils/ParagraphAttributesUtils.mm
  ios/utils/StyleHeaders.h
Due: clang-format

fix: building RN 0.79 and RN 0.80 - android (#377)
  android/src/main/new_arch/CMakeLists.txt
  android/src/main/new_arch/react/renderer/components/RNEnrichedTextInputViewSpec/conversions.h
Due: clang-format

feat: update conflicting styles
  ios/EnrichedTextInputView.mm
Due: clang-format

feat: add scaffolding for OnChangeStateEvent handling
  apps/example-web/src/App.tsx
  src/web/EnrichedTextInput.tsx
  src/web/hooks/useEnrichedTextInputState.ts
Due: lint, types

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts, jsx, tsx}
  lint-android: any of: **/*.{kt,kts,java,gradle}
  clang-format: any of: *.{h,m,mm,cpp}, but not: (Pods|build|node_modules)
