Repository software-mansion/react-native-enriched: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, lint-android, clang-format

lint:
  run: npx eslint {staged_files}

types:
  run: npx tsc

lint-android:
  run: cd apps/example/android && ./gradlew lintVerify

clang-format:
  run: npx clang-format -i {staged_files} && git add {staged_files}

feat: wip android link detection regex
  android/src/main/java/com/swmansion/enriched/EnrichedTextInputView.kt
  android/src/main/java/com/swmansion/enriched/EnrichedTextInputViewManager.kt
  android/src/main/java/com/swmansion/enriched/styles/ParametrizedStyles.kt
  apps/example/src/App.tsx
  src/EnrichedTextInput.tsx
  src/EnrichedTextInputNativeComponent.ts
  src/utils/normalizeHtmlStyle.ts
  src/utils/regexParser.ts
Due: lint, types, lint-android

fix: scrolling when height is not provided - android (#342)
  android/src/main/java/com/swmansion/enriched/EnrichedTextInputViewManager.kt
  android/src/main/java/com/swmansion/enriched/MeasurementStore.kt
Due: lint-android

fix: code review fixes
  docs/API_REFERENCE.md
  ios/EnrichedTextInputView.mm
Due: clang-format

fix: formatting
  ios/EnrichedTextInputView.mm
Due: clang-format

feat: add H4, H5 & H6 styles (#236)
  README.md
  android/src/main/java/com/swmansion/enriched/EnrichedTextInputView.kt
  android/src/main/java/com/swmansion/enriched/EnrichedTextInputViewManager.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedH4Span.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedH5Span.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedH6Span.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedSpans.kt
  android/src/main/java/com/swmansion/enriched/styles/HtmlStyle.kt
  android/src/main/java/com/swmansion/enriched/utils/EnrichedParser.java
  android/src/main/java/com/swmansion/enriched/utils/EnrichedSpanState.kt
  apps/example/src/App.tsx
  apps/example/src/components/Toolbar.tsx
  docs/API_REFERENCE.md
  ios/EnrichedTextInputView.mm
  ios/config/InputConfig.h
  ios/config/InputConfig.mm
  ios/inputParser/InputParser.mm
  ios/styles/BoldStyle.mm
  ios/styles/H4Style.mm
  ios/styles/H5Style.mm
  ios/styles/H6Style.mm
  ios/styles/HeadingStyleBase.mm
  ios/utils/StyleHeaders.h
  ios/utils/StyleTypeEnum.h
  src/EnrichedTextInput.tsx
  src/EnrichedTextInputNativeComponent.ts
  src/normalizeHtmlStyle.ts
Due: lint, types, lint-android, clang-format

fix: add h4, h5, h6
  android/src/main/java/com/swmansion/enriched/utils/EnrichedSpanState.kt
  apps/example/src/components/Toolbar.tsx
  docs/API_REFERENCE.md
Due: lint, lint-android

chore: update links detection docs
  README.md
  docs/API_REFERENCE.md
Due: none

feat: do not emit text when onChangeText is not set (#348)
  android/src/main/java/com/swmansion/enriched/EnrichedTextInputView.kt
  android/src/main/java/com/swmansion/enriched/EnrichedTextInputViewManager.kt
  android/src/main/java/com/swmansion/enriched/watchers/EnrichedTextWatcher.kt
  docs/API_REFERENCE.md
  ios/EnrichedTextInputView.mm
  src/EnrichedTextInput.tsx
  src/EnrichedTextInputNativeComponent.ts
Due: lint, types, lint-android, clang-format

chore: remove unused properties
  android/src/main/java/com/swmansion/enriched/EnrichedTextInputView.kt
  src/EnrichedTextInputNativeComponent.ts
  src/utils/regexParser.ts
Due: lint, types, lint-android

chore: publish workflow test
  .github/workflows/publish.yml
Due: none

chore: add missing permissions
  .github/workflows/publish.yml
Due: none

chore: overwrite if needed
  .github/workflows/publish.yml
Due: none

chore: publish workflow base setup (#354)
  .github/workflows/publish.yml
Due: none

fix: uploading artifacts
  .github/workflows/publish.yml
Due: none

fix: fix npm pack
  .github/workflows/publish.yml
Due: none

fix: upload artifacts
  .github/workflows/publish.yml
Due: none

fix: add images offset when parsing html (#340)
  ios/inputParser/InputParser.mm
Due: clang-format

fix: add scaling to other headers
  ios/styles/H4Style.mm
  ios/styles/H5Style.mm
  ios/styles/H6Style.mm
Due: clang-format

fix: specify artifact filename
  .github/workflows/publish.yml
Due: none

chore: uncomment publish step
  .github/workflows/publish.yml
Due: none

chore: restrict to env, add docs
  .github/workflows/publish.yml
  docs/RELEASE.md
Due: none

chore: publish workflow (#355)
  .github/workflows/publish.yml
  docs/RELEASE.md
Due: none

feat: iOS link regex handling
  apps/example/ios/Podfile.lock
  ios/EnrichedTextInputView.mm
  ios/config/InputConfig.h
  ios/config/InputConfig.mm
  ios/styles/LinkStyle.mm
  ios/utils/LinkRegex.h
  ios/utils/LinkRegexConfig.h
  ios/utils/LinkRegexConfig.mm
Due: clang-format

chore: lock a stable ruby version for the example app
  apps/example/Gemfile
  apps/example/Gemfile.lock
Due: none

chore: update to better versions
  apps/example/Gemfile
  apps/example/Gemfile.lock
  apps/example/ios/Podfile.lock
Due: none

feat: add types to web implementation, extract common types
  apps/example-web/src/App.tsx
  src/common/types.ts
  src/index.native.tsx
  src/index.tsx
  src/native/EnrichedTextInput.tsx
  src/native/EnrichedTextInputNativeComponent.ts
  src/web/EnrichedTextInput.tsx
Due: lint, types

fix: use newlineCharacterSet instead of hardcoded new line chars
  ios/styles/InlineCodeStyle.mm
Due: clang-format

feat: fast html parser
  ios/inputParser/EnrichedHTMLParser.h
  ios/inputParser/EnrichedHTMLParser.mm
  ios/inputParser/EnrichedHTMLTagUtils.h
  ios/inputParser/HtmlNode.h
  ios/inputParser/HtmlNode.mm
  ios/inputParser/InputParser.mm
  ios/styles/BlockQuoteStyle.mm
  ios/styles/BoldStyle.mm
  ios/styles/CodeBlockStyle.mm
  ios/styles/H1Style.mm
  ios/styles/H2Style.mm
  ios/styles/H3Style.mm
  ios/styles/HeadingStyleBase.mm
  ios/styles/ImageStyle.mm
  ios/styles/InlineCodeStyle.mm
  ios/styles/ItalicStyle.mm
  ios/styles/LinkStyle.mm
  ios/styles/MentionStyle.mm
  ios/styles/OrderedListStyle.mm
  ios/styles/StrikethroughStyle.mm
  ios/styles/UnderlineStyle.mm
  ios/styles/UnorderedListStyle.mm
  ios/utils/BaseStyleProtocol.h
  ios/utils/ParameterizedStyleProtocol.h
  ios/utils/StyleHeaders.h
Due: clang-format

fix: better names for magic hex
  ios/inputParser/EnrichedHTMLParser.mm
  ios/inputParser/EnrichedHTMLTagUtils.h
Due: clang-format

fix: simplify namings
  ios/inputParser/EnrichedHTMLParser.mm
  ios/inputParser/EnrichedHTMLTagUtils.h
Due: clang-format

fix: remove pragma
  ios/inputParser/EnrichedHTMLParser.mm
Due: clang-format

fix: remove pargrma mark
  ios/inputParser/EnrichedHTMLParser.h
Due: clang-format

feat: faster html generation
  ios/inputParser/EnrichedHTMLParser.mm
Due: clang-format

fix: better class namings
  ios/inputParser/EnrichedAttributedStringHTMLSerializer.h
  ios/inputParser/EnrichedAttributedStringHTMLSerializer.mm
  ios/inputParser/EnrichedAttributedStringHTMLSerializerTagUtils.h
  ios/inputParser/InputParser.mm
Due: clang-format

feat: add iOSExperimentalHTMLSerializer prop
  android/src/main/java/com/swmansion/enriched/EnrichedTextInputViewManager.kt
  apps/example/src/App.tsx
  ios/EnrichedTextInputView.h
  ios/EnrichedTextInputView.mm
  ios/inputParser/EnrichedAttributedStringHTMLSerializer.mm
  ios/inputParser/EnrichedAttributedStringHTMLSerializerTagUtils.h
  ios/inputParser/InputParser.mm
  src/EnrichedTextInput.tsx
  src/EnrichedTextInputNativeComponent.ts
Due: lint, types, lint-android, clang-format

fix: rebase with latest main
  ios/styles/H4Style.mm
  ios/styles/H5Style.mm
  ios/styles/H6Style.mm
Due: clang-format

fix: rebase with latest main
  ios/styles/ImageStyle.mm
  ios/styles/InlineCodeStyle.mm
Due: clang-format

fix: better types
  ios/styles/ImageStyle.mm
  ios/styles/LinkStyle.mm
  ios/styles/MentionStyle.mm
  ios/utils/ParameterizedStyleProtocol.h
Due: clang-format

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts, jsx, tsx}
  lint-android: any of: **/*.{kt,kts,java,gradle}
  clang-format: any of: *.{h,m,mm,cpp}, but not: (Pods|build|node_modules)
