Repository software-mansion/react-native-enriched: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, lint-android, clang-format

lint:
  run: npx eslint {staged_files}

types:
  run: npx tsc

lint-android:
  run: cd apps/example/android && ./gradlew lintVerify

clang-format:
  run: npx clang-format -i {staged_files} && git add {staged_files}

feat(web): undo, redo (#622)
  .playwright/helpers/selection.ts
  .playwright/tests/undoRedo.spec.ts
  package.json
  src/web/EnrichedTextInput.tsx
  yarn.lock
Due: lint, types

fix(android): split manual links when newline inserted in link
  android/src/main/java/com/swmansion/enriched/textinput/styles/ParametrizedStyles.kt
  android/src/main/java/com/swmansion/enriched/textinput/utils/EnrichedSelection.kt
Due: lint-android

fix: CVE-2026-46625 security vulnerability
  package.json
  yarn.lock
Due: none

Change banners redirect URL
  README.md
Due: none

docs: add dynamic banner serving to readme (#623)
  README.md
Due: none

fix: add e2e test
  .maestro/enrichedInput/flows/inline_code_paste_into_codeblock.yaml
  .maestro/enrichedInput/screenshots/android/inline_code_paste_into_codeblock.png
  .maestro/enrichedInput/screenshots/ios/inline_code_paste_into_codeblock.png
  android/src/main/java/com/swmansion/enriched/textinput/utils/EnrichedSpannable.kt
Due: lint-android

fix(android): pasting blocking styles (#583)
  .maestro/enrichedInput/flows/inline_code_paste_into_codeblock.yaml
  .maestro/enrichedInput/screenshots/android/inline_code_paste_into_codeblock.png
  .maestro/enrichedInput/screenshots/ios/inline_code_paste_into_codeblock.png
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputView.kt
  android/src/main/java/com/swmansion/enriched/textinput/utils/EnrichedSpannable.kt
Due: lint-android

fix: unify detection events between platforms (#613)
  .playwright/tests/mentions.spec.ts
  .playwright/tests/testLinks.spec.ts
  android/src/main/java/com/swmansion/enriched/textinput/utils/EnrichedSelection.kt
  ios/EnrichedTextInputView.mm
  src/web/pmPlugins/MentionPlugin/subscribeMentionEvents.ts
  src/web/useOnLinkDetected.ts
Due: lint, types, lint-android, clang-format

fix: reuse setSpan logic
  android/src/main/java/com/swmansion/enriched/textinput/styles/InlineStyles.kt
Due: lint-android

fix(iOS): split manual link into multiple links
  ios/EnrichedTextInputView.mm
  ios/styles/LinkStyle.mm
Due: clang-format

fix: refactor splitting manual links
  android/src/main/java/com/swmansion/enriched/textinput/styles/ParametrizedStyles.kt
Due: lint-android

Apply suggestion from @kacperzolkiewski
  ios/EnrichedTextInputView.mm
Due: clang-format

fix(iOS): remove hacks for last element parsing (#621)
  .maestro/enrichedInput/flows/empty_element_parsing.yaml
  .maestro/enrichedInput/screenshots/ios/empty_element_parsing.png
  ios/htmlParser/HtmlParser.mm
Due: clang-format

fix: example app
  apps/example/src/hooks/useEditorState.ts
Due: lint, types

fix(android): remove heading style when backspacing ZWS
  android/src/main/java/com/swmansion/enriched/textinput/styles/ParagraphStyles.kt
  android/src/main/java/com/swmansion/enriched/textinput/watchers/EnrichedTextWatcher.kt
Due: lint-android

feat(ios): allowFontScaling prop implementation on ios
  apps/example/src/screens/DevScreen.tsx
  ios/EnrichedTextInputView.mm
  ios/EnrichedTextView.mm
  ios/config/EnrichedConfig.h
  ios/config/EnrichedConfig.mm
  src/native/EnrichedText.tsx
  src/native/EnrichedTextInput.tsx
  src/spec/EnrichedTextInputNativeComponent.ts
  src/spec/EnrichedTextNativeComponent.ts
  src/types.ts
  src/utils/EnrichedTextInputDefaultProps.ts
Due: lint, types, clang-format

chore: font scaling e2e tests
  .maestro/enrichedInput/flows/font_scaling.yaml
  .maestro/enrichedInput/screenshots/android/font_scaling.png
  .maestro/enrichedInput/screenshots/android/font_scaling__placeholder.png
  .maestro/enrichedInput/screenshots/ios/font_scaling.png
  .maestro/enrichedInput/screenshots/ios/font_scaling__placeholder.png
  .maestro/enrichedText/flows/font_scaling.yaml
  .maestro/enrichedText/screenshots/android/font_scaling.png
  .maestro/enrichedText/screenshots/ios/font_scaling.png
  .maestro/scripts/run-tests.sh
Due: none

fix(android): allowFontScaling in cpp props
  android/src/main/java/com/swmansion/enriched/common/AllowFontScaling.kt
  android/src/main/new_arch/react/renderer/components/ReactNativeEnrichedSpec/conversions.h
  src/spec/EnrichedTextNativeComponent.ts
Due: lint, types, lint-android, clang-format

docs: update docs with allowFontScaling prop
  docs/INPUT_API_REFERENCE.md
  docs/TEXT_API_REFERENCE.md
Due: none

fix(ios): accessibility font sizes dynamic handling on EnrichedText
  ios/EnrichedTextView.mm
Due: clang-format

feat(android): allowFontScaling prop
  android/src/main/java/com/swmansion/enriched/text/EnrichedTextStyle.kt
  android/src/main/java/com/swmansion/enriched/text/EnrichedTextView.kt
  android/src/main/java/com/swmansion/enriched/text/EnrichedTextViewManager.kt
  android/src/main/java/com/swmansion/enriched/text/MeasurementStore.kt
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputView.kt
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputViewManager.kt
  android/src/main/java/com/swmansion/enriched/textinput/MeasurementStore.kt
  android/src/main/java/com/swmansion/enriched/textinput/spans/EnrichedLineHeightSpan.kt
  android/src/main/java/com/swmansion/enriched/textinput/styles/HtmlStyle.kt
Due: lint-android

refactor(android): scaling logic refactor
  android/src/main/java/com/swmansion/enriched/common/AllowFontScaling.kt
  android/src/main/java/com/swmansion/enriched/text/EnrichedTextStyle.kt
  android/src/main/java/com/swmansion/enriched/text/EnrichedTextView.kt
  android/src/main/java/com/swmansion/enriched/text/MeasurementStore.kt
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputView.kt
  android/src/main/java/com/swmansion/enriched/textinput/MeasurementStore.kt
  android/src/main/java/com/swmansion/enriched/textinput/spans/EnrichedLineHeightSpan.kt
  android/src/main/java/com/swmansion/enriched/textinput/styles/HtmlStyle.kt
Due: lint-android

fix: resetting device accessibility settings before running tests
  .maestro/scripts/run-tests.sh
Due: none

refactor: dead code cleanup
  apps/example/src/screens/DevScreen.tsx
Due: lint

fix: fix tests when passing a flow as an argument
  .maestro/enrichedText/flows/font_scaling.yaml
  .maestro/enrichedText/screenshots/android/font_scaling.png
  .maestro/enrichedText/screenshots/ios/font_scaling.png
  .maestro/scripts/run-tests.sh
Due: none

refactor(ios): unneccessary logic
  ios/EnrichedTextInputView.mm
  ios/EnrichedTextView.mm
  ios/config/EnrichedConfig.mm
Due: clang-format

fix: return code aggregation in tests
  .maestro/scripts/run-tests.sh
Due: none

refactor: clean up
  android/src/main/java/com/swmansion/enriched/common/AllowFontScaling.kt
  android/src/main/java/com/swmansion/enriched/common/EnrichedConstants.kt
  android/src/main/java/com/swmansion/enriched/text/EnrichedTextStyle.kt
  android/src/main/java/com/swmansion/enriched/text/EnrichedTextView.kt
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputView.kt
  android/src/main/java/com/swmansion/enriched/textinput/spans/EnrichedLineHeightSpan.kt
  android/src/main/java/com/swmansion/enriched/textinput/styles/HtmlStyle.kt
  apps/example/src/screens/DevScreen.tsx
Due: lint, lint-android

fix: tests flow and updated screenshots
  .maestro/enrichedInput/screenshots/android/font_scaling_placeholder.png
  .maestro/enrichedInput/screenshots/ios/font_scaling_placeholder.png
  .maestro/scripts/run-tests.sh
Due: none

Update .maestro/enrichedInput/flows/font_scaling.yaml
  .maestro/enrichedInput/flows/font_scaling.yaml
Due: none

refactor: textView rendering content cleanup
  ios/EnrichedTextInputView.mm
  ios/EnrichedTextView.mm
Due: clang-format

Update docs/INPUT_API_REFERENCE.md
  docs/INPUT_API_REFERENCE.md
Due: none

Update docs/TEXT_API_REFERENCE.md
  docs/TEXT_API_REFERENCE.md
Due: none

feat: allowFontScaling prop (#620)
  .maestro/enrichedInput/flows/font_scaling.yaml
  .maestro/enrichedInput/screenshots/android/font_scaling.png
  .maestro/enrichedInput/screenshots/android/font_scaling_placeholder.png
  .maestro/enrichedInput/screenshots/ios/font_scaling.png
  .maestro/enrichedInput/screenshots/ios/font_scaling_placeholder.png
  .maestro/enrichedText/flows/font_scaling.yaml
  .maestro/enrichedText/screenshots/android/font_scaling.png
  .maestro/enrichedText/screenshots/ios/font_scaling.png
  .maestro/scripts/run-tests.sh
  android/src/main/java/com/swmansion/enriched/common/AllowFontScaling.kt
  android/src/main/java/com/swmansion/enriched/common/EnrichedConstants.kt
  android/src/main/java/com/swmansion/enriched/text/EnrichedTextStyle.kt
  android/src/main/java/com/swmansion/enriched/text/EnrichedTextView.kt
  android/src/main/java/com/swmansion/enriched/text/EnrichedTextViewManager.kt
  android/src/main/java/com/swmansion/enriched/text/MeasurementStore.kt
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputView.kt
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputViewManager.kt
  android/src/main/java/com/swmansion/enriched/textinput/MeasurementStore.kt
  android/src/main/java/com/swmansion/enriched/textinput/spans/EnrichedLineHeightSpan.kt
  android/src/main/java/com/swmansion/enriched/textinput/styles/HtmlStyle.kt
  android/src/main/new_arch/react/renderer/components/ReactNativeEnrichedSpec/conversions.h
  docs/INPUT_API_REFERENCE.md
  docs/TEXT_API_REFERENCE.md
  ios/EnrichedTextInputView.mm
  ios/EnrichedTextView.mm
  ios/config/EnrichedConfig.h
  ios/config/EnrichedConfig.mm
  src/native/EnrichedText.tsx
  src/native/EnrichedTextInput.tsx
  src/spec/EnrichedTextInputNativeComponent.ts
  src/spec/EnrichedTextNativeComponent.ts
  src/types.ts
  src/utils/EnrichedTextInputDefaultProps.ts
Due: lint, types, lint-android, clang-format

fix(android): remove heading style when backspacing ZWS (#626)
  android/src/main/java/com/swmansion/enriched/textinput/styles/ParagraphStyles.kt
  android/src/main/java/com/swmansion/enriched/textinput/watchers/EnrichedTextWatcher.kt
Due: lint-android

chore: remove js-beautify
  apps/example-web/package.json
  apps/example-web/src/components/HtmlOutputPanel.tsx
  yarn.lock
Due: lint

fix: code review fixes
  android/src/main/java/com/swmansion/enriched/common/parser/EnrichedParser.java
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputView.kt
  android/src/main/java/com/swmansion/enriched/textinput/utils/EnrichedSpanState.kt
Due: lint-android

fix: copilot code review fixes
  android/src/main/java/com/swmansion/enriched/text/EnrichedTextSpanFactory.kt
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputSpannableFactory.kt
  android/src/main/java/com/swmansion/enriched/textinput/styles/AlignmentStyles.kt
  android/src/main/java/com/swmansion/enriched/textinput/styles/ListStyles.kt
  android/src/main/java/com/swmansion/enriched/textinput/utils/EnrichedSpannableStringBuilder.kt
Due: lint-android

fix(android): set piority of applied spans
  android/src/main/java/com/swmansion/enriched/common/EnrichedSpanFlags.kt
  android/src/main/java/com/swmansion/enriched/common/parser/EnrichedParser.java
  android/src/main/java/com/swmansion/enriched/text/EnrichedTextView.kt
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputView.kt
  android/src/main/java/com/swmansion/enriched/textinput/styles/InlineStyles.kt
  android/src/main/java/com/swmansion/enriched/textinput/styles/ListStyles.kt
  android/src/main/java/com/swmansion/enriched/textinput/styles/ParagraphStyles.kt
  android/src/main/java/com/swmansion/enriched/textinput/styles/ParametrizedStyles.kt
  android/src/main/java/com/swmansion/enriched/textinput/utils/EnrichedSpannable.kt
  android/src/main/java/com/swmansion/enriched/textinput/utils/Utils.kt
Due: lint-android

chore: remove js-beautify (#628)
  apps/example-web/package.json
  apps/example-web/src/components/HtmlOutputPanel.tsx
  yarn.lock
Due: lint

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts, jsx, tsx}
  lint-android: any of: **/*.{kt,kts,java,gradle}
  clang-format: any of: *.{h,m,mm,cpp}, but not: (Pods|build|node_modules)
