Repository software-mansion/react-native-enriched: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, lint-android, clang-format

lint:
  run: npx eslint {staged_files}

types:
  run: npx tsc

lint-android:
  run: cd apps/example/android && ./gradlew lintVerify

clang-format:
  run: npx clang-format -i {staged_files} && git add {staged_files}

test: added a visual test
  .playwright/screenshots/paragraph-styles-visual-blockquote.png
  .playwright/screenshots/paragraph-styles-visual-codeblock.png
  .playwright/screenshots/paragraph-styles-visual-headings.png
  .playwright/tests/paragraphStylesVisual.spec.ts
  apps/example-web/src/App.tsx
  apps/example-web/src/testScreens/VisualRegression.tsx
  src/web/EnrichedTextInput.css
Due: lint, types

fix: checkbox display
  apps/example/src/components/TextRenderer.tsx
  ios/EnrichedTextInputView.mm
  ios/EnrichedTextView.mm
  ios/styles/MentionStyle.mm
Due: lint, clang-format

fix: styling
  ios/EnrichedTextInputView.mm
Due: clang-format

test: added more tests
  .playwright/screenshots/codeblock-inline-styles-paste-stripped.png
  .playwright/screenshots/codeblock-inline-styles-setvalue-stripped.png
  .playwright/screenshots/wrapped-block-keyboard-backspace-after-lift-blockquote.png
  .playwright/screenshots/wrapped-block-keyboard-backspace-after-lift-codeblock.png
  .playwright/screenshots/wrapped-block-keyboard-backspace-after-merge-blockquote.png
  .playwright/screenshots/wrapped-block-keyboard-backspace-after-merge-codeblock.png
  .playwright/screenshots/wrapped-block-keyboard-enter-blockquote.png
  .playwright/screenshots/wrapped-block-keyboard-enter-codeblock.png
  .playwright/tests/codeblockInlineStyles.spec.ts
  .playwright/tests/headingBoldFromStyle.spec.ts
  .playwright/tests/wrappedBlockKeyboard.spec.ts
  apps/example-web/src/testScreens/VisualRegression.tsx
Due: lint, types

fix: setting test as input value
  ios/EnrichedTextInputView.mm
Due: clang-format

refactor: extract common things in web tests
  .playwright/helpers/clipboard.ts
  .playwright/helpers/toolbar.ts
  .playwright/helpers/visual-regression.ts
  .playwright/tests/codeblockInlineStyles.spec.ts
  .playwright/tests/headingBoldFromStyle.spec.ts
  .playwright/tests/inlineStyles.spec.ts
  .playwright/tests/paragraphStylesVisual.spec.ts
  .playwright/tests/strictMarks.spec.ts
  .playwright/tests/wrappedBlockKeyboard.spec.ts
Due: lint, types

refactor: clean up htmlStyleToCSSVars
  .playwright/tests/headingBoldFromStyle.spec.ts
  src/web/EnrichedTextInput.tsx
  src/web/formats/EnrichedHeading.ts
  src/web/formats/formatRules.ts
  src/web/formats/wrappedBlockKeyboard.ts
  src/web/pmPlugins/stripBoldInStyledHeadingsPlugin.ts
  src/web/styleConversion/__tests__/htmlStyleToCSSVariables.test.ts
  src/web/styleConversion/htmlStyleToCSSVariables.ts
Due: lint, types

fix: applying style order
  ios/EnrichedTextView.mm
Due: clang-format

test: added a test for conflicting styles
  .playwright/tests/conflictingBlockStyles.spec.ts
  src/web/formats/EnrichedCodeBlock.ts
Due: lint, types

fix: tiny fixes
  .playwright/helpers/clipboard.ts
  .playwright/helpers/visual-regression.ts
  apps/example-web/src/App.tsx
  apps/example-web/src/components/Toolbar.tsx
  apps/example-web/src/defaultHtmlStyle.ts
  apps/example-web/src/testScreens/VisualRegression.tsx
  src/web/pmPlugins/mergeAdjacentSameKindBlocksPlugin.ts
Due: lint, types

refactor: cleanup stripBoldInStyledHeadings
  apps/example-web/src/App.css
  src/web/EnrichedTextInput.tsx
  src/web/pmPlugins/stripBoldInStyledHeadingsPlugin.ts
Due: lint, types

fix: inline code should not have padding
  .playwright/screenshots/inline-styles.png
  src/web/EnrichedTextInput.css
Due: none

test: add e2e tests for enriched text
  .maestro/enrichedText/flows/custom_styles_display.yaml
  .maestro/enrichedText/flows/empty_list_elements_display.yaml
  .maestro/enrichedText/flows/inline_styles_display.yaml
  .maestro/enrichedText/flows/link_press.yaml
  .maestro/enrichedText/flows/mention_press.yaml
  .maestro/enrichedText/flows/paragraph_styles_display.yaml
  .maestro/enrichedText/screenshots/android/custom_styles_display.png
  .maestro/enrichedText/screenshots/android/empty_list_elements_display.png
  .maestro/enrichedText/screenshots/android/inline_styles_display.png
  .maestro/enrichedText/screenshots/android/link_press.png
  .maestro/enrichedText/screenshots/android/mention_press.png
  .maestro/enrichedText/screenshots/android/paragraph_styles_display.png
  .maestro/enrichedText/subflows/capture_or_assert_screenshot.yaml
  .maestro/enrichedText/subflows/set_enriched_text_value.yaml
  apps/example/src/screens/EnrichedTextScreen.tsx
Due: lint

fix: displaying async images
  android/src/main/java/com/swmansion/enriched/common/spans/EnrichedImageSpan.kt
  android/src/main/java/com/swmansion/enriched/text/EnrichedTextView.kt
Due: lint-android

Update .maestro/enrichedText/flows/mention_press.yaml
  .maestro/enrichedText/flows/mention_press.yaml
Due: none

test: add e2e tests for enriched text
  .maestro/enrichedText/screenshots/ios/custom_styles_display.png
  .maestro/enrichedText/screenshots/ios/empty_list_elements_display.png
  .maestro/enrichedText/screenshots/ios/inline_styles_display.png
  .maestro/enrichedText/screenshots/ios/link_press.png
  .maestro/enrichedText/screenshots/ios/mention_press.png
  .maestro/enrichedText/screenshots/ios/paragraph_styles_display.png
  ios/inputParser/InputParser.mm
  package.json
Due: clang-format

fix: e2e tests
  .maestro/enrichedInput/subflows/capture_or_assert_screenshot.yaml
  .maestro/enrichedText/flows/empty_list_elements_display.yaml
  .maestro/enrichedText/flows/inline_styles_display.yaml
  .maestro/enrichedText/flows/link_press.yaml
  .maestro/enrichedText/flows/mention_press.yaml
  .maestro/enrichedText/flows/paragraph_styles_display.yaml
  .maestro/enrichedText/subflows/capture_or_assert_screenshot.yaml
  .maestro/subflows/capture_or_assert_screenshot.yaml
  CONTRIBUTING.md
Due: none

fix: move enriched text styles to defaultHtmlStyle file
  src/index.tsx
  src/types.ts
  src/utils/defaultHtmlStyle.ts
  src/utils/normalizeHtmlStyle.ts
Due: lint, types

fix: make link/mention clickable when selectable is true
  android/src/main/java/com/swmansion/enriched/text/EnrichedTextMovementMethod.kt
  android/src/main/java/com/swmansion/enriched/text/EnrichedTextView.kt
Due: lint-android

fix: revert changes from EnrichedTextMovementMethod
  android/src/main/java/com/swmansion/enriched/text/EnrichedTextMovementMethod.kt
Due: lint-android

test: remove android only tag
  .maestro/enrichedText/flows/empty_list_elements_display.yaml
  .maestro/enrichedText/flows/inline_styles_display.yaml
  .maestro/enrichedText/flows/link_press.yaml
  .maestro/enrichedText/flows/mention_press.yaml
  .maestro/enrichedText/flows/paragraph_styles_display.yaml
Due: none

fix: use html normalizer
  ios/EnrichedTextView.mm
Due: clang-format

fix: list ordering
  .maestro/enrichedText/screenshots/ios/empty_list_elements_display.png
  ios/extensions/LayoutManagerExtension.mm
  ios/inputParser/InputParser.mm
Due: clang-format

fix: displaying images
  ios/EnrichedTextView.mm
  ios/extensions/LayoutManagerExtension.mm
  ios/htmlParser/HtmlParser.mm
  ios/utils/OccurenceUtils.mm
  ios/utils/ZeroWidthSpaceUtils.h
  ios/utils/ZeroWidthSpaceUtils.mm
Due: clang-format

Update android/src/main/java/com/swmansion/enriched/text/EnrichedTextView.kt
  android/src/main/java/com/swmansion/enriched/text/EnrichedTextView.kt
Due: lint-android

fix: formatting stripped when autocorrect applied
  ios/EnrichedTextInputView.mm
  ios/attributesManager/AttributesManager.h
  ios/attributesManager/AttributesManager.mm
Due: clang-format

feat(android): add gumbo parser to enriched text
  android/src/main/java/com/swmansion/enriched/text/EnrichedTextView.kt
Due: lint-android

fix: onLinkDetect retuning wrong link ranges
  ios/interfaces/LinkData.mm
Due: clang-format

test: add e2e for external html parsing
  .maestro/enrichedText/flows/external_html_parsing.yaml
  .maestro/enrichedText/screenshots/android/external_html_parsing.png
Due: none

fix: e2e screenshot
  .maestro/enrichedText/flows/external_html_parsing.yaml
  .maestro/enrichedText/screenshots/android/external_html_parsing.png
Due: none

Update .maestro/enrichedText/flows/external_html_parsing.yaml
  .maestro/enrichedText/flows/external_html_parsing.yaml
Due: none

fix: remove link styling inside codeblock
  android/src/main/java/com/swmansion/enriched/textinput/spans/EnrichedSpans.kt
  android/src/main/java/com/swmansion/enriched/textinput/styles/ParametrizedStyles.kt
Due: lint-android

fix: fixed toggling with block styles
  .playwright/tests/conflictingBlockStyles.spec.ts
  src/web/formats/EnrichedBlockquote.ts
  src/web/formats/EnrichedCodeBlock.ts
  src/web/formats/EnrichedHeading.ts
  src/web/formats/formatRules.ts
Due: lint, types

chore: rename EnrichedCodeBlock name to just codeBlock
  src/web/EnrichedTextInput.tsx
  src/web/formats/EnrichedCodeBlock.ts
  src/web/formats/formatRules.ts
  src/web/pmPlugins/mergeAdjacentSameKindBlocksPlugin.ts
  src/web/pmPlugins/stripMarksInCodeBlockPlugin.ts
  src/web/useOnChangeState.ts
Due: lint, types

chore: rename to strictMarksPlugin
  src/web/EnrichedTextInput.tsx
  src/web/pmPlugins/strictMarksPlugin.ts
Due: lint, types

fix: fixed issues with refs
  src/web/EnrichedTextInput.tsx
  src/web/pmPlugins/stripBoldInStyledHeadingsPlugin.ts
Due: lint, types

chore: rename defaultHtmlStyle
  apps/example-web/src/App.tsx
  apps/example-web/src/defaultHtmlStyle.ts
  apps/example-web/src/testScreens/VisualRegression.tsx
Due: lint, types

fix: pasting copied screenshots
  ios/inputTextView/InputTextView.mm
Due: clang-format

chore: resolve comments
  src/web/EnrichedTextInput.tsx
  src/web/useOnChangeState.ts
Due: lint, types

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts, jsx, tsx}
  lint-android: any of: **/*.{kt,kts,java,gradle}
  clang-format: any of: *.{h,m,mm,cpp}, but not: (Pods|build|node_modules)
