Repository software-mansion/react-native-enriched: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, clang-format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint {staged_files}
    types:
      glob: "*.{js,ts, jsx, tsx}"
      run: npx tsc
    clang-format:
      glob: "*.{h,m,mm,cpp}"
      exclude: "(Pods|build|node_modules)"
      run: clang-format --dry-run --Werror {staged_files}
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

fix: remove pragma
  ios/inputParser/EnrichedHTMLParser.mm
Due: clang-format

fix: remove pargrma mark
  ios/inputParser/EnrichedHTMLParser.h
Due: clang-format

fix: simplify namings
  ios/inputParser/EnrichedHTMLParser.mm
  ios/inputParser/EnrichedHTMLTagUtils.h
Due: clang-format

fix: better names for magic hex
  ios/inputParser/EnrichedHTMLParser.mm
  ios/inputParser/EnrichedHTMLTagUtils.h
Due: clang-format

Update src/EnrichedTextInput.tsx
  src/EnrichedTextInput.tsx
Due: lint

feat: implement suggested fixes for getHTML method
  android/src/main/java/com/swmansion/enriched/EnrichedTextInputView.kt
  android/src/main/java/com/swmansion/enriched/EnrichedTextInputViewManager.kt
  android/src/main/java/com/swmansion/enriched/events/OnRequestHtmlResultEvent.kt
  android/src/main/java/com/swmansion/enriched/utils/EnrichedParser.java
  ios/EnrichedTextInputView.mm
  src/EnrichedTextInput.tsx
  src/EnrichedTextInputNativeComponent.ts
Due: lint, types, clang-format

feat: faster html generation
  ios/inputParser/EnrichedHTMLParser.mm
Due: clang-format

fix: redraw elements only in visible area
  ios/utils/LayoutManagerExtension.mm
Due: clang-format

fix: rename args
  ios/utils/LayoutManagerExtension.mm
Due: clang-format

fix: rename method args
  ios/utils/LayoutManagerExtension.mm
Due: clang-format

fix: code review changes
  ios/inputParser/InputParser.mm
Due: clang-format

chore: tiny improvements, fix missing android import
  android/src/main/java/com/swmansion/enriched/EnrichedTextInputViewManager.kt
  src/EnrichedTextInput.tsx
Due: lint

fix: lint clang
  ios/EnrichedTextInputView.mm
Due: clang-format

Update android/src/main/java/com/swmansion/enriched/styles/ParagraphStyles.kt
  android/src/main/java/com/swmansion/enriched/styles/ParagraphStyles.kt
Due: none

fix: double change extended span range
  android/src/main/java/com/swmansion/enriched/styles/ParagraphStyles.kt
Due: none

fix: handle conflicts between paragraphs (#306)
  android/src/main/java/com/swmansion/enriched/spans/EnrichedSpans.kt
  android/src/main/java/com/swmansion/enriched/styles/ParagraphStyles.kt
Due: none

feat: get HTML value imperatively (#310)
  android/src/main/java/com/swmansion/enriched/EnrichedTextInputView.kt
  android/src/main/java/com/swmansion/enriched/EnrichedTextInputViewManager.kt
  android/src/main/java/com/swmansion/enriched/events/OnRequestHtmlResultEvent.kt
  android/src/main/java/com/swmansion/enriched/utils/EnrichedParser.java
  docs/API_REFERENCE.md
  ios/EnrichedTextInputView.mm
  src/EnrichedTextInput.tsx
  src/EnrichedTextInputNativeComponent.ts
Due: lint, types, clang-format

fix: better class namings
  ios/inputParser/EnrichedAttributedStringHTMLSerializer.h
  ios/inputParser/EnrichedAttributedStringHTMLSerializer.mm
  ios/inputParser/EnrichedAttributedStringHTMLSerializerTagUtils.h
  ios/inputParser/InputParser.mm
Due: clang-format

fix: setting recently emitted string
  ios/EnrichedTextInputView.mm
Due: clang-format

feat: initialize Vite + React web example
  .gitignore
  apps/example-web/README.md
  apps/example-web/eslint.config.mjs
  apps/example-web/index.html
  apps/example-web/package.json
  apps/example-web/src/App.css
  apps/example-web/src/App.tsx
  apps/example-web/src/index.css
  apps/example-web/src/main.tsx
  apps/example-web/tsconfig.app.json
  apps/example-web/tsconfig.json
  apps/example-web/tsconfig.node.json
  apps/example-web/vite.config.ts
  eslint.config.mjs
  package.json
  tsconfig.base.json
  tsconfig.build.json
  tsconfig.json
  turbo.json
  yarn.lock
Due: lint, types

chore: update docs
  README.md
  docs/API_REFERENCE.md
Due: none

fix: clang
  ios/EnrichedTextInputView.mm
Due: clang-format

chore: one more docs update
  docs/API_REFERENCE.md
Due: none

fix: invalidate spans instead of parsing the whole string
  android/src/main/java/com/swmansion/enriched/EnrichedTextInputView.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedBlockQuoteSpan.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedBoldSpan.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedCodeBlockSpan.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedH1Span.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedH2Span.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedH3Span.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedImageSpan.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedInlineCodeSpan.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedItalicSpan.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedLinkSpan.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedMentionSpan.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedOrderedListSpan.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedStrikeThroughSpan.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedUnderlineSpan.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedUnorderedListSpan.kt
  android/src/main/java/com/swmansion/enriched/spans/interfaces/EnrichedSpan.kt
  example/src/App.tsx
Due: lint

fix: recalculating layout after changing html styles
  android/src/main/java/com/swmansion/enriched/EnrichedTextInputView.kt
  example/src/App.tsx
Due: lint

fix: add dependsOnHtml field to skip base spans
  android/src/main/java/com/swmansion/enriched/EnrichedTextInputView.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedBlockQuoteSpan.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedBoldSpan.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedCodeBlockSpan.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedH1Span.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedH2Span.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedH3Span.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedImageSpan.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedInlineCodeSpan.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedItalicSpan.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedLinkSpan.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedMentionSpan.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedOrderedListSpan.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedStrikeThroughSpan.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedUnderlineSpan.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedUnorderedListSpan.kt
  android/src/main/java/com/swmansion/enriched/spans/interfaces/EnrichedSpan.kt
  example/src/App.tsx
Due: lint

fix: app.tsx clean up
  example/src/App.tsx
Due: lint

fix: proper method name
  android/src/main/java/com/swmansion/enriched/EnrichedTextInputView.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedImageSpan.kt
Due: none

fix: add equals and hash code for htmlStyle
  android/src/main/java/com/swmansion/enriched/styles/HtmlStyle.kt
Due: none

fix: properly apply/remove spans
  android/src/main/java/com/swmansion/enriched/EnrichedTextInputView.kt
Due: none

chore: update docs - getHtml (#327)
  README.md
  docs/API_REFERENCE.md
Due: none

fix: maintain view port position after updating styles
  android/src/main/java/com/swmansion/enriched/EnrichedTextInputView.kt
  example/src/App.tsx
Due: lint

feat: add CI job for example web build
  .github/workflows/ci.yml
Due: none

feat: update README and package.json for example-web script
  apps/example-web/README.md
  package.json
Due: none

fix: merging conflicting paragrah styles
  ios/EnrichedTextInputView.mm
  ios/utils/ParagraphAttributesUtils.h
  ios/utils/ParagraphAttributesUtils.mm
Due: clang-format

fix: calculating right range
  ios/utils/ParagraphAttributesUtils.mm
Due: clang-format

chore: code style improvements
  android/src/main/java/com/swmansion/enriched/EnrichedTextInputView.kt
  android/src/main/java/com/swmansion/enriched/styles/HtmlStyle.kt
  example/src/App.tsx
Due: lint
