Repository software-mansion/react-native-enriched: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, lint-android, clang-format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint {staged_files}
    types:
      glob: "*.{js,ts, jsx, tsx}"
      run: npx tsc
    lint-android:
      glob: "**/*.{kt,kts,java,gradle}"
      run: cd apps/example/android && ./gradlew lintVerify
    clang-format:
      glob: "*.{h,m,mm,cpp}"
      exclude: "(Pods|build|node_modules)"
      run: npx clang-format -i {staged_files} && git add {staged_files}
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

fix: resolve conflicts in parser
  ios/EnrichedTextInputView.mm
  ios/htmlParser/HtmlParser.mm
  ios/inputHtmlParser/InputHtmlParser.mm
  ios/utils/AlignmentUtils.h
  ios/utils/AlignmentUtils.mm
Due: clang-format

fix: add source to exports
  package.json
Due: none

chore: switch style to EnrichedInputStyle (#581)
  docs/API_REFERENCE.md
  docs/enriched-input-style.md
  src/index.tsx
  src/index.web.tsx
  src/types.ts
  src/web/EnrichedTextInput.tsx
Due: lint, types

feat: implemented paste
  apps/example-web/src/App.tsx
  docs/API_REFERENCE.md
  src/types.ts
  src/web/EnrichedTextInput.tsx
  src/web/pasteImages.ts
  src/web/pastedImageDimensions.ts
Due: lint, types

fix(web): scroll list editor into view after Enter
  .gitignore
  .playwright/tests/listKeyboard.spec.ts
  src/web/formats/listKeyboard.ts
Due: lint, types

test: added a test
  .gitignore
  .playwright/screenshots/list-keyboard-enter-causes-scrolling-bullet.png
  .playwright/screenshots/list-keyboard-enter-causes-scrolling-checkbox.png
  .playwright/screenshots/list-keyboard-enter-causes-scrolling-ordered.png
  .playwright/tests/listKeyboard.spec.ts
Due: lint, types

fix(web): switched handleKeyPress -> handleKeyDown
  src/web/EnrichedTextInput.tsx
Due: lint

chore: expose web and switch .tsx -> .native.tsx, .web.tsx -> .tsx (#582)
  apps/example-web/tsconfig.app.json
  apps/example-web/vite.config.ts
  apps/example/tsconfig.json
  package.json
  src/index.native.tsx
  src/index.tsx
  tsconfig.json
Due: lint, types

fix: fixed positionMapping
  src/web/positionMapping.ts
Due: lint, types

fix: fixed setLink
  .playwright/tests/testLinks.spec.ts
  src/web/formats/EnrichedLink.ts
Due: lint, types

docs: create web docs
  README.md
  docs/WEB.md
Due: none

docs: add info about ui mode
  CONTRIBUTING.md
Due: none

docs: add info about ui mode (#589)
  CONTRIBUTING.md
Due: none

fix(web): fixed onKeyPress not being called with Enter and Backspace (#585)
  src/web/EnrichedTextInput.tsx
Due: lint

fix(web): list scrolling (#586)
  .playwright/screenshots/list-keyboard-enter-causes-scrolling-bullet.png
  .playwright/screenshots/list-keyboard-enter-causes-scrolling-checkbox.png
  .playwright/screenshots/list-keyboard-enter-causes-scrolling-ordered.png
  .playwright/tests/listKeyboard.spec.ts
  src/web/formats/listKeyboard.ts
Due: lint, types

docs: enriched text docs
  README.md
  docs/ENRICHED_INPUT_STYLE.md
  docs/INPUT_API_REFERENCE.md
  docs/TEXT_API_REFERENCE.md
Due: none

chore: resolve issues
  docs/WEB.md
Due: none

fix(web): fixed setLink and positionMapping (#587)
  .playwright/tests/testLinks.spec.ts
  src/web/formats/EnrichedLink.ts
  src/web/positionMapping.ts
Due: lint, types

Update README.md
  README.md
Due: none

docs: enriched text docs (#590)
  README.md
  docs/ENRICHED_INPUT_STYLE.md
  docs/INPUT_API_REFERENCE.md
  docs/TEXT_API_REFERENCE.md
Due: none

chore: move EnrichedText into native directory
  src/index.native.tsx
  src/native/EnrichedText.tsx
  src/types.ts
Due: lint, types

docs: create web docs (#588)
  README.md
  docs/WEB.md
Due: none

chore: move EnrichedText into native directory (#591)
  src/index.native.tsx
  src/native/EnrichedText.tsx
  src/types.ts
Due: lint, types

chore: release 0.7.0
  apps/example/ios/Podfile.lock
  package.json
Due: none

chore: release 0.7.0 (#592)
  apps/example/ios/Podfile.lock
  package.json
Due: none

feat: base implementation
  .cursor/sandbox.json
  apps/example-web/src/App.css
  apps/example-web/src/App.tsx
  apps/example-web/src/components/Toolbar.tsx
  apps/example-web/src/components/UserMentionSuggestions.css
  apps/example-web/src/components/UserMentionSuggestions.tsx
  apps/example-web/src/constants/mockUserMentions.ts
  apps/example-web/src/hooks/useUserMentionWeb.ts
  apps/example/src/hooks/useEditorState.ts
  apps/example/src/hooks/useUserMention.ts
  package.json
  src/web/EnrichedTextInput.css
  src/web/EnrichedTextInput.tsx
  src/web/formats/EnrichedMention.ts
  src/web/formats/formatRules.ts
  src/web/pmPlugins/atSuggestionExtension.ts
  src/web/pmPlugins/enrichedAtSuggestionMatch.ts
  src/web/pmPlugins/mentionMarkIntegrityPlugin.ts
  src/web/pmPlugins/strictMarksPlugin.ts
  src/web/styleConversion/htmlStyleToCSSVariables.ts
  src/web/useOnChangeState.ts
  test-results/.last-run.json
  yarn.lock
Due: lint, types

fix: onMentionDetected callback
  src/web/EnrichedTextInput.tsx
  src/web/formats/EnrichedMention.ts
  src/web/useOnMentionDetected.ts
Due: lint, types

fix: fixed mention detection inside a finalized one
  src/web/pmPlugins/atSuggestionExtension.ts
Due: lint, types

fix: alignment after mataatributes remake
  ios/htmlParser/HtmlParser.mm
  ios/inputAttributesManager/InputAttributesManager.mm
  ios/utils/AlignmentUtils.h
  ios/utils/AlignmentUtils.mm
  ios/utils/TextInsertionUtils.mm
  ios/utils/ZeroWidthSpaceUtils.h
  ios/utils/ZeroWidthSpaceUtils.mm
Due: clang-format

fix: refactor alignment to style
  ios/inputAttributesManager/InputAttributesManager.mm
  ios/interfaces/EnrichedTextStyleHeaders.h
  ios/interfaces/StyleHeaders.h
  ios/interfaces/StyleTypeEnum.h
  ios/styles/AlignmentStyle.mm
  ios/styles/EnrichedTextStyles.mm
  ios/textHtmlParser/TextHtmlParser.mm
  ios/utils/AlignmentUtils.h
  ios/utils/AlignmentUtils.mm
  ios/utils/StyleUtils.mm
Due: clang-format

fix(android): remove link styling inside codeblock (#557)
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputView.kt
  android/src/main/java/com/swmansion/enriched/textinput/spans/EnrichedSpans.kt
  android/src/main/java/com/swmansion/enriched/textinput/styles/ParametrizedStyles.kt
Due: lint-android

fix: improved mention insertion when partial match
  apps/example-web/src/App.tsx
  apps/example/src/screens/DevScreen.tsx
  package.json
  src/web/EnrichedTextInput.tsx
  src/web/formats/EnrichedMention.ts
  src/web/pmPlugins/atSuggestionExtension.ts
  src/web/pmPlugins/enrichedAtSuggestionMatch.ts
  src/web/pmPlugins/mentionMarkIntegrityPlugin.ts
  src/web/pmPlugins/mentionPlugin.ts
  src/web/styleConversion/htmlStyleToCSSVariables.ts
  src/web/useOnMentionDetected.ts
  yarn.lock
Due: lint, types

fix: fixed pasting partial mentions
  src/web/pmPlugins/mentionPlugin.ts
Due: lint, types

fix: fixed blocking mentions in codeblock
  src/web/pmPlugins/mentionPlugin.ts
Due: lint, types

chore: styling changes in example-web
  apps/example-web/src/App.css
  apps/example-web/src/App.tsx
  apps/example-web/src/components/UserMentionSuggestions.css
Due: lint

chore: extract mention styling to separate pr
  src/web/EnrichedTextInput.css
  src/web/EnrichedTextInput.tsx
  src/web/styleConversion/htmlStyleToCSSVariables.ts
Due: lint, types

fix: mention mark priority
  src/web/formats/EnrichedMention.ts
  src/web/pmPlugins/mentionPlugin.ts
Due: lint, types

refactor: change mention tiptap name
  src/web/formats/EnrichedMention.ts
  src/web/formats/formatRules.ts
  src/web/pmPlugins/mentionPlugin.ts
  src/web/pmPlugins/strictMarksPlugin.ts
  src/web/useOnChangeState.ts
Due: lint, types

refactor: refactor out common logic between link and mention in strictMarks
  src/web/pmPlugins/strictMarksPlugin.ts
Due: lint, types

fix: conflicting and blocking styles
  src/web/formats/formatRules.ts
Due: lint, types
