Repository software-mansion/react-native-enriched: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, lint-android, clang-format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint {staged_files}
    types:
      glob: "*.{js,ts, jsx, tsx}"
      run: npx tsc
    lint-android:
      glob: "**/*.{kt,kts,java,gradle}"
      run: cd apps/example/android && ./gradlew lintVerify
    clang-format:
      glob: "*.{h,m,mm,cpp}"
      exclude: "(Pods|build|node_modules)"
      run: npx clang-format -i {staged_files} && git add {staged_files}
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

fix(android): inline styles reapply (#616)
  android/src/main/java/com/swmansion/enriched/textinput/styles/InlineStyles.kt
  android/src/main/java/com/swmansion/enriched/textinput/watchers/EnrichedTextWatcher.kt
Due: lint-android

feat(web): html normalizer tests
  package.json
  src/web/EnrichedTextInput.tsx
  src/web/__tests__/htmlNormalizer.test.ts
  src/web/customHtmlNormalizer.ts
  src/web/tiptapHtmlNormalizer.ts
  yarn.lock
Due: lint, types

feat(web): html normalization
  package.json
  src/web/EnrichedTextInput.tsx
  src/web/__tests__/htmlNormalizer.test.ts
  src/web/customHtmlNormalizer.ts
  src/web/tiptapHtmlNormalizer.ts
  yarn.lock
Due: lint, types

feat: remove sanitize-html
  package.json
  src/web/__tests__/htmlNormalizer.test.ts
  src/web/htmlNormalizer.ts
  src/web/tiptapHtmlNormalizer.ts
  yarn.lock
Due: lint, types

feat: adjust opacity settings
  android/src/main/java/com/swmansion/enriched/text/EnrichedTextStyle.kt
  android/src/main/java/com/swmansion/enriched/textinput/styles/HtmlStyle.kt
  ios/extensions/ColorExtension.h
  ios/extensions/ColorExtension.mm
  ios/extensions/LayoutManagerExtension.mm
  ios/styles/InlineCodeStyle.mm
  ios/styles/MentionStyle.mm
  ios/utils/EnrichedTextTouchHandler.mm
Due: lint-android, clang-format

feat(web): image paste (#584)
  apps/example-web/src/App.tsx
  docs/INPUT_API_REFERENCE.md
  docs/WEB.md
  src/types.ts
  src/web/EnrichedTextInput.tsx
  src/web/pasteImages.ts
  src/web/pastedImageDimensions.ts
Due: lint, types

chore: specify jsdoc
  src/types.ts
Due: lint, types

fix: stale lockfile
  yarn.lock
Due: none

fix: add zws at the beginning of paragraph for alignment
  android/src/main/java/com/swmansion/enriched/textinput/styles/AlignmentStyles.kt
Due: lint-android

feat(web): autolinks base implementation
  src/web/emitLinkDetected.ts
  src/web/pmPlugins/autolinkPlugin/autolinkRegex.test.ts
  src/web/pmPlugins/autolinkPlugin/autolinkRegex.ts
  src/web/pmPlugins/autolinkPlugin/index.ts
  src/web/pmPlugins/autolinkPlugin/stripAutolinkMarksOnPaste.ts
Due: lint, types

fix: ref null potential issue
  src/web/useOnLinkDetected.ts
Due: lint, types

fix: fixed bugs around edges and link detection
  src/web/EnrichedTextInput.tsx
  src/web/formats/EnrichedLink.ts
  src/web/pmPlugins/autolinkPlugin/autolinkRegex.test.ts
  src/web/pmPlugins/autolinkPlugin/autolinkRegex.ts
  src/web/useOnLinkDetected.ts
Due: lint, types

docs: checkpoint autolink e2e plan
  docs/autolinks-e2e-plan.md
Due: none

test: added tests
  .playwright/helpers/clipboard.ts
  .playwright/playwright.config.ts
  .playwright/tests/testLinks.spec.ts
  apps/example-web/src/App.tsx
  apps/example-web/src/testScreens/TestLinks.tsx
  docs/WEB.md
  docs/autolinks-e2e-plan.md
  src/web/pmPlugins/autolinkPlugin/autolinkRegex.test.ts
  src/web/pmPlugins/autolinkPlugin/autolinkRegex.ts
  src/web/pmPlugins/autolinkPlugin/index.ts
Due: lint, types

chore: tiny fixes
  .playwright/tests/testLinks.spec.ts
  apps/example-web/src/testScreens/TestLinks.tsx
  src/web/formats/EnrichedLink.ts
Due: lint, types

chore: remove useless .md file
  docs/autolinks-e2e-plan.md
Due: none

fix: remove not needed stripAutolinkMarksOnPaste
  src/web/formats/EnrichedLink.ts
  src/web/pmPlugins/autolinkPlugin/index.ts
  src/web/pmPlugins/autolinkPlugin/stripAutolinkMarksOnPaste.ts
Due: lint, types

fix: auto https prefix in links
  .playwright/tests/testLinks.spec.ts
  src/web/formats/EnrichedLink.ts
  src/web/pmPlugins/autolinkPlugin/autolinkRegex.ts
  src/web/pmPlugins/autolinkPlugin/index.ts
Due: lint, types

fix: text alignment bugs
  android/src/main/java/com/swmansion/enriched/textinput/styles/AlignmentStyles.kt
  android/src/main/java/com/swmansion/enriched/textinput/styles/ParametrizedStyles.kt
Due: lint-android

refactor: consistent autolink plugin creation
  src/web/EnrichedTextInput.tsx
  src/web/emitLinkDetected.ts
  src/web/pmPlugins/AutolinkPlugin/autolinkRegex.ts
  src/web/pmPlugins/AutolinkPlugin/index.ts
  src/web/useOnLinkDetected.ts
Due: lint, types

refactor: typed plugin options
  src/web/pmPlugins/AutolinkPlugin/index.ts
  src/web/pmPlugins/StripBoldInStyledHeadingsPlugin.ts
Due: lint, types

feat(android): text alignment (#602)
  .maestro/enrichedInput/flows/paragraph_styles_alignment_visual.yaml
  .maestro/enrichedInput/screenshots/android/paragraph_styles_alignment.png
  .maestro/enrichedText/screenshots/android/alignment_visual.png
  android/src/main/java/com/swmansion/enriched/common/parser/EnrichedParser.java
  android/src/main/java/com/swmansion/enriched/common/parser/EnrichedSpanFactory.kt
  android/src/main/java/com/swmansion/enriched/common/spans/EnrichedAlignmentSpan.kt
  android/src/main/java/com/swmansion/enriched/text/EnrichedTextSpanFactory.kt
  android/src/main/java/com/swmansion/enriched/text/spans/EnrichedTextAlignmentSpan.kt
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputSpannableFactory.kt
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputView.kt
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputViewManager.kt
  android/src/main/java/com/swmansion/enriched/textinput/spans/EnrichedInputAlignmentSpan.kt
  android/src/main/java/com/swmansion/enriched/textinput/styles/AlignmentStyles.kt
  android/src/main/java/com/swmansion/enriched/textinput/styles/ListStyles.kt
  android/src/main/java/com/swmansion/enriched/textinput/styles/ParagraphStyles.kt
  android/src/main/java/com/swmansion/enriched/textinput/styles/ParametrizedStyles.kt
  android/src/main/java/com/swmansion/enriched/textinput/utils/EnrichedSelection.kt
  android/src/main/java/com/swmansion/enriched/textinput/utils/EnrichedSpanState.kt
  android/src/main/java/com/swmansion/enriched/textinput/utils/EnrichedSpannableStringBuilder.kt
  android/src/main/java/com/swmansion/enriched/textinput/watchers/EnrichedTextWatcher.kt
  apps/example/src/constants/editorConfig.ts
  docs/INPUT_API_REFERENCE.md
Due: lint, types, lint-android

feat: input api integration
  apps/example-web/src/App.tsx
  docs/WEB.md
  src/web/EnrichedTextInput.tsx
  src/web/tiptapHtmlNormalizer.ts
Due: lint, types

fix: clearing link event
  .playwright/tests/links.spec.ts
  src/web/useOnLinkDetected.ts
Due: lint, types

fix: make shortcuts work with alignment set
  android/src/main/java/com/swmansion/enriched/textinput/utils/ShortcutsHandler.kt
Due: lint-android

fix: move iOS critical comment
  ios/EnrichedTextInputView.mm
Due: clang-format

refactor: dead code
  src/web/pmPlugins/AutolinkPlugin/index.ts
Due: lint, types

docs: updated input api ref
  docs/INPUT_API_REFERENCE.md
Due: none

docs: update returnKeyLabel description
  docs/INPUT_API_REFERENCE.md
Due: none

docs: useHtmlNormalizer web reference
  docs/INPUT_API_REFERENCE.md
Due: none

docs: remove useHtmlNormalizer Web support
  docs/INPUT_API_REFERENCE.md
Due: none

docs: api web reference
  docs/INPUT_API_REFERENCE.md
Due: none

chore: resolve cr
  ios/extensions/ColorExtension.h
  ios/extensions/ColorExtension.mm
  ios/extensions/LayoutManagerExtension.mm
  ios/styles/InlineCodeStyle.mm
  ios/styles/MentionStyle.mm
  ios/utils/EnrichedTextTouchHandler.mm
Due: clang-format

fix: export default text shortcuts
  src/native/EnrichedTextInput.tsx
  src/utils/EnrichedTextInputDefaultProps.ts
Due: lint, types

feat: add configurable textShortcuts prop for block and inline shortcuts (#498)
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputView.kt
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputViewManager.kt
  android/src/main/java/com/swmansion/enriched/textinput/spans/EnrichedSpans.kt
  android/src/main/java/com/swmansion/enriched/textinput/styles/InlineStyles.kt
  android/src/main/java/com/swmansion/enriched/textinput/styles/ListStyles.kt
  android/src/main/java/com/swmansion/enriched/textinput/utils/ShortcutsHandler.kt
  android/src/main/java/com/swmansion/enriched/textinput/utils/StyleUtils.kt
  android/src/main/java/com/swmansion/enriched/textinput/watchers/EnrichedTextWatcher.kt
  docs/INPUT_API_REFERENCE.md
  ios/EnrichedTextInputView.h
  ios/EnrichedTextInputView.mm
  ios/interfaces/StyleHeaders.h
  ios/styles/OrderedListStyle.mm
  ios/styles/UnorderedListStyle.mm
  ios/utils/ShortcutsUtils.h
  ios/utils/ShortcutsUtils.mm
  ios/utils/StyleUtils.h
  ios/utils/StyleUtils.mm
  src/index.native.tsx
  src/native/EnrichedTextInput.tsx
  src/spec/EnrichedTextInputNativeComponent.ts
  src/types.ts
  src/utils/EnrichedTextInputDefaultProps.ts
Due: lint, types, lint-android, clang-format

docs: textShortcuts ignored on web
  docs/WEB.md
Due: none

Update docs/TEXT_API_REFERENCE.md
  docs/TEXT_API_REFERENCE.md
Due: none

chore: resolve CR comments
  ios/extensions/ColorExtension.h
  ios/extensions/ColorExtension.mm
  ios/extensions/LayoutManagerExtension.mm
  ios/styles/InlineCodeStyle.mm
  ios/styles/MentionStyle.mm
  ios/utils/EnrichedTextTouchHandler.mm
Due: clang-format

docs: textShortcuts ignored on web (#633)
  docs/WEB.md
Due: none

docs: fix docs review
  docs/INPUT_API_REFERENCE.md
  docs/TEXT_API_REFERENCE.md
Due: none
