Repository software-mansion/react-native-enriched: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, lint-android, clang-format

lint:
  run: npx eslint {staged_files}

types:
  run: npx tsc

lint-android:
  run: cd apps/example/android && ./gradlew lintVerify

clang-format:
  run: npx clang-format -i {staged_files} && git add {staged_files}

feat: refactor codeblock style
  ios/EnrichedTextInputView.mm
  ios/extensions/LayoutManagerExtension.mm
  ios/inputParser/InputParser.mm
  ios/interfaces/StyleHeaders.h
  ios/styles/CodeBlockStyle.mm
  ios/styles/LinkStyle.mm
Due: clang-format

feat: refactor blockquote style
  ios/EnrichedTextInputView.mm
  ios/extensions/LayoutManagerExtension.mm
  ios/inputParser/InputParser.mm
  ios/interfaces/StyleHeaders.h
  ios/styles/BlockQuoteStyle.mm
Due: clang-format

feat: refactor headings style
  ios/EnrichedTextInputView.mm
  ios/inputParser/InputParser.mm
  ios/interfaces/StyleHeaders.h
  ios/styles/H1Style.mm
  ios/styles/H2Style.mm
  ios/styles/H3Style.mm
  ios/styles/H4Style.mm
  ios/styles/H5Style.mm
  ios/styles/H6Style.mm
  ios/styles/HeadingStyleBase.mm
Due: clang-format

feat: refactor inline code style
  ios/EnrichedTextInputView.mm
  ios/inputParser/InputParser.mm
  ios/interfaces/StyleHeaders.h
  ios/styles/InlineCodeStyle.mm
  ios/styles/LinkStyle.mm
Due: clang-format

feat: refactor underline style
  ios/EnrichedTextInputView.mm
  ios/inputParser/InputParser.mm
  ios/interfaces/StyleHeaders.h
  ios/styles/UnderlineStyle.mm
Due: clang-format

fix: clearing removed typing attributes
  ios/EnrichedTextInputView.mm
  ios/attributesManager/AttributesManager.h
  ios/attributesManager/AttributesManager.mm
Due: clang-format

feat: refactor bold style
  ios/EnrichedTextInputView.mm
  ios/inputParser/InputParser.mm
  ios/interfaces/StyleHeaders.h
  ios/styles/BoldStyle.mm
Due: clang-format

fix: naming of styles
  ios/extensions/LayoutManagerExtension.mm
  ios/styles/BlockQuoteStyle.mm
  ios/styles/CodeBlockStyle.mm
  ios/styles/H1Style.mm
  ios/styles/H2Style.mm
  ios/styles/H3Style.mm
  ios/styles/H4Style.mm
  ios/styles/H5Style.mm
  ios/styles/H6Style.mm
  ios/styles/OrderedListStyle.mm
  ios/styles/UnorderedListStyle.mm
Due: clang-format

fix: add comment
  ios/EnrichedTextInputView.mm
Due: clang-format

feat: add mentionStyleRules for attribute-based mention styling
  ios/EnrichedTextInputView.mm
  ios/config/InputConfig.h
  ios/config/InputConfig.mm
  ios/interfaces/MentionStyleProps.h
  ios/interfaces/MentionStyleProps.mm
  ios/styles/MentionStyle.mm
  src/types.ts
  src/utils/normalizeHtmlStyle.ts
Due: lint, types, clang-format

fix: make list shortcuts work
  ios/EnrichedTextInputView.mm
  ios/interfaces/StyleHeaders.h
  ios/styles/OrderedListStyle.mm
  ios/styles/UnorderedListStyle.mm
Due: clang-format

feat: refactor checkbox list style
  ios/EnrichedTextInputView.mm
  ios/attributesManager/AttributesManager.mm
  ios/extensions/LayoutManagerExtension.mm
  ios/inputParser/InputParser.mm
  ios/interfaces/StyleBase.h
  ios/interfaces/StyleBase.mm
  ios/interfaces/StyleHeaders.h
  ios/styles/CheckboxListStyle.mm
  ios/utils/CheckboxHitTestUtils.mm
Due: clang-format

fix(package.json): point types and default to native.js files
  package.json
Due: none

refactor: destructure props explicitly
  src/EnrichedTextInput.tsx
Due: lint

feat: add returnKeyType, submitBehavior, onSubmitEditing, returnKeyLabel props (#379)
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputView.kt
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputViewManager.kt
  android/src/main/java/com/swmansion/enriched/textinput/events/OnSubmitEditingEvent.kt
  apps/example/src/hooks/useEditorState.ts
  apps/example/src/screens/DevScreen.tsx
  apps/example/src/screens/TestScreen.tsx
  ios/EnrichedTextInputView.mm
  ios/utils/KeyboardUtils.h
  ios/utils/KeyboardUtils.mm
  src/EnrichedTextInput.tsx
  src/index.tsx
  src/spec/EnrichedTextInputNativeComponent.ts
Due: lint, types, lint-android, clang-format

fix: applying inline styles inside paragraph styles
  ios/attributesManager/AttributesManager.mm
  ios/interfaces/StyleBase.h
  ios/interfaces/StyleBase.mm
  ios/styles/BlockQuoteStyle.mm
  ios/styles/CheckboxListStyle.mm
  ios/styles/CodeBlockStyle.mm
Due: clang-format

chore: ensure e2e tests are covered in pr template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

chore: e2e tests checklist in PR template (#495)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

chore: switch to index.js by default and unify props
  apps/example-web/vite.config.ts
  package.json
  src/index.tsx
  src/index.web.tsx
  src/native/EnrichedTextInput.tsx
  src/types.ts
  src/web/EnrichedTextInput.tsx
Due: lint, types

fix: updated tsconfig.app.json to point to .web.tsx
  apps/example-web/tsconfig.app.json
Due: none

fix: add onSubmitEditing to index.web.tsx
  src/index.web.tsx
Due: lint

feat: refactor mention style
  ios/EnrichedTextInputView.h
  ios/EnrichedTextInputView.mm
  ios/inputParser/InputParser.mm
  ios/interfaces/StyleBase.mm
  ios/interfaces/StyleHeaders.h
  ios/styles/LinkStyle.mm
  ios/styles/MentionStyle.mm
  ios/utils/ParagraphAttributesUtils.mm
Due: clang-format

fix: refactor mention style
  ios/EnrichedTextInputView.mm
  ios/attributesManager/AttributesManager.mm
  ios/interfaces/StyleBase.mm
  ios/styles/MentionStyle.mm
Due: clang-format

test: added a copy test for this fix
  .maestro/flows/extending_paragraph_style_on_paste_after_copy.yaml
  .maestro/screenshots/android/extending_paragraph_style_on_paste_after_copy.png
Due: none

feat(web): add basic setup (#491)
  apps/example-web/src/App.tsx
  apps/example-web/tsconfig.app.json
  apps/example-web/vite.config.ts
  package.json
  src/index.web.tsx
  src/native/EnrichedTextInput.tsx
  src/types.ts
  src/web/EnrichedTextInput.tsx
Due: lint, types

test: added a test for Cut
  .maestro/flows/extending_paragraph_style_on_paste_after_cut.yaml
  .maestro/screenshots/android/extending_paragraph_style_on_paste_after_cut.png
Due: none

feat: refactor link style
  ios/EnrichedTextInputView.mm
  ios/inputParser/InputParser.mm
  ios/interfaces/StyleHeaders.h
  ios/styles/LinkStyle.mm
Due: clang-format

feat(web): added tiptap
  apps/example-web/package.json
  apps/example-web/src/App.tsx
  apps/example-web/vite.config.ts
  package.json
  src/web/EnrichedTextInput.tsx
  yarn.lock
Due: lint, types

feat(web): added handling of basic EnrichedTextInput props
  apps/example-web/package.json
  apps/example-web/src/App.css
  apps/example-web/src/App.tsx
  apps/example-web/src/components/EditorActions.tsx
  apps/example-web/src/components/HtmlOutputPanel.tsx
  apps/example-web/src/components/SetHtmlValueControl.tsx
  package.json
  src/web/EnrichedTextInput.css
  src/web/EnrichedTextInput.tsx
  src/web/getNormalizedHtml.ts
  src/web/makeWebEvent.ts
  src/web/useOnChangeHtml.ts
  yarn.lock
Due: lint, types

feat(web): handled onChangeText
  apps/example-web/src/App.tsx
  src/web/EnrichedTextInput.tsx
  src/web/useOnChangeHtml.ts
  src/web/useOnChangeText.ts
Due: lint, types

refactor: unify default props across platforms
  src/native/EnrichedTextInput.tsx
  src/utils/EnrichedTextInputDefaultProps.ts
  src/web/EnrichedTextInput.tsx
Due: lint, types

refactor(example-web): split App.css into *.css per component
  apps/example-web/src/App.css
  apps/example-web/src/components/EditorActions.css
  apps/example-web/src/components/EditorActions.tsx
  apps/example-web/src/components/HtmlOutputPanel.css
  apps/example-web/src/components/HtmlOutputPanel.tsx
  apps/example-web/src/components/SetHtmlValueControl.css
  apps/example-web/src/components/SetHtmlValueControl.tsx
Due: lint

fix: fixed imports in EnrichedTextInput
  src/native/EnrichedTextInput.tsx
  src/web/EnrichedTextInput.tsx
Due: lint

refactor: extend default props
  src/native/EnrichedTextInput.tsx
  src/utils/EnrichedTextInputDefaultProps.ts
Due: lint, types

feat: improved adapting web events to NativeSyntheticEvents
  apps/example-web/src/App.tsx
  src/web/EnrichedTextInput.tsx
  src/web/adaptWebToNativeEvent.ts
  src/web/makeWebEvent.ts
  src/web/useOnChangeHtml.ts
  src/web/useOnChangeText.ts
Due: lint, types

feat: refactor image style
  ios/EnrichedTextInputView.mm
  ios/inputParser/InputParser.mm
  ios/interfaces/ImageAttachment.mm
  ios/interfaces/StyleHeaders.h
  ios/styles/ImageStyle.mm
  ios/styles/LinkStyle.mm
  ios/styles/MentionStyle.mm
  ios/utils/OccurenceUtils.mm
Due: clang-format

fix: updated default props
  src/native/EnrichedTextInput.tsx
  src/utils/EnrichedTextInputDefaultProps.ts
  src/web/EnrichedTextInput.tsx
Due: lint, types

fix: uncomment code connected to emitting html
  ios/EnrichedTextInputView.mm
Due: clang-format

fix: ios build
  apps/example/ios/Podfile.lock
  ios/EnrichedTextInputView.mm
  ios/extensions/LayoutManagerExtension.mm
Due: clang-format

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts, jsx, tsx}
  lint-android: any of: **/*.{kt,kts,java,gradle}
  clang-format: any of: *.{h,m,mm,cpp}, but not: (Pods|build|node_modules)
