Repository software-mansion/react-native-enriched: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, lint-android, clang-format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint {staged_files}
    types:
      glob: "*.{js,ts, jsx, tsx}"
      run: npx tsc
    lint-android:
      glob: "**/*.{kt,kts,java,gradle}"
      run: cd apps/example/android && ./gradlew lintVerify
    clang-format:
      glob: "*.{h,m,mm,cpp}"
      exclude: "(Pods|build|node_modules)"
      run: npx clang-format -i {staged_files} && git add {staged_files}
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

fix(iOS): `onKeyPress` not fired for `Backspace` on empty `EnrichedTextInput`
  ios/EnrichedTextInputView.mm
Due: clang-format

feat: initial implementation
  apps/example-web/src/components/Toolbar.tsx
  apps/example-web/src/defaultHtmlStyle.ts
  package.json
  src/web/EnrichedTextInput.css
  src/web/EnrichedTextInput.tsx
  src/web/__tests__/checkboxListHtml.test.ts
  src/web/checkboxListHtml.ts
  src/web/formats/EnrichedTaskItem.ts
  src/web/formats/EnrichedTaskList.ts
  src/web/formats/applyWrappingListToSelection.ts
  src/web/formats/formatRules.ts
  src/web/pmPlugins/mergeAdjacentSameKindBlocksPlugin.ts
  src/web/styleConversion/__tests__/htmlStyleToCSSVariables.test.ts
  src/web/styleConversion/htmlStyleToCSSVariables.ts
  src/web/tiptapHtmlNormalizer.ts
  src/web/useOnChangeState.ts
  yarn.lock
Due: lint, types

refactor: rename to CheckboxList
  .playwright/screenshots/paragraph-styles-visual-checkbox-list.png
  .playwright/tests/paragraphStylesVisual.spec.ts
  src/web/EnrichedTextInput.css
  src/web/EnrichedTextInput.tsx
  src/web/__tests__/checkboxListHtml.test.ts
  src/web/checkboxListHtml.ts
  src/web/formats/EnrichedCheckboxItem.ts
  src/web/formats/EnrichedCheckboxList.ts
  src/web/formats/EnrichedTaskItem.ts
  src/web/formats/EnrichedTaskList.ts
  src/web/formats/formatRules.ts
  src/web/pmPlugins/mergeAdjacentSameKindBlocksPlugin.ts
  src/web/tiptapHtmlNormalizer.ts
  src/web/useOnChangeState.ts
Due: lint, types

test: updated tests
  .playwright/helpers/selection.ts
  .playwright/screenshots/list-keyboard-backspace-after-lift-checkbox.png
  .playwright/screenshots/list-keyboard-backspace-after-merge-checkbox.png
  .playwright/screenshots/list-keyboard-enter-checkbox.png
  .playwright/tests/applyWrappingListSelection.spec.ts
  .playwright/tests/checkboxList.spec.ts
  .playwright/tests/conflictingBlockStyles.spec.ts
  .playwright/tests/listKeyboard.spec.ts
  .playwright/tests/paragraphStylesVisual.spec.ts
Due: lint, types

refactor: small improvements
  .playwright/tests/checkboxList.spec.ts
  package.json
  src/web/__tests__/checkboxListHtml.test.ts
  src/web/checkboxHtmlNormalizer.ts
  src/web/tiptapHtmlNormalizer.ts
  yarn.lock
Due: lint, types

chore: resolves issues
  .playwright/tests/conflictingBlockStyles.spec.ts
  apps/example-web/src/components/Toolbar.tsx
  src/web/EnrichedTextInput.css
Due: lint, types

refactor: simplify insideCurrentLink
  apps/example-web/src/App.tsx
Due: lint

feat(web): onLinkDetected (#565)
  .playwright/tests/testLinks.spec.ts
  apps/example-web/src/App.tsx
  apps/example-web/src/testScreens/TestLinks.tsx
  src/web/EnrichedTextInput.tsx
  src/web/useOnLinkDetected.ts
Due: lint, types

feat(web): removeLink (#573)
  .playwright/tests/testLinks.spec.ts
  apps/example-web/src/testScreens/TestLinks.tsx
  src/web/EnrichedTextInput.tsx
  src/web/formats/EnrichedLink.ts
Due: lint, types

fix(iOS): `onKeyPress` not fired for `Backspace` on empty `EnrichedTextInput` (#574)
  ios/EnrichedTextInputView.mm
Due: clang-format

feat: base implementation
  apps/example-web/src/App.tsx
  apps/example-web/src/components/ImageModal.tsx
  apps/example-web/src/components/Toolbar.tsx
  apps/example-web/src/testScreens/VisualRegression.tsx
  package.json
  src/web/EnrichedTextInput.css
  src/web/EnrichedTextInput.tsx
  src/web/formats/EnrichedImage.tsx
  src/web/formats/formatRules.ts
  src/web/pmPlugins/stripMarksOnImagePlugin.ts
  src/web/useOnChangeState.ts
  yarn.lock
Due: lint, types

fix: image blocks code
  src/web/formats/formatRules.ts
Due: lint, types

refactor: simplify styling
  src/web/EnrichedTextInput.css
  src/web/formats/EnrichedImage.tsx
Due: lint

fix: fixed styling issues
  src/web/EnrichedTextInput.css
  src/web/formats/EnrichedImage.tsx
Due: lint

test: added tests
  .playwright/screenshots/images-blockquote-placeholder.png
  .playwright/screenshots/images-inline-routed-png.png
  .playwright/screenshots/images-loaded-in-list.png
  .playwright/screenshots/images-ol-placeholder.png
  .playwright/screenshots/images-paragraph-placeholder.png
  .playwright/screenshots/images-placeholder-broken-url.png
  .playwright/screenshots/images-placeholder-empty-src.png
  .playwright/screenshots/images-ul-placeholder.png
  .playwright/tests/images.spec.ts
Due: lint, types

refactor: split EnrichedImage
  .playwright/tests/images.spec.ts
  src/web/formats/EnrichedImage.ts
  src/web/formats/EnrichedImageNodeView.tsx
Due: lint, types

fix(iOS): typo on UIKit imports
  ios/inputTextView/InputTextView.h
  ios/interfaces/StylePair.h
Due: clang-format

fix(iOS): typo on UIKit imports (#578)
  ios/inputTextView/InputTextView.h
  ios/interfaces/StylePair.h
Due: clang-format

fix(android): parsing empty lines to html
  android/src/main/java/com/swmansion/enriched/common/parser/EnrichedParser.java
Due: lint-android

fix: fixed positionMapping
  .playwright/tests/images.spec.ts
  .playwright/tests/testLinks.spec.ts
  apps/example-web/src/components/Toolbar.tsx
  src/web/formats/EnrichedImage.ts
  src/web/positionMapping.ts
  src/web/tiptapHtmlNormalizer.ts
Due: lint, types

fix(android): parsing empty lines to html (#579)
  android/src/main/java/com/swmansion/enriched/common/parser/EnrichedParser.java
Due: lint-android

feat(web): checkbox list (#575)
  .playwright/helpers/selection.ts
  .playwright/screenshots/list-keyboard-backspace-after-lift-checkbox.png
  .playwright/screenshots/list-keyboard-backspace-after-merge-checkbox.png
  .playwright/screenshots/list-keyboard-enter-checkbox.png
  .playwright/screenshots/paragraph-styles-visual-checkbox-list.png
  .playwright/tests/applyWrappingListSelection.spec.ts
  .playwright/tests/checkboxList.spec.ts
  .playwright/tests/conflictingBlockStyles.spec.ts
  .playwright/tests/listKeyboard.spec.ts
  .playwright/tests/paragraphStylesVisual.spec.ts
  apps/example-web/src/components/Toolbar.tsx
  apps/example-web/src/defaultHtmlStyle.ts
  src/web/EnrichedTextInput.css
  src/web/EnrichedTextInput.tsx
  src/web/checkboxHtmlNormalizer.ts
  src/web/formats/EnrichedCheckboxItem.ts
  src/web/formats/EnrichedCheckboxList.ts
  src/web/formats/applyWrappingListToSelection.ts
  src/web/formats/formatRules.ts
  src/web/pmPlugins/mergeAdjacentSameKindBlocksPlugin.ts
  src/web/styleConversion/__tests__/htmlStyleToCSSVariables.test.ts
  src/web/styleConversion/htmlStyleToCSSVariables.ts
  src/web/tiptapHtmlNormalizer.ts
  src/web/useOnChangeState.ts
Due: lint, types

fix: position mapping and block setLink when image inside selection
  src/web/EnrichedTextInput.tsx
  src/web/formats/EnrichedLink.ts
  src/web/positionMapping.ts
  src/web/tiptapHtmlNormalizer.ts
  src/web/useOnChangeText.ts
Due: lint, types

fix: style
  src/web/EnrichedTextInput.css
Due: none

fix: styling
  src/web/EnrichedTextInput.css
  src/web/formats/EnrichedImageNodeView.tsx
Due: lint

fix(android): inline styles line overlapping
  android/src/main/java/com/swmansion/enriched/textinput/spans/EnrichedInputBoldSpan.kt
  android/src/main/java/com/swmansion/enriched/textinput/spans/EnrichedInputInlineCodeSpan.kt
  android/src/main/java/com/swmansion/enriched/textinput/spans/EnrichedInputItalicSpan.kt
  android/src/main/java/com/swmansion/enriched/textinput/spans/interfaces/EnrichedInlineMetricSpan.kt
  android/src/main/java/com/swmansion/enriched/textinput/watchers/EnrichedSpanWatcher.kt
Due: lint-android

chore: switch style to EnrichedInputStyle
  docs/API_REFERENCE.md
  src/index.tsx
  src/index.web.tsx
  src/types.ts
  src/web/EnrichedTextInput.tsx
Due: lint, types

fix: text view naming
  ios/EnrichedTextInputView.h
  ios/EnrichedTextInputView.mm
  ios/EnrichedTextView.mm
  ios/enrichedInputTextView/EnrichedInputTextView/EnrichedInputTextView.h
  ios/enrichedInputTextView/EnrichedInputTextView/EnrichedInputTextView.mm
  ios/enrichedTextTextView/EnrichedTextTextView/EnrichedTextTextView.h
  ios/enrichedTextTextView/EnrichedTextTextView/EnrichedTextTextView.mm
  ios/inputAttributesManager/InputAttributesManager.mm
Due: clang-format

feat(iOS): add copy rich content support to EnrichedText (#568)
  ios/EnrichedTextInputView.h
  ios/EnrichedTextInputView.mm
  ios/EnrichedTextView.mm
  ios/enrichedInputTextView/EnrichedInputTextView/EnrichedInputTextView.h
  ios/enrichedInputTextView/EnrichedInputTextView/EnrichedInputTextView.mm
  ios/enrichedTextTextView/EnrichedTextTextView/EnrichedTextTextView.h
  ios/enrichedTextTextView/EnrichedTextTextView/EnrichedTextTextView.mm
  ios/htmlParser/HtmlParser.h
  ios/htmlParser/HtmlParser.mm
  ios/inputAttributesManager/InputAttributesManager.mm
  ios/inputHtmlParser/InputHtmlParser.h
  ios/inputHtmlParser/InputHtmlParser.mm
  ios/utils/EnrichedTouchableTextView.mm
Due: clang-format

fix: delete EnrichedInlineMetricSpan
  android/src/main/java/com/swmansion/enriched/textinput/spans/EnrichedInputBoldSpan.kt
  android/src/main/java/com/swmansion/enriched/textinput/spans/EnrichedInputInlineCodeSpan.kt
  android/src/main/java/com/swmansion/enriched/textinput/spans/EnrichedInputItalicSpan.kt
  android/src/main/java/com/swmansion/enriched/textinput/spans/interfaces/EnrichedInlineMetricSpan.kt
  android/src/main/java/com/swmansion/enriched/textinput/watchers/EnrichedSpanWatcher.kt
Due: lint-android

refactor: extract out EnrichedInputStyle to it's own .md
  docs/API_REFERENCE.md
  docs/enriched-input-style.md
Due: none

chore: expose web and switch .tsx -> .native.tsx, .web -> .tsx
  apps/example-web/tsconfig.app.json
  apps/example-web/vite.config.ts
  apps/example/tsconfig.json
  package.json
  src/index.native.tsx
  src/index.tsx
  tsconfig.json
Due: lint, types

test: add e2e test for line overlapping
  .maestro/enrichedInput/flows/line_overlapping.yaml
  .maestro/enrichedInput/screenshots/android/line_overlapping.png
  .maestro/enrichedInput/screenshots/ios/line_overlapping.png
Due: none

fix: fixed for ul
  src/web/EnrichedTextInput.css
Due: none

fix: fixed for rest of lists
  .playwright/screenshots/images-checkbox-list-placeholder.png
  .playwright/screenshots/images-loaded-in-list.png
  .playwright/screenshots/images-ol-placeholder.png
  .playwright/screenshots/images-ul-placeholder.png
  .playwright/tests/images.spec.ts
  src/web/EnrichedTextInput.css
Due: lint, types

test: harden image tests
  .playwright/tests/images.spec.ts
Due: lint, types

refactor: simplify imgStyle, imgDims creation
  src/web/formats/EnrichedImageNodeView.tsx
Due: lint

fix(android): pasting blocking styles
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputView.kt
  android/src/main/java/com/swmansion/enriched/textinput/utils/EnrichedSpannable.kt
Due: lint-android

fix(android): inline styles line overlapping (#580)
  .maestro/enrichedInput/flows/line_overlapping.yaml
  .maestro/enrichedInput/screenshots/android/line_overlapping.png
  .maestro/enrichedInput/screenshots/ios/line_overlapping.png
  android/src/main/java/com/swmansion/enriched/textinput/watchers/EnrichedSpanWatcher.kt
Due: lint-android
