Repository software-mansion/react-native-enriched: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, lint-android, clang-format

lint:
  run: npx eslint {staged_files}

types:
  run: npx tsc

lint-android:
  run: cd apps/example/android && ./gradlew lintVerify

clang-format:
  run: npx clang-format -i {staged_files} && git add {staged_files}

fix: paasting gifs on iOS
  android/src/main/java/com/swmansion/enriched/textinput/utils/RichContentReceiver.kt
  ios/inputTextView/InputTextView.mm
Due: lint-android, clang-format

feat: update docs
  README.md
  docs/API_REFERENCE.md
Due: none

fix: remove unused code
  ios/inputTextView/InputTextView.mm
Due: clang-format

fix(iOS): improve layout calculation (#339)
  ios/EnrichedTextInputView.h
  ios/EnrichedTextInputView.mm
  ios/extensions/LayoutManagerExtension.mm
  ios/inputTextView/InputTextView.h
  ios/inputTextView/InputTextView.mm
  ios/internals/EnrichedTextInputViewShadowNode.h
  ios/internals/EnrichedTextInputViewShadowNode.mm
  ios/internals/EnrichedTextInputViewState.cpp
  ios/internals/EnrichedTextInputViewState.h
Due: clang-format

feat: move style variables to separate file
  apps/example-web/src/App.tsx
  src/web/EnrichedTextInput.css
  src/web/EnrichedTextInput.tsx
  src/web/buildStyleVars.ts
  src/web/useOnChangeHtml.ts
  src/web/useOnChangeState.ts
Due: lint, types

feat(Android): add displaying GIFs support on Android
  android/src/main/java/com/swmansion/enriched/textinput/spans/EnrichedImageSpan.kt
  android/src/main/java/com/swmansion/enriched/textinput/utils/AsyncDrawable.kt
Due: lint-android

chore: resolve cr comments
  android/src/main/java/com/swmansion/enriched/textinput/styles/ListStyles.kt
Due: lint-android

feat: checkbox list - android (#363)
  README.md
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputView.kt
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputViewManager.kt
  android/src/main/java/com/swmansion/enriched/textinput/spans/EnrichedCheckboxListSpan.kt
  android/src/main/java/com/swmansion/enriched/textinput/spans/EnrichedSpans.kt
  android/src/main/java/com/swmansion/enriched/textinput/styles/HtmlStyle.kt
  android/src/main/java/com/swmansion/enriched/textinput/styles/ListStyles.kt
  android/src/main/java/com/swmansion/enriched/textinput/utils/CheckboxDrawable.kt
  android/src/main/java/com/swmansion/enriched/textinput/utils/EnrichedParser.java
  android/src/main/java/com/swmansion/enriched/textinput/utils/EnrichedSpanState.kt
  android/src/main/java/com/swmansion/enriched/textinput/utils/Utils.kt
  apps/example/src/App.tsx
  apps/example/src/components/Toolbar.tsx
  docs/API_REFERENCE.md
  src/EnrichedTextInput.tsx
  src/spec/EnrichedTextInputNativeComponent.ts
  src/utils/normalizeHtmlStyle.ts
Due: lint, types, lint-android

fix: clang
  ios/EnrichedTextInputView.mm
Due: clang-format

chore: include checklist in hero image
  README.md
Due: none

fix: focus events types
  src/EnrichedTextInput.tsx
  src/spec/EnrichedTextInputNativeComponent.ts
Due: lint, types

chore: drop RN 0.79 and RN 0.80 support
  README.md
  android/src/main/new_arch/CMakeLists.txt
  android/src/main/new_arch/react/renderer/components/ReactNativeEnrichedSpec/conversions.h
Due: clang-format

fix: review changes
  ios/EnrichedTextInputView.mm
  ios/inputParser/InputParser.mm
  ios/styles/CheckboxListStyle.mm
  ios/utils/TextBlockTapGestureRecognizer.h
  ios/utils/TextBlockTapGestureRecognizer.mm
Due: clang-format

chore: typo
  README.md
Due: none

feat(iOS): Add checkbox list (#366)
  ios/EnrichedTextInputView.mm
  ios/config/InputConfig.h
  ios/config/InputConfig.mm
  ios/extensions/LayoutManagerExtension.mm
  ios/inputParser/InputParser.mm
  ios/interfaces/StyleHeaders.h
  ios/interfaces/StyleTypeEnum.h
  ios/styles/CheckboxListStyle.mm
  ios/utils/CheckboxHitTestUtils.h
  ios/utils/CheckboxHitTestUtils.mm
  ios/utils/ParagraphAttributesUtils.mm
  ios/utils/TextBlockTapGestureRecognizer.h
  ios/utils/TextBlockTapGestureRecognizer.mm
  ios/utils/ZeroWidthSpaceUtils.mm
Due: clang-format

feat: add Playwright testing support and configuration
  .gitignore
  apps/example-web/package.json
  apps/example-web/playwright.config.ts
  apps/example-web/tests/interactions.spec.ts
  apps/example-web/tsconfig.node.json
  yarn.lock
Due: lint, types

chore: refactor native android common
  android/src/main/java/com/swmansion/enriched/common/AsyncDrawable.kt
  android/src/main/java/com/swmansion/enriched/common/EnrichedConstants.kt
  android/src/main/java/com/swmansion/enriched/common/ForceRedrawSpan.kt
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputView.kt
  android/src/main/java/com/swmansion/enriched/textinput/events/OnChangeTextEvent.kt
  android/src/main/java/com/swmansion/enriched/textinput/spans/EnrichedImageSpan.kt
  android/src/main/java/com/swmansion/enriched/textinput/styles/ListStyles.kt
  android/src/main/java/com/swmansion/enriched/textinput/styles/ParagraphStyles.kt
  android/src/main/java/com/swmansion/enriched/textinput/styles/ParametrizedStyles.kt
  android/src/main/java/com/swmansion/enriched/textinput/utils/EnrichedParser.java
  android/src/main/java/com/swmansion/enriched/textinput/utils/EnrichedSelection.kt
  android/src/main/java/com/swmansion/enriched/textinput/utils/EnrichedSpannableStringBuilder.kt
Due: lint-android

chore: refactor native android commons (#391)
  android/src/main/java/com/swmansion/enriched/common/AsyncDrawable.kt
  android/src/main/java/com/swmansion/enriched/common/EnrichedConstants.kt
  android/src/main/java/com/swmansion/enriched/common/ForceRedrawSpan.kt
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputView.kt
  android/src/main/java/com/swmansion/enriched/textinput/events/OnChangeTextEvent.kt
  android/src/main/java/com/swmansion/enriched/textinput/spans/EnrichedImageSpan.kt
  android/src/main/java/com/swmansion/enriched/textinput/styles/ListStyles.kt
  android/src/main/java/com/swmansion/enriched/textinput/styles/ParagraphStyles.kt
  android/src/main/java/com/swmansion/enriched/textinput/styles/ParametrizedStyles.kt
  android/src/main/java/com/swmansion/enriched/textinput/utils/EnrichedParser.java
  android/src/main/java/com/swmansion/enriched/textinput/utils/EnrichedSelection.kt
  android/src/main/java/com/swmansion/enriched/textinput/utils/EnrichedSpannableStringBuilder.kt
Due: lint-android

chore: generic enriched style
  android/src/main/java/com/swmansion/enriched/common/EnrichedStyle.kt
  android/src/main/java/com/swmansion/enriched/common/MentionStyle.kt
  android/src/main/java/com/swmansion/enriched/textinput/styles/HtmlStyle.kt
Due: lint-android

feat: add interaction tests for headings and blockquote conflict states
  apps/example-web/tests/interactions.spec.ts
Due: lint, types

chore: generic enriched style (#392)
  android/src/main/java/com/swmansion/enriched/common/EnrichedStyle.kt
  android/src/main/java/com/swmansion/enriched/common/MentionStyle.kt
  android/src/main/java/com/swmansion/enriched/textinput/styles/HtmlStyle.kt
Due: lint-android

chore: move custom spans to common
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputView.kt
  android/src/main/java/com/swmansion/enriched/textinput/spans/EnrichedBlockQuoteSpan.kt
  android/src/main/java/com/swmansion/enriched/textinput/spans/EnrichedBoldSpan.kt
  android/src/main/java/com/swmansion/enriched/textinput/spans/EnrichedCheckboxListSpan.kt
  android/src/main/java/com/swmansion/enriched/textinput/spans/EnrichedCodeBlockSpan.kt
  android/src/main/java/com/swmansion/enriched/textinput/spans/EnrichedH1Span.kt
  android/src/main/java/com/swmansion/enriched/textinput/spans/EnrichedH2Span.kt
  android/src/main/java/com/swmansion/enriched/textinput/spans/EnrichedH3Span.kt
  android/src/main/java/com/swmansion/enriched/textinput/spans/EnrichedH4Span.kt
  android/src/main/java/com/swmansion/enriched/textinput/spans/EnrichedH5Span.kt
  android/src/main/java/com/swmansion/enriched/textinput/spans/EnrichedH6Span.kt
  android/src/main/java/com/swmansion/enriched/textinput/spans/EnrichedImageSpan.kt
  android/src/main/java/com/swmansion/enriched/textinput/spans/EnrichedInlineCodeSpan.kt
  android/src/main/java/com/swmansion/enriched/textinput/spans/EnrichedItalicSpan.kt
  android/src/main/java/com/swmansion/enriched/textinput/spans/EnrichedLinkSpan.kt
  android/src/main/java/com/swmansion/enriched/textinput/spans/EnrichedMentionSpan.kt
  android/src/main/java/com/swmansion/enriched/textinput/spans/EnrichedOrderedListSpan.kt
  android/src/main/java/com/swmansion/enriched/textinput/spans/EnrichedSpans.kt
  android/src/main/java/com/swmansion/enriched/textinput/spans/EnrichedStrikeThroughSpan.kt
  android/src/main/java/com/swmansion/enriched/textinput/spans/EnrichedUnderlineSpan.kt
  android/src/main/java/com/swmansion/enriched/textinput/spans/EnrichedUnorderedListSpan.kt
  android/src/main/java/com/swmansion/enriched/textinput/spans/interfaces/EnrichedBlockSpan.kt
  android/src/main/java/com/swmansion/enriched/textinput/spans/interfaces/EnrichedHeadingSpan.kt
  android/src/main/java/com/swmansion/enriched/textinput/spans/interfaces/EnrichedInlineSpan.kt
  android/src/main/java/com/swmansion/enriched/textinput/spans/interfaces/EnrichedParagraphSpan.kt
  android/src/main/java/com/swmansion/enriched/textinput/spans/interfaces/EnrichedSpan.kt
  android/src/main/java/com/swmansion/enriched/textinput/spans/interfaces/EnrichedZeroWidthSpaceSpan.kt
  android/src/main/java/com/swmansion/enriched/textinput/styles/ListStyles.kt
  android/src/main/java/com/swmansion/enriched/textinput/styles/ParagraphStyles.kt
  android/src/main/java/com/swmansion/enriched/textinput/styles/ParametrizedStyles.kt
  android/src/main/java/com/swmansion/enriched/textinput/utils/EnrichedParser.java
  android/src/main/java/com/swmansion/enriched/textinput/utils/EnrichedSelection.kt
  android/src/main/java/com/swmansion/enriched/textinput/utils/EnrichedSpannable.kt
  android/src/main/java/com/swmansion/enriched/textinput/utils/Utils.kt
  android/src/main/java/com/swmansion/enriched/textinput/watchers/EnrichedSpanWatcher.kt
Due: lint-android

chore: move custom spans to common
  android/src/main/java/com/swmansion/enriched/common/spans/EnrichedBlockQuoteSpan.kt
  android/src/main/java/com/swmansion/enriched/common/spans/EnrichedBoldSpan.kt
  android/src/main/java/com/swmansion/enriched/common/spans/EnrichedCheckboxListSpan.kt
  android/src/main/java/com/swmansion/enriched/common/spans/EnrichedCodeBlockSpan.kt
  android/src/main/java/com/swmansion/enriched/common/spans/EnrichedH1Span.kt
  android/src/main/java/com/swmansion/enriched/common/spans/EnrichedH2Span.kt
  android/src/main/java/com/swmansion/enriched/common/spans/EnrichedH3Span.kt
  android/src/main/java/com/swmansion/enriched/common/spans/EnrichedH4Span.kt
  android/src/main/java/com/swmansion/enriched/common/spans/EnrichedH5Span.kt
  android/src/main/java/com/swmansion/enriched/common/spans/EnrichedH6Span.kt
  android/src/main/java/com/swmansion/enriched/common/spans/EnrichedImageSpan.kt
  android/src/main/java/com/swmansion/enriched/common/spans/EnrichedInlineCodeSpan.kt
  android/src/main/java/com/swmansion/enriched/common/spans/EnrichedItalicSpan.kt
  android/src/main/java/com/swmansion/enriched/common/spans/EnrichedLinkSpan.kt
  android/src/main/java/com/swmansion/enriched/common/spans/EnrichedMentionSpan.kt
  android/src/main/java/com/swmansion/enriched/common/spans/EnrichedOrderedListSpan.kt
  android/src/main/java/com/swmansion/enriched/common/spans/EnrichedStrikeThroughSpan.kt
  android/src/main/java/com/swmansion/enriched/common/spans/EnrichedUnderlineSpan.kt
  android/src/main/java/com/swmansion/enriched/common/spans/EnrichedUnorderedListSpan.kt
  android/src/main/java/com/swmansion/enriched/common/spans/interfaces/EnrichedBlockSpan.kt
  android/src/main/java/com/swmansion/enriched/common/spans/interfaces/EnrichedHeadingSpan.kt
  android/src/main/java/com/swmansion/enriched/common/spans/interfaces/EnrichedInlineSpan.kt
  android/src/main/java/com/swmansion/enriched/common/spans/interfaces/EnrichedParagraphSpan.kt
  android/src/main/java/com/swmansion/enriched/common/spans/interfaces/EnrichedSpan.kt
  android/src/main/java/com/swmansion/enriched/common/spans/interfaces/EnrichedZeroWidthSpaceSpan.kt
Due: lint-android

chore: move custom spans to common directory (#393)
  android/src/main/java/com/swmansion/enriched/common/spans/EnrichedBlockQuoteSpan.kt
  android/src/main/java/com/swmansion/enriched/common/spans/EnrichedBoldSpan.kt
  android/src/main/java/com/swmansion/enriched/common/spans/EnrichedCheckboxListSpan.kt
  android/src/main/java/com/swmansion/enriched/common/spans/EnrichedCodeBlockSpan.kt
  android/src/main/java/com/swmansion/enriched/common/spans/EnrichedH1Span.kt
  android/src/main/java/com/swmansion/enriched/common/spans/EnrichedH2Span.kt
  android/src/main/java/com/swmansion/enriched/common/spans/EnrichedH3Span.kt
  android/src/main/java/com/swmansion/enriched/common/spans/EnrichedH4Span.kt
  android/src/main/java/com/swmansion/enriched/common/spans/EnrichedH5Span.kt
  android/src/main/java/com/swmansion/enriched/common/spans/EnrichedH6Span.kt
  android/src/main/java/com/swmansion/enriched/common/spans/EnrichedImageSpan.kt
  android/src/main/java/com/swmansion/enriched/common/spans/EnrichedInlineCodeSpan.kt
  android/src/main/java/com/swmansion/enriched/common/spans/EnrichedItalicSpan.kt
  android/src/main/java/com/swmansion/enriched/common/spans/EnrichedLinkSpan.kt
  android/src/main/java/com/swmansion/enriched/common/spans/EnrichedMentionSpan.kt
  android/src/main/java/com/swmansion/enriched/common/spans/EnrichedOrderedListSpan.kt
  android/src/main/java/com/swmansion/enriched/common/spans/EnrichedStrikeThroughSpan.kt
  android/src/main/java/com/swmansion/enriched/common/spans/EnrichedUnderlineSpan.kt
  android/src/main/java/com/swmansion/enriched/common/spans/EnrichedUnorderedListSpan.kt
  android/src/main/java/com/swmansion/enriched/common/spans/interfaces/EnrichedBlockSpan.kt
  android/src/main/java/com/swmansion/enriched/common/spans/interfaces/EnrichedHeadingSpan.kt
  android/src/main/java/com/swmansion/enriched/common/spans/interfaces/EnrichedInlineSpan.kt
  android/src/main/java/com/swmansion/enriched/common/spans/interfaces/EnrichedParagraphSpan.kt
  android/src/main/java/com/swmansion/enriched/common/spans/interfaces/EnrichedSpan.kt
  android/src/main/java/com/swmansion/enriched/common/spans/interfaces/EnrichedZeroWidthSpaceSpan.kt
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputView.kt
  android/src/main/java/com/swmansion/enriched/textinput/spans/EnrichedSpans.kt
  android/src/main/java/com/swmansion/enriched/textinput/spans/interfaces/EnrichedHeadingSpan.kt
  android/src/main/java/com/swmansion/enriched/textinput/spans/interfaces/EnrichedInlineSpan.kt
  android/src/main/java/com/swmansion/enriched/textinput/styles/ListStyles.kt
  android/src/main/java/com/swmansion/enriched/textinput/styles/ParagraphStyles.kt
  android/src/main/java/com/swmansion/enriched/textinput/styles/ParametrizedStyles.kt
  android/src/main/java/com/swmansion/enriched/textinput/utils/EnrichedParser.java
  android/src/main/java/com/swmansion/enriched/textinput/utils/EnrichedSelection.kt
  android/src/main/java/com/swmansion/enriched/textinput/utils/EnrichedSpannable.kt
  android/src/main/java/com/swmansion/enriched/textinput/utils/Utils.kt
  android/src/main/java/com/swmansion/enriched/textinput/watchers/EnrichedSpanWatcher.kt
Due: lint-android

fix: updating ordered list indexes
  android/src/main/java/com/swmansion/enriched/common/spans/EnrichedOrderedListSpan.kt
  android/src/main/java/com/swmansion/enriched/textinput/spans/EnrichedInputOrderedListSpan.kt
  android/src/main/java/com/swmansion/enriched/textinput/styles/ListStyles.kt
Due: lint-android

chore: move CheckboxDrawable to common
  android/src/main/java/com/swmansion/enriched/common/CheckboxDrawable.kt
  android/src/main/java/com/swmansion/enriched/common/spans/EnrichedCheckboxListSpan.kt
Due: lint-android

chore: generic parser
  android/src/main/java/com/swmansion/enriched/common/parser/EnrichedParser.java
  android/src/main/java/com/swmansion/enriched/common/parser/EnrichedSpanFactory.kt
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputSpannableFactory.kt
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputView.kt
  android/src/main/java/com/swmansion/enriched/textinput/MeasurementStore.kt
  android/src/main/java/com/swmansion/enriched/textinput/watchers/EnrichedSpanWatcher.kt
Due: lint-android

chore: move CheckboxDrawable to common (#395)
  android/src/main/java/com/swmansion/enriched/common/CheckboxDrawable.kt
  android/src/main/java/com/swmansion/enriched/common/spans/EnrichedCheckboxListSpan.kt
Due: lint-android

chore: include checklist in hero image (#386)
  README.md
Due: none

fix: focus events types (#389)
  src/EnrichedTextInput.tsx
  src/spec/EnrichedTextInputNativeComponent.ts
Due: lint, types

chore: refactor js structure
  src/EnrichedTextInput.tsx
  src/index.tsx
  src/spec/EnrichedTextInputNativeComponent.ts
  src/types.ts
  src/utils/normalizeHtmlStyle.ts
  src/utils/nullthrows.ts
Due: lint, types

chore: refactor js structure
  src/utils/normalizeHtmlStyle.ts
Due: lint, types

chore: generic parser - android (#396)
  android/src/main/java/com/swmansion/enriched/common/parser/EnrichedParser.java
  android/src/main/java/com/swmansion/enriched/common/parser/EnrichedSpanFactory.kt
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputSpannableFactory.kt
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputView.kt
  android/src/main/java/com/swmansion/enriched/textinput/MeasurementStore.kt
  android/src/main/java/com/swmansion/enriched/textinput/watchers/EnrichedSpanWatcher.kt
Due: lint-android

chore: cleanup JS structure (#398)
  src/EnrichedTextInput.tsx
  src/index.tsx
  src/spec/EnrichedTextInputNativeComponent.ts
  src/types.ts
  src/utils/normalizeHtmlStyle.ts
  src/utils/nullthrows.ts
Due: lint, types

feat: add support for displaying gifs
  apps/example/src/App.tsx
  apps/example/src/utils/prepareImageDimensions.ts
  ios/EnrichedTextInputView.mm
  ios/interfaces/ImageAttachment.h
  ios/interfaces/ImageAttachment.mm
  ios/interfaces/UIImage+animatedGIF.h
  ios/interfaces/UIImage+animatedGIF.mm
Due: lint, types, clang-format

fix: calculating image rect
  ios/EnrichedTextInputView.mm
Due: clang-format

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts, jsx, tsx}
  lint-android: any of: **/*.{kt,kts,java,gradle}
  clang-format: any of: *.{h,m,mm,cpp}, but not: (Pods|build|node_modules)
