Repository software-mansion/react-native-enriched: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, lint-android, clang-format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint {staged_files}
    types:
      glob: "*.{js,ts, jsx, tsx}"
      run: npx tsc
    lint-android:
      glob: "**/*.{kt,kts,java,gradle}"
      run: cd apps/example/android && ./gradlew lintVerify
    clang-format:
      glob: "*.{h,m,mm,cpp}"
      exclude: "(Pods|build|node_modules)"
      run: npx clang-format -i {staged_files} && git add {staged_files}
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

feat: handle EnrichedText measurements - android
  android/src/main/java/com/swmansion/enriched/ReactNativeEnrichedPackage.kt
  android/src/main/java/com/swmansion/enriched/text/EnrichedTextView.kt
  android/src/main/java/com/swmansion/enriched/text/EnrichedTextViewManager.kt
  android/src/main/java/com/swmansion/enriched/text/MeasurementStore.kt
  android/src/main/new_arch/ReactNativeEnrichedSpec.h
  android/src/main/new_arch/react/renderer/components/ReactNativeEnrichedSpec/EnrichedTextComponentDescriptor.h
  android/src/main/new_arch/react/renderer/components/ReactNativeEnrichedSpec/EnrichedTextMeasurementManager.cpp
  android/src/main/new_arch/react/renderer/components/ReactNativeEnrichedSpec/EnrichedTextMeasurementManager.h
  android/src/main/new_arch/react/renderer/components/ReactNativeEnrichedSpec/EnrichedTextShadowNode.cpp
  android/src/main/new_arch/react/renderer/components/ReactNativeEnrichedSpec/EnrichedTextShadowNode.h
  android/src/main/new_arch/react/renderer/components/ReactNativeEnrichedSpec/conversions.h
  apps/example/src/App.tsx
  package.json
  react-native.config.js
  src/EnrichedText.tsx
  src/EnrichedTextInput.tsx
  src/index.tsx
  src/spec/EnrichedTextNativeComponent.ts
  src/utils/nullthrows.ts
Due: lint, types, lint-android, clang-format

feat: base props for EnrichedText
  android/src/main/java/com/swmansion/enriched/text/EnrichedTextView.kt
  android/src/main/java/com/swmansion/enriched/text/EnrichedTextViewManager.kt
  android/src/main/java/com/swmansion/enriched/text/MeasurementStore.kt
  android/src/main/new_arch/react/renderer/components/ReactNativeEnrichedSpec/conversions.h
  apps/example/src/App.tsx
  src/EnrichedText.tsx
  src/spec/EnrichedTextNativeComponent.ts
Due: lint, types, lint-android, clang-format

feat: change event types of event handlers
  apps/example/src/App.tsx
  src/common/types.ts
  src/index.native.tsx
  src/index.tsx
  src/native/EnrichedTextInput.tsx
  src/native/EnrichedTextInputNativeComponent.ts
  src/web/EnrichedTextInput.tsx
Due: lint, types

fix: refactor adding attributes
  ios/EnrichedTextInputView.mm
  ios/styles/CheckboxListStyle.mm
  ios/utils/ParagraphAttributesUtils.mm
  ios/utils/StyleHeaders.h
Due: clang-format

fix: codegen failing to find imported types
  src/common/types.ts
  src/native/EnrichedTextInputNativeComponent.ts
Due: lint, types

feat: add parsing html->input
  ios/inputParser/InputParser.mm
Due: clang-format

feat: add HTML output handling and conflicting styles to example-web's toolbar buttons
  apps/example-web/src/App.tsx
  apps/example-web/src/components/Toolbar.css
  apps/example-web/src/components/Toolbar.tsx
  src/web/EnrichedTextInput.tsx
  src/web/hooks/useEnrichedTextInputHtml.ts
  src/web/hooks/useEnrichedTextInputState.ts
Due: lint, types

feat: rename hooks for handling editor state and HTML changes, update bold & italic html tag name
  apps/example-web/src/App.tsx
  src/web/EnrichedTextInput.tsx
  src/web/hooks/useOnChangeHtml.ts
  src/web/hooks/useOnChangeState.ts
Due: lint, types

feat: base working EnrichedText
  android/src/main/java/com/swmansion/enriched/text/EnrichedTextSpanFactory.kt
  android/src/main/java/com/swmansion/enriched/text/EnrichedTextStyle.kt
  android/src/main/java/com/swmansion/enriched/text/EnrichedTextView.kt
  android/src/main/java/com/swmansion/enriched/text/EnrichedTextViewManager.kt
  android/src/main/java/com/swmansion/enriched/text/MeasurementStore.kt
  android/src/main/java/com/swmansion/enriched/text/spans/EnrichedTextBlockQuoteSpan.kt
  android/src/main/java/com/swmansion/enriched/text/spans/EnrichedTextBoldSpan.kt
  android/src/main/java/com/swmansion/enriched/text/spans/EnrichedTextCodeBlockSpan.kt
  android/src/main/java/com/swmansion/enriched/text/spans/EnrichedTextH1Span.kt
  android/src/main/java/com/swmansion/enriched/text/spans/EnrichedTextH2Span.kt
  android/src/main/java/com/swmansion/enriched/text/spans/EnrichedTextH3Span.kt
  android/src/main/java/com/swmansion/enriched/text/spans/EnrichedTextH4Span.kt
  android/src/main/java/com/swmansion/enriched/text/spans/EnrichedTextH5Span.kt
  android/src/main/java/com/swmansion/enriched/text/spans/EnrichedTextH6Span.kt
  android/src/main/java/com/swmansion/enriched/text/spans/EnrichedTextImageSpan.kt
  android/src/main/java/com/swmansion/enriched/text/spans/EnrichedTextInlineCodeSpan.kt
  android/src/main/java/com/swmansion/enriched/text/spans/EnrichedTextItalicSpan.kt
  android/src/main/java/com/swmansion/enriched/text/spans/EnrichedTextLinkSpan.kt
  android/src/main/java/com/swmansion/enriched/text/spans/EnrichedTextMentionSpan.kt
  android/src/main/java/com/swmansion/enriched/text/spans/EnrichedTextOrderedListSpan.kt
  android/src/main/java/com/swmansion/enriched/text/spans/EnrichedTextStrikeThroughSpan.kt
  android/src/main/java/com/swmansion/enriched/text/spans/EnrichedTextUnderlineSpan.kt
  android/src/main/java/com/swmansion/enriched/text/spans/EnrichedTextUnorderedListSpan.kt
  android/src/main/java/com/swmansion/enriched/text/spans/interfaces/EnrichedTextSpan.kt
  android/src/main/java/com/swmansion/enriched/textinput/spans/EnrichedInputUnorderedListSpan.kt
  android/src/main/java/com/swmansion/enriched/textinput/spans/interfaces/EnrichedInputSpan.kt
  android/src/main/java/com/swmansion/enriched/textinput/utils/EnrichedTextInputSpanFactory.kt
  android/src/main/new_arch/react/renderer/components/ReactNativeEnrichedSpec/conversions.h
  apps/example/src/App.tsx
  src/EnrichedText.tsx
  src/spec/EnrichedTextNativeComponent.ts
Due: lint, types, lint-android, clang-format

fix: truncation, style parsing, style redraw
  android/src/main/java/com/swmansion/enriched/common/EnrichedConstants.kt
  android/src/main/java/com/swmansion/enriched/common/spans/EnrichedMentionSpan.kt
  android/src/main/java/com/swmansion/enriched/text/EnrichedTextStyle.kt
  android/src/main/java/com/swmansion/enriched/text/EnrichedTextView.kt
  android/src/main/java/com/swmansion/enriched/text/MeasurementStore.kt
  apps/example/src/App.tsx
  src/EnrichedText.tsx
  src/EnrichedTextInput.tsx
  src/index.tsx
  src/spec/EnrichedTextInputNativeComponent.ts
  src/spec/EnrichedTextNativeComponent.ts
  src/types.ts
  src/utils/normalizeHtmlStyle.ts
Due: lint, types, lint-android

feat: support mentions and links press
  android/src/main/java/com/swmansion/enriched/text/EnrichedTextView.kt
  android/src/main/java/com/swmansion/enriched/text/EnrichedTextViewManager.kt
  android/src/main/java/com/swmansion/enriched/text/events/OnLinkPress.kt
  android/src/main/java/com/swmansion/enriched/text/events/OnMentionPress.kt
  android/src/main/java/com/swmansion/enriched/text/spans/EnrichedTextLinkSpan.kt
  android/src/main/java/com/swmansion/enriched/text/spans/EnrichedTextMentionSpan.kt
  apps/example/src/App.tsx
  src/EnrichedText.tsx
  src/index.tsx
  src/spec/EnrichedTextNativeComponent.ts
Due: lint, types, lint-android

fix: press handling
  android/src/main/java/com/swmansion/enriched/text/EnrichedTextMovementMethod.kt
  android/src/main/java/com/swmansion/enriched/text/EnrichedTextView.kt
  android/src/main/java/com/swmansion/enriched/text/spans/EnrichedTextLinkSpan.kt
  android/src/main/java/com/swmansion/enriched/text/spans/EnrichedTextMentionSpan.kt
  android/src/main/java/com/swmansion/enriched/text/spans/interfaces/EnrichedTextClickableSpan.kt
  apps/example/src/App.tsx
Due: lint, lint-android

chore: release 0.3.0
  apps/example/ios/Podfile.lock
  package.json
Due: none

chore: release 0.3.0 (#380)
  apps/example/ios/Podfile.lock
  package.json
Due: none

fix: cache checkboxes images in config
  ios/config/InputConfig.h
  ios/config/InputConfig.mm
  ios/utils/LayoutManagerExtension.mm
Due: clang-format

chore: expose deprecated state event type
  src/index.tsx
Due: lint

chore: expose deprecated state event type (#381)
  src/index.tsx
Due: lint

fix: naming
  ios/config/InputConfig.mm
Due: clang-format

chore: resolve conflicts
  android/src/main/java/com/swmansion/enriched/utils/Utils.kt
Due: lint-android

fix: removing bold spans from headings
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputView.kt
Due: lint-android

Fix(Android): removing bold spans from h4, h5, h6 headings (#383)
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputView.kt
Due: lint-android

fix: cursor position after toggling checkbox
  ios/EnrichedTextInputView.mm
Due: clang-format

feat(ios): add support for pasting images
  apps/example/src/App.tsx
  ios/EnrichedTextInputView.h
  ios/EnrichedTextInputView.mm
  ios/inputTextView/InputTextView.mm
  src/EnrichedTextInput.tsx
  src/index.tsx
  src/spec/EnrichedTextInputNativeComponent.ts
Due: lint, types, clang-format

feat: add returnKeyType submitBehavior and onSubmitEditing on iOS
  apps/example/src/App.tsx
  ios/EnrichedTextInputView.mm
  ios/utils/KeyboardUtils.h
  ios/utils/KeyboardUtils.mm
  src/EnrichedTextInput.tsx
  src/spec/EnrichedTextInputNativeComponent.ts
Due: lint, types, clang-format

feat: add returnKeyType returnKeyLabel submitBehavior and onSubmitEditing on Android
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputView.kt
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputViewManager.kt
  android/src/main/java/com/swmansion/enriched/textinput/events/OnSubmitEditingEvent.kt
  android/src/main/java/com/swmansion/enriched/textinput/watchers/EnrichedTextWatcher.kt
  src/EnrichedTextInput.tsx
  src/spec/EnrichedTextInputNativeComponent.ts
Due: lint, types, lint-android

chore: refactoring
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputView.kt
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputViewManager.kt
  android/src/main/java/com/swmansion/enriched/textinput/watchers/EnrichedTextWatcher.kt
  apps/example/src/App.tsx
  ios/EnrichedTextInputView.mm
  ios/utils/KeyboardUtils.mm
Due: lint, lint-android, clang-format

chore: cleanup
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputView.kt
  apps/example/src/App.tsx
Due: lint, lint-android

fix: android crash on ime action label press
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputView.kt
  apps/example/src/App.tsx
  src/index.tsx
Due: lint, lint-android

fix: bluring input
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputView.kt
  android/src/main/java/com/swmansion/enriched/textinput/watchers/EnrichedTextWatcher.kt
Due: lint-android

fix: add comment to onEditorAction
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputView.kt
Due: lint-android

feat: add placeholderTextColor prop support
  apps/example-web/src/App.tsx
  src/web/EnrichedTextInput.css
  src/web/EnrichedTextInput.tsx
Due: lint

feat: add selectionColor prop support
  apps/example-web/src/App.tsx
  src/web/EnrichedTextInput.css
  src/web/EnrichedTextInput.tsx
Due: lint

feat: add cursorColor prop support
  src/web/EnrichedTextInput.css
  src/web/EnrichedTextInput.tsx
Due: lint

feat: add onSelectionUpdate and setSelection logic
  apps/example-web/src/App.tsx
  src/web/EnrichedTextInput.tsx
Due: lint

feat: add onKeyPress prop support
  apps/example-web/src/App.tsx
  src/web/EnrichedTextInput.tsx
Due: lint

feat: add pasting images on Android
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputView.kt
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputViewManager.kt
  android/src/main/java/com/swmansion/enriched/textinput/events/OnPasteImagesEvent.kt
  android/src/main/java/com/swmansion/enriched/textinput/utils/RichContentReceiver.kt
Due: lint-android

feat: add blockquote support
  apps/example-web/src/App.tsx
  apps/example-web/src/components/Toolbar.tsx
  package.json
  src/web/EnrichedTextInput.tsx
  src/web/hooks/useOnChangeState.ts
  yarn.lock
Due: lint, types

feat: add inline code support
  apps/example-web/src/components/Toolbar.tsx
  package.json
  src/web/EnrichedTextInput.css
  src/web/EnrichedTextInput.tsx
  src/web/hooks/useOnChangeState.ts
  yarn.lock
Due: lint, types
