Repository software-mansion/react-native-enriched: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, lint-android, clang-format

lint:
  run: npx eslint {staged_files}

types:
  run: npx tsc

lint-android:
  run: cd apps/example/android && ./gradlew lintVerify

clang-format:
  run: npx clang-format -i {staged_files} && git add {staged_files}

test: added test for mentions in strictMarks
  .playwright/tests/strictMarks.spec.ts
Due: lint, types

refactor: cleanup mention plugin
  src/web/formats/EnrichedMention.ts
  src/web/pmPlugins/mentionPlugin.ts
  src/web/pmPlugins/mentionPlugin/index.ts
  src/web/pmPlugins/mentionPlugin/isCaretInBlockedContext.ts
  src/web/pmPlugins/mentionPlugin/makeMentionPluginState.ts
  src/web/pmPlugins/mentionPlugin/mentionPluginKey.ts
  src/web/pmPlugins/mentionPlugin/removeMentionMarksIfSpansResized.ts
  src/web/pmPlugins/mentionPlugin/setMention.ts
  src/web/pmPlugins/mentionPlugin/stripPartialMentionMarks.ts
  src/web/pmPlugins/mentionPlugin/types.ts
Due: lint, types

feat: added channel mentions to example app
  apps/example-web/src/App.tsx
  apps/example-web/src/components/MentionSuggestions.css
  apps/example-web/src/components/MentionSuggestions.tsx
  apps/example-web/src/components/UserMentionSuggestions.tsx
  apps/example-web/src/constants/mockChannels.ts
  apps/example-web/src/hooks/useChannelMention.ts
  apps/example-web/src/hooks/useUserMention.ts
  src/web/pmPlugins/mentionPlugin/setMention.ts
Due: lint, types

refactor: simplify mentions popup
  apps/example-web/src/App.tsx
  apps/example-web/src/components/MentionPopup.css
  apps/example-web/src/components/MentionPopup.tsx
  apps/example-web/src/components/MentionSuggestions.tsx
  apps/example-web/src/constants/mockUsers.ts
  apps/example-web/src/hooks/useUserMention.ts
  apps/example/src/screens/DevScreen.tsx
  src/web/EnrichedTextInput.css
  src/web/EnrichedTextInput.tsx
  src/web/pmPlugins/mentionPlugin/index.ts
  src/web/pmPlugins/mentionPlugin/setMention.ts
  src/web/pmPlugins/mentionPlugin/startMention.ts
  src/web/pmPlugins/mentionPlugin/subscribeMentionEvents.ts
Due: lint, types

fix: fix issue with strictMarks plugin
  src/web/pmPlugins/strictMarksPlugin.ts
Due: lint, types

chore: tiny fixes/improvements
  apps/example/src/hooks/useEditorState.ts
  apps/example/src/hooks/useUserMention.ts
  src/web/pmPlugins/mentionPlugin/index.ts
  src/web/pmPlugins/mentionPlugin/removeMentionMarksIfSpansResized.ts
Due: lint, types

fix: delete unnecessary files
  .cursor/sandbox.json
  test-results/.last-run.json
Due: none

fix: make AlignmentStyle work
  ios/EnrichedTextInputView.mm
  ios/extensions/LayoutManagerExtension.mm
  ios/inputAttributesManager/InputAttributesManager.mm
  ios/inputHtmlParser/InputHtmlParser.mm
  ios/interfaces/StyleBase.h
  ios/interfaces/StyleBase.mm
  ios/interfaces/StyleHeaders.h
  ios/styles/AlignmentStyle.mm
  ios/styles/CheckboxListStyle.mm
  ios/textHtmlParser/TextHtmlParser.mm
  ios/utils/AlignmentUtils.h
  ios/utils/AlignmentUtils.mm
  ios/utils/TextListUtils.h
  ios/utils/TextListUtils.mm
Due: clang-format

fix: alignment parsing
  ios/htmlParser/HtmlParser.mm
Due: clang-format

feat: make alignment work for EnrichedText
  ios/inputHtmlParser/InputHtmlParser.mm
  ios/styles/AlignmentStyle.mm
  ios/textHtmlParser/TextHtmlParser.mm
  ios/utils/AlignmentUtils.h
  ios/utils/AlignmentUtils.mm
Due: clang-format

fix: refactor alignment to style
  ios/EnrichedTextInputView.mm
  ios/extensions/LayoutManagerExtension.mm
  ios/htmlParser/HtmlParser.mm
  ios/inputAttributesManager/InputAttributesManager.mm
  ios/inputHtmlParser/InputHtmlParser.mm
  ios/interfaces/EnrichedTextStyleHeaders.h
  ios/interfaces/StyleBase.h
  ios/interfaces/StyleBase.mm
  ios/interfaces/StyleHeaders.h
  ios/interfaces/StyleTypeEnum.h
  ios/styles/AlignmentStyle.mm
  ios/styles/CheckboxListStyle.mm
  ios/styles/EnrichedTextStyles.mm
  ios/textHtmlParser/TextHtmlParser.mm
  ios/utils/AlignmentUtils.h
  ios/utils/AlignmentUtils.mm
  ios/utils/StyleUtils.mm
  ios/utils/TextListUtils.h
  ios/utils/TextListUtils.mm
Due: clang-format

docs: update web docs
  docs/WEB.md
Due: none

fix: mention disappears after two spaces
  src/web/pmPlugins/mentionPlugin/makeMentionPluginState.ts
Due: lint, types

fix: removing checkboxList
  ios/interfaces/StyleBase.mm
  ios/utils/TextListUtils.h
  ios/utils/TextListUtils.mm
Due: clang-format

feat(web): images (#576)
  .playwright/screenshots/images-blockquote-placeholder.png
  .playwright/screenshots/images-checkbox-list-placeholder.png
  .playwright/screenshots/images-inline-routed-png.png
  .playwright/screenshots/images-loaded-in-list.png
  .playwright/screenshots/images-ol-placeholder.png
  .playwright/screenshots/images-paragraph-placeholder.png
  .playwright/screenshots/images-placeholder-broken-url.png
  .playwright/screenshots/images-placeholder-empty-src.png
  .playwright/screenshots/images-ul-placeholder.png
  .playwright/tests/images.spec.ts
  .playwright/tests/testLinks.spec.ts
  apps/example-web/src/App.tsx
  apps/example-web/src/components/ImageModal.tsx
  apps/example-web/src/components/Toolbar.tsx
  apps/example-web/src/testScreens/VisualRegression.tsx
  docs/WEB.md
  package.json
  src/web/EnrichedTextInput.css
  src/web/EnrichedTextInput.tsx
  src/web/formats/EnrichedImage.ts
  src/web/formats/EnrichedImageNodeView.tsx
  src/web/formats/EnrichedLink.ts
  src/web/formats/formatRules.ts
  src/web/pmPlugins/stripMarksOnImagePlugin.ts
  src/web/positionMapping.ts
  src/web/tiptapHtmlNormalizer.ts
  src/web/useOnChangeState.ts
  src/web/useOnChangeText.ts
  yarn.lock
Due: lint, types

docs: update docs
  docs/WEB.md
Due: none

fix: preserve aignment during typing attributes reset
  ios/inputAttributesManager/InputAttributesManager.mm
  ios/utils/ParagraphAttributesUtils.mm
  ios/utils/ZeroWidthSpaceUtils.mm
Due: clang-format

fix: alignment detection
  ios/EnrichedTextInputView.mm
  ios/interfaces/StyleHeaders.h
  ios/styles/AlignmentStyle.mm
  ios/styles/CheckboxListStyle.mm
Due: clang-format

fix: remove unused code
  ios/utils/AlignmentUtils.h
  ios/utils/AlignmentUtils.mm
Due: clang-format

feat(web): add styles for mentions
  apps/example-web/src/defaultHtmlStyle.ts
  src/utils/expandMentionStylesForIndicators.ts
  src/utils/isMentionStyleRecord.ts
  src/utils/normalizeHtmlStyle.ts
  src/web/EnrichedTextInput.css
  src/web/EnrichedTextInput.tsx
  src/web/styleConversion/__tests__/buildMentionRulesCSS.test.ts
  src/web/styleConversion/__tests__/htmlStyleToCSSVariables.test.ts
  src/web/styleConversion/__tests__/mentionIndicatorCssKey.test.ts
  src/web/styleConversion/buildMentionRulesCSS.ts
  src/web/styleConversion/htmlStyleToCSSVariables.ts
  src/web/styleConversion/mentionIndicatorCssKey.ts
Due: lint, types

test: added tests for mentions
  .playwright/screenshots/mention-visual.png
  .playwright/tests/mentions.spec.ts
  apps/example-web/src/RouteSelector.tsx
  apps/example-web/src/testScreens/TestMentions.tsx
Due: lint, types

test: fix flaky links test
  .playwright/tests/testLinks.spec.ts
Due: lint, types

feat(web): apply placeholder, caret, and selection colors on web
  .gitignore
  docs/WEB.md
  src/web/EnrichedTextInput.css
  src/web/EnrichedTextInput.tsx
Due: lint

refactor: move vars creation to own file
  src/web/EnrichedTextInput.tsx
  src/web/styleConversion/enrichedInputThemingToCSSProperties.ts
Due: lint, types

fix: apply zero width space for headings
  ios/inputAttributesManager/InputAttributesManager.mm
  ios/interfaces/StyleBase.h
  ios/interfaces/StyleBase.mm
  ios/styles/HeadingStyleBase.mm
  ios/utils/ZeroWidthSpaceUtils.mm
Due: clang-format

chore: tiny tweaks and tests
  .gitignore
  src/web/EnrichedTextInput.css
  src/web/styleConversion/__tests__/enrichedInputThemingToCSSProperties.test.ts
Due: lint, types

docs: update WEB.md
  docs/WEB.md
Due: none

fix: zws handling for headings
  ios/styles/HeadingStyleBase.mm
  ios/utils/ZeroWidthSpaceUtils.mm
Due: clang-format

fix: e2e test for headings
  .maestro/enrichedInput/flows/conflicting_paragraph_merge.yaml
Due: none

feat: implement submit props
  apps/example-web/src/App.tsx
  apps/example-web/src/RouteSelector.tsx
  src/web/EnrichedTextInput.tsx
  src/web/returnKeyTypeToEnterKeyHint.ts
Due: lint, types

test: added tests
  .playwright/tests/submitProps.spec.ts
  apps/example-web/src/testScreens/TestSubmitProps.tsx
  src/web/__tests__/returnKeyTypeToEnterKeyHint.test.ts
Due: lint, types

docs: updated WEB.md
  docs/WEB.md
Due: none

fix: cursor alignment for empty lines
  ios/enrichedInputTextView/EnrichedInputTextView/EnrichedInputTextView.mm
  ios/inputAttributesManager/InputAttributesManager.mm
  ios/interfaces/StyleBase.h
  ios/interfaces/StyleBase.mm
  ios/styles/AlignmentStyle.mm
Due: clang-format

fix: placeholder alignment
  ios/EnrichedTextInputView.mm
Due: clang-format

fix: linting
  ios/EnrichedTextInputView.mm
Due: clang-format

test: add e2e tests for alignment
  .maestro/enrichedInput/flows/paragraph_styles_alignment_visual.yaml
  .maestro/enrichedInput/screenshots/ios/paragraph_styles_alignment.png
  .maestro/enrichedText/flows/alignment_visual.yaml
  .maestro/enrichedText/screenshots/ios/alignment_visual.png
Due: none

Update ios/interfaces/StyleBase.mm
  ios/interfaces/StyleBase.mm
Due: clang-format

fix: comments
  ios/inputAttributesManager/InputAttributesManager.mm
  ios/interfaces/StyleBase.mm
Due: clang-format

fix(iOS): apply zero width space for headings (#597)
  .maestro/enrichedInput/flows/conflicting_paragraph_merge.yaml
  ios/inputAttributesManager/InputAttributesManager.mm
  ios/interfaces/StyleBase.h
  ios/interfaces/StyleBase.mm
  ios/styles/HeadingStyleBase.mm
Due: clang-format

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts, jsx, tsx}
  lint-android: any of: **/*.{kt,kts,java,gradle}
  clang-format: any of: *.{h,m,mm,cpp}, but not: (Pods|build|node_modules)
