Repository software-mansion/react-native-enriched: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, lint-android, clang-format

lint:
  run: npx eslint {staged_files}

types:
  run: npx tsc

lint-android:
  run: cd apps/example/android && ./gradlew lintVerify

clang-format:
  run: npx clang-format -i {staged_files} && git add {staged_files}

test: added example tests
  .gitignore
  .maestro/flows/core_controls_smoke.yaml
  .maestro/flows/inline_styles_visual.yaml
  .maestro/flows/placeholder_visual.yaml
  .maestro/screenshots/initial-placeholder.png
  .maestro/screenshots/inline-styles.png
  CONTRIBUTING.md
  package.json
Due: none

test: created capture_or_assert_screenshot
  .maestro/subflows/capture_or_assert_screenshot.yaml
Due: none

test: refactored maestro flows
  .maestro/flows/inline_styles_visual.yaml
  .maestro/flows/placeholder_visual.yaml
  .maestro/screenshots/android/initial_placeholder.png
  .maestro/screenshots/android/inline_styles.png
  .maestro/screenshots/inline-styles.png
  .maestro/screenshots/ios/initial_placeholder.png
  .maestro/screenshots/ios/inline_styles.png
Due: none

test: updated testing docs
  CONTRIBUTING.md
Due: none

test: updated test screen
  apps/example/src/components/Toolbar.tsx
  apps/example/src/components/ToolbarButton.tsx
Due: lint

fix: paragraph style always in default typing attributes
  ios/EnrichedTextInputView.mm
  ios/config/InputConfig.h
  ios/config/InputConfig.mm
Due: clang-format

fix(iOS): nil `NSParagraphStyle` crashes (#450)
  ios/EnrichedTextInputView.mm
  ios/config/InputConfig.h
  ios/config/InputConfig.mm
Due: clang-format

chore: release 0.5.0
  apps/example/ios/Podfile.lock
  package.json
Due: none

chore: release 0.5.0 (#452)
  apps/example/ios/Podfile.lock
  package.json
Due: none

fix: pasting webp images
  ios/inputTextView/InputTextView.mm
Due: clang-format

fix(iOS): pasting webp images (#453)
  ios/inputTextView/InputTextView.mm
Due: clang-format

chore: release 0.5.1
  apps/example/ios/Podfile.lock
  package.json
Due: none

chore: release 0.5.1 (#454)
  apps/example/ios/Podfile.lock
  package.json
Due: none

chore: update example app docs
  apps/example/README.md
Due: none

Update apps/example/README.md
  apps/example/README.md
Due: none

chore: update example app docs (#455)
  apps/example/README.md
Due: none

fix: parsing initial html
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputView.kt
Due: lint-android

test: updated example tests
  .maestro/flows/core_controls_smoke.yaml
  .maestro/flows/inline_styles_visual.yaml
  .maestro/screenshots/android/inline_styles.png
  .maestro/screenshots/ios/inline_styles.png
Due: none

test: updated test docs
  CONTRIBUTING.md
  package.json
Due: none

test: added script for running tests
  .maestro/scripts/run-tests.sh
Due: none

test: refactored Dev/Test screen
  apps/example/src/App.tsx
  apps/example/src/components/Toolbar.tsx
  apps/example/src/constants/editorConfig.ts
  apps/example/src/hooks/useEditorState.ts
  apps/example/src/screens/DevScreen.tsx
  apps/example/src/screens/TestScreen.tsx
Due: lint, types

test: added scripts to setup test emulators/simulators
  .maestro/scripts/setup-android-emulator.sh
  .maestro/scripts/setup-ios-simulator.sh
Due: none

test: updated docs
  .maestro/flows/inline_styles_visual.yaml
  .maestro/screenshots/ios/inline_styles.png
  .maestro/scripts/run-tests.sh
  CONTRIBUTING.md
Due: none

test: handled min maestro version
  .maestro/scripts/run-tests.sh
  CONTRIBUTING.md
Due: none

fix: selection calculations
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputView.kt
  android/src/main/java/com/swmansion/enriched/textinput/utils/EnrichedSelection.kt
  android/src/main/java/com/swmansion/enriched/textinput/utils/EnrichedSpannableStringBuilder.kt
Due: lint-android

test: added script for both platforms
  .maestro/flows/core_controls_smoke.yaml
  .maestro/flows/placeholder_visual.yaml
  .maestro/screenshots/ios/initial_placeholder.png
  .maestro/scripts/run-tests-all.sh
  CONTRIBUTING.md
  package.json
Due: none

test: added clear button to test screen
  apps/example/src/hooks/useEditorState.ts
  apps/example/src/screens/TestScreen.tsx
Due: lint, types

test: fix tiny issues
  .maestro/scripts/run-tests-all.sh
  .maestro/scripts/run-tests.sh
  CONTRIBUTING.md
  package.json
Due: none

test: add e2e tests setup (#447)
  .gitignore
  .maestro/flows/core_controls_smoke.yaml
  .maestro/flows/inline_styles_visual.yaml
  .maestro/flows/placeholder_visual.yaml
  .maestro/screenshots/android/initial_placeholder.png
  .maestro/screenshots/android/inline_styles.png
  .maestro/screenshots/ios/initial_placeholder.png
  .maestro/screenshots/ios/inline_styles.png
  .maestro/scripts/run-tests-all.sh
  .maestro/scripts/run-tests.sh
  .maestro/scripts/setup-android-emulator.sh
  .maestro/scripts/setup-ios-simulator.sh
  .maestro/subflows/capture_or_assert_screenshot.yaml
  CONTRIBUTING.md
  apps/example/ios/EnrichedTextInputExample.xcodeproj/project.pbxproj
  apps/example/src/App.tsx
  apps/example/src/components/Button.tsx
  apps/example/src/components/HtmlSection.tsx
  apps/example/src/components/Toolbar.tsx
  apps/example/src/components/ToolbarButton.tsx
  apps/example/src/constants/editorConfig.ts
  apps/example/src/hooks/useEditorState.ts
  apps/example/src/screens/DevScreen.tsx
  apps/example/src/screens/TestScreen.tsx
  package.json
Due: lint, types

fix: ios scrolling
  ios/EnrichedTextInputView.h
  ios/inputTextView/InputTextView.mm
Due: clang-format

fix: updating font size
  ios/EnrichedTextInputView.mm
Due: clang-format

fix(android): parsing initial html (#462)
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputView.kt
Due: lint-android

fix(android): selection calculations (#463)
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputView.kt
  android/src/main/java/com/swmansion/enriched/textinput/utils/EnrichedSelection.kt
  android/src/main/java/com/swmansion/enriched/textinput/utils/EnrichedSpannableStringBuilder.kt
Due: lint-android

fix(iOS): updating font size (#466)
  ios/EnrichedTextInputView.mm
Due: clang-format

fix(iOS): default value scroll (#465)
  ios/EnrichedTextInputView.h
  ios/inputTextView/InputTextView.mm
Due: clang-format

chore: release 0.5.2
  apps/example/ios/Podfile.lock
  package.json
Due: none

chore: release 0.5.2 (#467)
  apps/example/ios/Podfile.lock
  package.json
Due: none

test(test screen): made modal avoid keyboard
  apps/example/src/components/ImageModal.tsx
  apps/example/src/components/LinkModal.tsx
  apps/example/src/components/ModalShell.tsx
  apps/example/src/components/ValueModal.tsx
  apps/example/src/screens/TestScreen.tsx
Due: lint

test(test screen): added min/max btn
  apps/example/src/screens/TestScreen.tsx
Due: lint

test: added test for PR #424
  .maestro/flows/image_position_stability.yaml
  .maestro/screenshots/android/image_position_stability_after_typing.png
  .maestro/screenshots/android/image_position_stability_before_typing.png
  .maestro/screenshots/ios/image_position_stability_after_typing.png
  .maestro/screenshots/ios/image_position_stability_before_typing.png
Due: none

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts, jsx, tsx}
  lint-android: any of: **/*.{kt,kts,java,gradle}
  clang-format: any of: *.{h,m,mm,cpp}, but not: (Pods|build|node_modules)
