Repository software-mansion/react-native-enriched: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, lint-android, clang-format

lint:
  run: npx eslint {staged_files}

types:
  run: npx tsc

lint-android:
  run: cd apps/example/android && ./gradlew lintVerify

clang-format:
  run: npx clang-format -i {staged_files} && git add {staged_files}

test: added test for PR #284 android only
  .maestro/flows/empty_element_parsing.yaml
  .maestro/screenshots/android/empty_element_parsing.png
Due: none

test: added test for PR #450
  .maestro/flows/paragraph_styles_no_crash.yaml
  .maestro/screenshots/android/paragraph_styles_no_crash.png
  .maestro/screenshots/ios/paragraph_styles_no_crash.png
Due: none

test: added {android,ios}-only flags
  .maestro/scripts/run-tests.sh
Due: none

test: simplified empty_element_parsing
  .maestro/flows/codeblock_no_link_detection.yaml
  .maestro/flows/empty_element_parsing.yaml
Due: none

fix(iOS): body tag handling crash (#480)
  ios/inputParser/InputParser.mm
Due: clang-format

fix(iOS): redundant check in headings parsing (#479)
  ios/inputParser/InputParser.mm
Due: clang-format

test: removed unnecessary newlines
  .maestro/flows/checkbox_toggle.yaml
  .maestro/flows/conflicting_paragraph_merge.yaml
Due: none

test: added tests for recent bugs 2 (#484)
  .maestro/flows/checkbox_toggle.yaml
  .maestro/flows/codeblock_no_link_detection.yaml
  .maestro/flows/conflicting_paragraph_merge.yaml
  .maestro/flows/empty_element_parsing.yaml
  .maestro/flows/paragraph_styles_no_crash.yaml
  .maestro/screenshots/android/checkbox_toggle.png
  .maestro/screenshots/android/codeblock_no_link_detection.png
  .maestro/screenshots/android/conflicting_paragraph_merge.png
  .maestro/screenshots/android/empty_element_parsing.png
  .maestro/screenshots/android/paragraph_styles_no_crash.png
  .maestro/screenshots/ios/checkbox_toggle.png
  .maestro/screenshots/ios/codeblock_no_link_detection.png
  .maestro/screenshots/ios/conflicting_paragraph_merge.png
  .maestro/screenshots/ios/paragraph_styles_no_crash.png
  .maestro/scripts/run-tests.sh
Due: none

test: added test for PR #370
  .maestro/flows/inline_styles_survive_block_toggle.yaml
  .maestro/screenshots/android/inline_styles_survive_block_toggle.png
  .maestro/screenshots/ios/inline_styles_survive_block_toggle.png
Due: none

test: added test for PR #421
  .maestro/flows/link_not_extended.yaml
  .maestro/screenshots/ios/link_not_extended.png
  .maestro/subflows/insert_link.yaml
Due: none

test: added test for PR #401
  .maestro/flows/list_newline_insertion.yaml
  .maestro/screenshots/android/list_newline_insertion.png
  .maestro/screenshots/ios/list_newline_insertion.png
Due: none

test: added test for PR #359
  .maestro/flows/inline_styles_survive_block_toggle.yaml
  .maestro/flows/ordered_list_renumbering.yaml
  .maestro/screenshots/android/ordered_list_renumbering_after_deleting_second_line.png
  .maestro/screenshots/android/ordered_list_renumbering_after_emptying_second_line.png
  .maestro/screenshots/ios/ordered_list_renumbering_after_deleting_second_line.png
  .maestro/screenshots/ios/ordered_list_renumbering_after_emptying_second_line.png
Due: none

test: wrote tests for scrolling
  .maestro/flows/scrolling_after_typing.yaml
  .maestro/flows/scrolling_set_value.yaml
  .maestro/flows/scrolling_with_paragraph_styles.yaml
  .maestro/screenshots/android/scroll_after_typing_long_content_bottom.png
  .maestro/screenshots/android/scroll_after_typing_long_content_top.png
  .maestro/screenshots/android/scrolling_paragraph_styles_bottom.png
  .maestro/screenshots/android/scrolling_paragraph_styles_top.png
  .maestro/screenshots/android/scrolling_set_value_bottom.png
  .maestro/screenshots/android/scrolling_set_value_top.png
  .maestro/screenshots/ios/scroll_after_typing_long_content_bottom.png
  .maestro/screenshots/ios/scroll_after_typing_long_content_top.png
  .maestro/screenshots/ios/scrolling_paragraph_styles_bottom.png
  .maestro/screenshots/ios/scrolling_paragraph_styles_top.png
  .maestro/screenshots/ios/scrolling_set_value_bottom.png
  .maestro/screenshots/ios/scrolling_set_value_top.png
Due: none

test: wrote visual test for all headings
  .maestro/flows/paragraph_styles_headings_visual.yaml
  .maestro/screenshots/android/paragraph_styles_headings.png
  .maestro/screenshots/ios/paragraph_styles_headings.png
Due: none

test: added a test for lists
  .maestro/flows/paragraph_styles_lists_visual.yaml
  .maestro/screenshots/android/paragraph_styles_lists.png
  .maestro/screenshots/ios/paragraph_styles_lists.png
Due: none

test: added test for code block blocking
  .maestro/flows/codeblock_style_blocking.yaml
  .maestro/screenshots/android/codeblock_style_blocking.png
  .maestro/screenshots/ios/codeblock_style_blocking.png
Due: none

test: fix scrolling tests
  .maestro/flows/scrolling_after_typing.yaml
  .maestro/flows/scrolling_with_paragraph_styles.yaml
  .maestro/screenshots/android/scrolling_paragraph_styles_bottom.png
  .maestro/screenshots/ios/scrolling_paragraph_styles_bottom.png
Due: none

test: added comment to list_newline_insertion
  .maestro/flows/list_newline_insertion.yaml
Due: none

test: add tests for recent bugs 3 (#485)
  .maestro/flows/inline_styles_survive_block_toggle.yaml
  .maestro/flows/link_not_extended.yaml
  .maestro/flows/list_newline_insertion.yaml
  .maestro/flows/ordered_list_renumbering.yaml
  .maestro/screenshots/android/inline_styles_survive_block_toggle.png
  .maestro/screenshots/android/list_newline_insertion.png
  .maestro/screenshots/android/ordered_list_renumbering_after_deleting_second_line.png
  .maestro/screenshots/android/ordered_list_renumbering_after_emptying_second_line.png
  .maestro/screenshots/ios/inline_styles_survive_block_toggle.png
  .maestro/screenshots/ios/link_not_extended.png
  .maestro/screenshots/ios/list_newline_insertion.png
  .maestro/screenshots/ios/ordered_list_renumbering_after_deleting_second_line.png
  .maestro/screenshots/ios/ordered_list_renumbering_after_emptying_second_line.png
  .maestro/subflows/insert_link.yaml
Due: none

test: added test for blocks
  .maestro/flows/paragraph_styles_blocks_visual.yaml
  .maestro/screenshots/android/paragraph_styles_blocks.png
  .maestro/screenshots/ios/paragraph_styles_blocks.png
Due: none

feat(android): add text alignment support
  android/src/main/java/com/swmansion/enriched/common/parser/EnrichedParser.java
  android/src/main/java/com/swmansion/enriched/common/spans/EnrichedAlignmentPlaceholderSpan.kt
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputView.kt
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputViewManager.kt
  android/src/main/java/com/swmansion/enriched/textinput/utils/EnrichedSpanState.kt
  android/src/main/java/com/swmansion/enriched/textinput/utils/EnrichedSpannable.kt
Due: lint-android

fix(android): improve list marker positioning with text alignment
  android/src/main/java/com/swmansion/enriched/common/spans/EnrichedCheckboxListSpan.kt
  android/src/main/java/com/swmansion/enriched/common/spans/EnrichedOrderedListSpan.kt
  android/src/main/java/com/swmansion/enriched/common/spans/EnrichedUnorderedListSpan.kt
  android/src/main/java/com/swmansion/enriched/textinput/styles/ListStyles.kt
Due: lint-android

fix(android): refine text alignment watchers and selection logic
  android/src/main/java/com/swmansion/enriched/textinput/utils/EnrichedSelection.kt
  android/src/main/java/com/swmansion/enriched/textinput/utils/EnrichedSpannableStringBuilder.kt
  android/src/main/java/com/swmansion/enriched/textinput/watchers/EnrichedSpanWatcher.kt
  android/src/main/java/com/swmansion/enriched/textinput/watchers/EnrichedTextWatcher.kt
Due: lint-android

docs: update API reference for text alignment and Android support
  docs/API_REFERENCE.md
Due: none

chore(ios): update Podfile.lock
  apps/example/ios/Podfile.lock
Due: none

test: updated failing screenshots
  .maestro/screenshots/android/paragraph_styles_blocks.png
Due: none

test: make tests more resilient
  .maestro/flows/paragraph_styles_blocks_visual.yaml
  .maestro/flows/paragraph_styles_headings_visual.yaml
  .maestro/flows/paragraph_styles_lists_visual.yaml
  .maestro/screenshots/android/paragraph_styles_blocks.png
  .maestro/screenshots/android/paragraph_styles_lists.png
  .maestro/screenshots/ios/paragraph_styles_blocks.png
  .maestro/screenshots/ios/paragraph_styles_lists.png
  .maestro/scripts/setup-android-emulator.sh
Due: none

fix(android): block mention events when cursor is inside a finalized mention span
  android/src/main/java/com/swmansion/enriched/textinput/styles/ParametrizedStyles.kt
Due: lint-android

test: scrolling and paragraph styles tests (#487)
  .maestro/flows/codeblock_style_blocking.yaml
  .maestro/flows/paragraph_styles_blocks_visual.yaml
  .maestro/flows/paragraph_styles_headings_visual.yaml
  .maestro/flows/paragraph_styles_lists_visual.yaml
  .maestro/flows/scrolling_after_typing.yaml
  .maestro/flows/scrolling_set_value.yaml
  .maestro/flows/scrolling_with_paragraph_styles.yaml
  .maestro/screenshots/android/codeblock_style_blocking.png
  .maestro/screenshots/android/paragraph_styles_blocks.png
  .maestro/screenshots/android/paragraph_styles_headings.png
  .maestro/screenshots/android/paragraph_styles_lists.png
  .maestro/screenshots/android/scroll_after_typing_long_content_bottom.png
  .maestro/screenshots/android/scroll_after_typing_long_content_top.png
  .maestro/screenshots/android/scrolling_paragraph_styles_bottom.png
  .maestro/screenshots/android/scrolling_paragraph_styles_top.png
  .maestro/screenshots/android/scrolling_set_value_bottom.png
  .maestro/screenshots/android/scrolling_set_value_top.png
  .maestro/screenshots/ios/codeblock_style_blocking.png
  .maestro/screenshots/ios/paragraph_styles_blocks.png
  .maestro/screenshots/ios/paragraph_styles_headings.png
  .maestro/screenshots/ios/paragraph_styles_lists.png
  .maestro/screenshots/ios/scroll_after_typing_long_content_bottom.png
  .maestro/screenshots/ios/scroll_after_typing_long_content_top.png
  .maestro/screenshots/ios/scrolling_paragraph_styles_bottom.png
  .maestro/screenshots/ios/scrolling_paragraph_styles_top.png
  .maestro/screenshots/ios/scrolling_set_value_bottom.png
  .maestro/screenshots/ios/scrolling_set_value_top.png
  .maestro/scripts/setup-android-emulator.sh
Due: none

refactor: consolidate shared types into src/types.ts
  src/EnrichedTextInput.tsx
  src/index.tsx
  src/types.ts
Due: lint, types

feat(web): add web entry point and web stub component
  src/index.web.tsx
  src/web/EnrichedTextInput.tsx
Due: lint

chore: exclude web files from npm package, configure example-web
  apps/example-web/tsconfig.app.json
  apps/example-web/vite.config.ts
  package.json
Due: lint, types

refactor: move native component to src/native, split EnrichedTextInputProps per platform
  src/index.tsx
  src/index.web.tsx
  src/native/EnrichedTextInput.tsx
  src/types.ts
  src/web/EnrichedTextInput.tsx
Due: lint, types

chore: use EnrichedTextInput in example-web app
  apps/example-web/src/App.tsx
  src/web/EnrichedTextInput.tsx
Due: lint

fix: make zws inside ul works
  ios/EnrichedTextInputView.mm
  ios/extensions/LayoutManagerExtension.mm
  ios/interfaces/StyleBase.h
  ios/interfaces/StyleBase.mm
  ios/styles/UnorderedListStyle.mm
  ios/utils/ParagraphAttributesUtils.mm
  ios/utils/ZeroWidthSpaceUtils.mm
Due: clang-format

refactor: rename index.web.tsx -> index.tsx (web), index.tsx -> index.native.tsx (native)
  apps/example-web/tsconfig.app.json
  apps/example-web/vite.config.ts
  package.json
  src/index.native.tsx
  src/index.tsx
  src/types.ts
Due: lint, types

chore: formatting fix
  src/types.ts
Due: lint, types

fix: inheriting list styles edge cases
  ios/EnrichedTextInputView.mm
  ios/utils/ZeroWidthSpaceUtils.mm
Due: clang-format

chore: update source and main fields
  package.json
Due: none

feat: refactor ordered list
  ios/EnrichedTextInputView.mm
  ios/extensions/LayoutManagerExtension.mm
  ios/inputParser/InputParser.mm
  ios/interfaces/StyleHeaders.h
  ios/styles/OrderedListStyle.mm
  ios/styles/UnorderedListStyle.mm
Due: clang-format

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts, jsx, tsx}
  lint-android: any of: **/*.{kt,kts,java,gradle}
  clang-format: any of: *.{h,m,mm,cpp}, but not: (Pods|build|node_modules)
