Repository software-mansion/react-native-enriched: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, lint-android, clang-format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint {staged_files}
    types:
      glob: "*.{js,ts, jsx, tsx}"
      run: npx tsc
    lint-android:
      glob: "**/*.{kt,kts,java,gradle}"
      run: cd apps/example/android && ./gradlew lintVerify
    clang-format:
      glob: "*.{h,m,mm,cpp}"
      exclude: "(Pods|build|node_modules)"
      run: npx clang-format -i {staged_files} && git add {staged_files}
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

feat: add foreground color style for iOS
  android/src/main/java/com/swmansion/enriched/EnrichedTextInputViewManager.kt
  apps/example/src/App.tsx
  apps/example/src/components/ColorPreview.tsx
  apps/example/src/components/Toolbar.tsx
  apps/example/src/components/ToolbarColorButton.tsx
  ios/EnrichedTextInputView.mm
  ios/inputParser/InputParser.mm
  ios/styles/ColorStyle.mm
  ios/utils/ColorExtension.h
  ios/utils/ColorExtension.mm
  ios/utils/ColorUtils.m
  ios/utils/StyleHeaders.h
  ios/utils/StyleTypeEnum.h
  src/EnrichedTextInput.tsx
  src/EnrichedTextInputNativeComponent.ts
Due: lint, types, lint-android, clang-format

fix: remove unused file
  ios/utils/ColorUtils.m
Due: clang-format

fix: add setColor and removeColor methods
  android/src/main/java/com/swmansion/enriched/EnrichedTextInputViewManager.kt
  apps/example/src/App.tsx
  apps/example/src/components/ColorPreview.tsx
  apps/example/src/components/Toolbar.tsx
  ios/EnrichedTextInputView.mm
  ios/inputParser/InputParser.mm
  ios/utils/ColorExtension.mm
  src/EnrichedTextInput.tsx
  src/EnrichedTextInputNativeComponent.ts
  src/index.tsx
Due: lint, types, lint-android, clang-format

fix: remove useMemo
  apps/example/src/components/ToolbarColorButton.tsx
Due: lint

fix: properly handle new colours in parser
  ios/EnrichedTextInputView.mm
  ios/inputParser/InputParser.mm
  ios/styles/ColorStyle.mm
  ios/utils/StyleHeaders.h
Due: clang-format

fix: build on iOS
  ios/EnrichedTextInputView.mm
Due: clang-format

fix: rebase with latest main
  ios/styles/ColorStyle.mm
Due: clang-format

fix: use removeColor method
  ios/EnrichedTextInputView.mm
Due: clang-format

fix: rebase with latest main
  ios/EnrichedTextInputView.mm
  ios/inputParser/InputParser.mm
  ios/styles/BlockQuoteStyle.mm
  ios/styles/BoldStyle.mm
  ios/styles/CodeBlockStyle.mm
  ios/styles/ColorStyle.mm
  ios/styles/HeadingStyleBase.mm
  ios/styles/ImageStyle.mm
  ios/styles/InlineCodeStyle.mm
  ios/styles/ItalicStyle.mm
  ios/styles/LinkStyle.mm
  ios/styles/MentionStyle.mm
  ios/styles/OrderedListStyle.mm
  ios/styles/StrikethroughStyle.mm
  ios/styles/UnderlineStyle.mm
  ios/styles/UnorderedListStyle.mm
  ios/utils/BaseStyleProtocol.h
  ios/utils/ColorExtension.mm
  ios/utils/StyleHeaders.h
Due: clang-format

feat: add colored style on android
  android/src/main/java/com/swmansion/enriched/EnrichedTextInputView.kt
  android/src/main/java/com/swmansion/enriched/EnrichedTextInputViewManager.kt
  android/src/main/java/com/swmansion/enriched/events/OnColorChangeEvent.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedColoredSpan.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedSpans.kt
  android/src/main/java/com/swmansion/enriched/styles/InlineStyles.kt
  android/src/main/java/com/swmansion/enriched/utils/EnrichedParser.java
  android/src/main/java/com/swmansion/enriched/utils/EnrichedSelection.kt
  android/src/main/java/com/swmansion/enriched/utils/EnrichedSpanState.kt
  apps/example/src/App.tsx
  src/EnrichedTextInputNativeComponent.ts
Due: lint, types, lint-android

fix: rebase with latest main
  android/src/main/java/com/swmansion/enriched/utils/EnrichedSpanState.kt
  apps/example/src/App.tsx
Due: lint, lint-android

feat: fast html parser
  ios/inputParser/EnrichedHTMLParser.h
  ios/inputParser/EnrichedHTMLParser.mm
  ios/inputParser/EnrichedHTMLTagUtils.h
  ios/inputParser/HtmlNode.h
  ios/inputParser/HtmlNode.mm
  ios/inputParser/InputParser.mm
  ios/styles/BlockQuoteStyle.mm
  ios/styles/BoldStyle.mm
  ios/styles/CodeBlockStyle.mm
  ios/styles/H1Style.mm
  ios/styles/H2Style.mm
  ios/styles/H3Style.mm
  ios/styles/HeadingStyleBase.mm
  ios/styles/ImageStyle.mm
  ios/styles/InlineCodeStyle.mm
  ios/styles/ItalicStyle.mm
  ios/styles/LinkStyle.mm
  ios/styles/MentionStyle.mm
  ios/styles/OrderedListStyle.mm
  ios/styles/StrikethroughStyle.mm
  ios/styles/UnderlineStyle.mm
  ios/styles/UnorderedListStyle.mm
  ios/utils/BaseStyleProtocol.h
  ios/utils/ParameterizedStyleProtocol.h
  ios/utils/StyleHeaders.h
Due: clang-format

fix: remove pragma
  ios/inputParser/EnrichedHTMLParser.mm
Due: clang-format

fix: better class namings
  ios/inputParser/EnrichedAttributedStringHTMLSerializer.h
  ios/inputParser/EnrichedAttributedStringHTMLSerializer.mm
  ios/inputParser/EnrichedAttributedStringHTMLSerializerTagUtils.h
  ios/inputParser/InputParser.mm
Due: clang-format

feat: faster html generation
  ios/inputParser/EnrichedHTMLParser.mm
Due: clang-format

fix: simplify namings
  ios/inputParser/EnrichedHTMLParser.mm
  ios/inputParser/EnrichedHTMLTagUtils.h
Due: clang-format

fix: better names for magic hex
  ios/inputParser/EnrichedHTMLParser.mm
  ios/inputParser/EnrichedHTMLTagUtils.h
Due: clang-format

fix: remove pargrma mark
  ios/inputParser/EnrichedHTMLParser.h
Due: clang-format

fix: better types
  ios/styles/ImageStyle.mm
  ios/styles/LinkStyle.mm
  ios/styles/MentionStyle.mm
  ios/utils/ParameterizedStyleProtocol.h
Due: clang-format

feat: add iOSExperimentalHTMLSerializer prop
  android/src/main/java/com/swmansion/enriched/EnrichedTextInputViewManager.kt
  apps/example/src/App.tsx
  ios/EnrichedTextInputView.h
  ios/EnrichedTextInputView.mm
  ios/inputParser/EnrichedAttributedStringHTMLSerializer.mm
  ios/inputParser/EnrichedAttributedStringHTMLSerializerTagUtils.h
  ios/inputParser/InputParser.mm
  src/EnrichedTextInput.tsx
  src/EnrichedTextInputNativeComponent.ts
Due: lint, types, lint-android, clang-format

fix: rebase with latest main
  ios/styles/H4Style.mm
  ios/styles/H5Style.mm
  ios/styles/H6Style.mm
Due: clang-format

fix: rebase with latest main
  ios/styles/ImageStyle.mm
  ios/styles/InlineCodeStyle.mm
Due: clang-format

feat: add checklist structure
  apps/example/ios/Podfile.lock
  ios/EnrichedTextInputView.mm
  ios/config/InputConfig.h
  ios/config/InputConfig.mm
  ios/styles/CheckboxListStyle.mm
  ios/utils/StyleHeaders.h
  ios/utils/StyleTypeEnum.h
Due: clang-format

feat: improve cursor handling for checkboxes
  android/src/main/java/com/swmansion/enriched/utils/Utils.kt
Due: lint-android

feat: extract to /common default props for EnrichedTextInput, remove forwardRef
  src/common/defaultProps.ts
  src/native/EnrichedTextInput.tsx
  src/web/EnrichedTextInput.tsx
Due: lint, types

fix: update onChangeStateDeprecated
  ios/EnrichedTextInputView.mm
Due: clang-format

feat: add onKeyPress callback
  android/src/main/java/com/swmansion/enriched/EnrichedTextInputConnectionWrapper.kt
  android/src/main/java/com/swmansion/enriched/EnrichedTextInputView.kt
  android/src/main/java/com/swmansion/enriched/EnrichedTextInputViewManager.kt
  android/src/main/java/com/swmansion/enriched/events/OnInputKeyPressEvent.kt
  apps/example/src/App.tsx
  ios/EnrichedTextInputView.h
  ios/EnrichedTextInputView.mm
  ios/inputTextView/InputTextView.mm
  src/EnrichedTextInput.tsx
  src/EnrichedTextInputNativeComponent.ts
  src/index.tsx
Due: lint, types, lint-android, clang-format

fix: do not emit key press event if we paste text
  ios/EnrichedTextInputView.mm
  ios/inputTextView/InputTextView.h
  ios/inputTextView/InputTextView.mm
Due: clang-format

fix: android lint
  android/src/main/java/com/swmansion/enriched/EnrichedTextInputConnectionWrapper.kt
  android/src/main/java/com/swmansion/enriched/EnrichedTextInputView.kt
  android/src/main/java/com/swmansion/enriched/events/OnInputKeyPressEvent.kt
Due: lint-android

chore: use gif as a demo
  README.md
Due: none

chore: update docs
  README.md
  docs/API_REFERENCE.md
Due: none

feat: add checklist to parser
  apps/example/ios/Podfile.lock
  ios/EnrichedTextInputView.mm
  ios/inputParser/InputParser.mm
  ios/styles/CheckboxListStyle.mm
  ios/utils/LayoutManagerExtension.mm
  ios/utils/ParagraphAttributesUtils.mm
  ios/utils/ZeroWidthSpaceUtils.mm
Due: clang-format

chore: cleanup docs
  README.md
  docs/API_REFERENCE.md
Due: none

chore: use gif demo video (#367)
  README.md
Due: none

chore: cleanup docs (#368)
  README.md
  docs/API_REFERENCE.md
Due: none

fix: add comment about source code
  android/src/main/java/com/swmansion/enriched/EnrichedTextInputConnectionWrapper.kt
Due: lint-android

fix: cleanup
  ios/EnrichedTextInputView.h
  ios/EnrichedTextInputView.mm
  ios/inputTextView/InputTextView.h
  ios/inputTextView/InputTextView.mm
Due: clang-format

fix: remove code duplication
  ios/EnrichedTextInputView.mm
Due: clang-format

feat: proper layout caclulation
  ios/EnrichedTextInputView.h
  ios/EnrichedTextInputView.mm
  ios/extensions/LayoutManagerExtension.mm
  ios/inputTextView/InputTextView.h
  ios/inputTextView/InputTextView.mm
  ios/internals/EnrichedTextInputViewShadowNode.h
  ios/internals/EnrichedTextInputViewShadowNode.mm
  ios/internals/EnrichedTextInputViewState.cpp
  ios/internals/EnrichedTextInputViewState.h
Due: clang-format
