Repository software-mansion/react-native-enriched: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, lint-android, clang-format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint {staged_files}
    types:
      glob: "*.{js,ts, jsx, tsx}"
      run: npx tsc
    lint-android:
      glob: "**/*.{kt,kts,java,gradle}"
      run: cd apps/example/android && ./gradlew lintVerify
    clang-format:
      glob: "*.{h,m,mm,cpp}"
      exclude: "(Pods|build|node_modules)"
      run: npx clang-format -i {staged_files} && git add {staged_files}
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

fix: calculating Image y position
  ios/EnrichedTextInputView.mm
Due: clang-format

feat(ios): add support for displaying gifs (#399)
  apps/example/src/App.tsx
  apps/example/src/utils/prepareImageDimensions.ts
  ios/EnrichedTextInputView.mm
  ios/interfaces/ImageAttachment.h
  ios/interfaces/ImageAttachment.mm
  ios/interfaces/UIImage+animatedGIF.h
  ios/interfaces/UIImage+animatedGIF.mm
Due: lint, types, clang-format

fix: creating enriched input image span
  android/src/main/java/com/swmansion/enriched/textinput/spans/EnrichedInputImageSpan.kt
Due: lint-android

fix: attachments layout on ios
  ios/EnrichedTextInputView.mm
Due: clang-format

feat: improve example app
  apps/example/src/App.tsx
  apps/example/src/components/TextRenderer.tsx
  apps/example/src/constants/htmlStyle.ts
Due: lint, types

fix: newline insertion in lists
  android/src/main/java/com/swmansion/enriched/textinput/styles/ListStyles.kt
Due: lint-android

feat: allow customizing press styles
  android/src/main/java/com/swmansion/enriched/common/MentionStyle.kt
  android/src/main/java/com/swmansion/enriched/text/EnrichedTextStyle.kt
  android/src/main/java/com/swmansion/enriched/text/spans/EnrichedTextLinkSpan.kt
  android/src/main/java/com/swmansion/enriched/text/spans/EnrichedTextMentionSpan.kt
  apps/example/src/components/TextRenderer.tsx
  apps/example/src/constants/htmlStyle.ts
  src/spec/EnrichedTextNativeComponent.ts
  src/types.ts
  src/utils/normalizeHtmlStyle.ts
Due: lint, types, lint-android

feat: tiny example improvement
  apps/example/src/components/TextRenderer.tsx
Due: lint

fix(Android): newline insertion in lists (#401)
  android/src/main/java/com/swmansion/enriched/textinput/styles/ListStyles.kt
Due: lint-android

Update android/src/main/java/com/swmansion/enriched/textinput/utils/RichContentReceiver.kt
  android/src/main/java/com/swmansion/enriched/textinput/utils/RichContentReceiver.kt
Due: lint-android

fix: review changes
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputView.kt
  android/src/main/java/com/swmansion/enriched/textinput/events/OnPasteImagesEvent.kt
  android/src/main/java/com/swmansion/enriched/textinput/utils/RichContentReceiver.kt
  apps/example/src/App.tsx
Due: lint, lint-android

feat(ios): add textAlignment
  apps/example/src/App.tsx
  ios/EnrichedTextInputView.mm
  ios/extensions/LayoutManagerExtension.mm
  ios/inputParser/InputParser.mm
  ios/inputTextView/InputTextView.mm
  ios/styles/BlockQuoteStyle.mm
  ios/styles/CheckboxListStyle.mm
  ios/styles/CodeBlockStyle.mm
  ios/styles/OrderedListStyle.mm
  ios/styles/UnorderedListStyle.mm
  ios/utils/ZeroWidthSpaceUtils.mm
  src/EnrichedTextInput.tsx
  src/spec/EnrichedTextInputNativeComponent.ts
Due: lint, types, clang-format

feat: update toggle header/blockquote to support multiline changes
  apps/example-web/package.json
  apps/example-web/tests/interactions.spec.ts
  src/web/EnrichedTextInput.tsx
Due: lint, types

feat: add parsing from html into input
  ios/EnrichedTextInputView.h
  ios/EnrichedTextInputView.mm
  ios/inputParser/InputParser.mm
  ios/interfaces/AlignmentEntry.h
  ios/interfaces/AlignmentEntry.mm
Due: clang-format

feat: separate alignment logic to AlignmentUtils
  ios/EnrichedTextInputView.h
  ios/EnrichedTextInputView.mm
  ios/inputParser/InputParser.mm
  ios/utils/AlignmentUtils.h
  ios/utils/AlignmentUtils.mm
Due: clang-format

feat: forbid adding headings in blockquotes, add tests for invalid html in setValue
  apps/example-web/src/App.css
  apps/example-web/src/App.tsx
  apps/example-web/src/components/Toolbar.css
  apps/example-web/tests/interactions.spec.ts
  src/web/EnrichedTextInput.tsx
  src/web/useOnChangeState.ts
Due: lint, types

fix: android build
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputViewManager.kt
Due: lint-android

fix: mention parsing
  ios/inputParser/InputParser.mm
Due: clang-format

fix: remove unnecessary native onChangeStateDeprecated code
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputViewManager.kt
  android/src/main/java/com/swmansion/enriched/textinput/events/OnChangeStateDeprecatedEvent.kt
  android/src/main/java/com/swmansion/enriched/textinput/utils/EnrichedSpanState.kt
  apps/example/ios/Podfile.lock
  ios/EnrichedTextInputView.mm
  src/EnrichedTextInput.tsx
  src/spec/EnrichedTextInputNativeComponent.ts
Due: lint, types, lint-android, clang-format

fix(ios): mention parsing (#405)
  ios/inputParser/InputParser.mm
Due: clang-format

fix: review changes
  src/EnrichedTextInput.tsx
Due: lint

fix: remove unnecessary native onChangeStateDeprecated code (#406)
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputViewManager.kt
  android/src/main/java/com/swmansion/enriched/textinput/events/OnChangeStateDeprecatedEvent.kt
  android/src/main/java/com/swmansion/enriched/textinput/utils/EnrichedSpanState.kt
  apps/example/ios/Podfile.lock
  ios/EnrichedTextInputView.mm
  src/EnrichedTextInput.tsx
  src/spec/EnrichedTextInputNativeComponent.ts
Due: lint, types, lint-android, clang-format

feat: add insertValue method
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputView.kt
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputViewManager.kt
  ios/EnrichedTextInputView.mm
  src/EnrichedTextInput.tsx
  src/spec/EnrichedTextInputNativeComponent.ts
Due: lint, types, lint-android, clang-format

feat: init attribtues remake; strike, italic, ul
  apps/example/ios/Podfile.lock
  ios/EnrichedTextInputView.h
  ios/EnrichedTextInputView.mm
  ios/attributesManager/AttributesManager.h
  ios/attributesManager/AttributesManager.mm
  ios/extensions/LayoutManagerExtension.mm
  ios/inputParser/InputParser.mm
  ios/interfaces/AttributeEntry.h
  ios/interfaces/AttributeEntry.mm
  ios/interfaces/StyleBase.h
  ios/interfaces/StyleBase.mm
  ios/interfaces/StyleHeaders.h
  ios/styles/BlockQuoteStyle.mm
  ios/styles/CheckboxListStyle.mm
  ios/styles/CodeBlockStyle.mm
  ios/styles/InlineCodeStyle.mm
  ios/styles/ItalicStyle.mm
  ios/styles/OrderedListStyle.mm
  ios/styles/StrikethroughStyle.mm
  ios/styles/UnorderedListStyle.mm
  ios/utils/DotReplacementUtils.h
  ios/utils/DotReplacementUtils.mm
  ios/utils/OccurenceUtils.h
  ios/utils/ParagraphAttributesUtils.mm
  ios/utils/ParagraphsUtils.mm
  ios/utils/RangeUtils.h
  ios/utils/RangeUtils.mm
  ios/utils/ZeroWidthSpaceUtils.mm
Due: clang-format

feat: add types to web implementation, extract common types (#357)
  apps/example-web/src/App.tsx
  apps/example/src/App.tsx
  src/common/defaultProps.ts
  src/common/types.ts
  src/index.native.tsx
  src/index.tsx
  src/native/EnrichedTextInput.tsx
  src/native/types.ts
  src/spec/EnrichedTextInputNativeComponent.ts
  src/utils/normalizeHtmlStyle.ts
  src/web/EnrichedTextInput.tsx
Due: lint, types

fix: remove applying typing attr when toggling checkbox
  ios/styles/CheckboxListStyle.mm
Due: clang-format

fix: remove applying typing attr when toggling checkbox (#410)
  ios/styles/CheckboxListStyle.mm
Due: clang-format

chore: warn about incorrect font sizes
  src/EnrichedTextInput.tsx
Due: lint

chore: warn about incorrect font sizes (#412)
  src/EnrichedTextInput.tsx
Due: lint

feat: rewrite headings to not use font when detecting
  apps/example/ios/Podfile.lock
  ios/EnrichedTextInputView.mm
  ios/extensions/LayoutManagerExtension.mm
  ios/interfaces/StyleHeaders.h
  ios/styles/H1Style.mm
  ios/styles/H2Style.mm
  ios/styles/H3Style.mm
  ios/styles/H4Style.mm
  ios/styles/H5Style.mm
  ios/styles/H6Style.mm
  ios/styles/HeadingStyleBase.mm
  ios/utils/ParagraphAttributesUtils.mm
Due: clang-format

fix: warning in checkbox
  ios/styles/CheckboxListStyle.mm
Due: clang-format

chore: remove unneeded warning about font size
  src/EnrichedTextInput.tsx
Due: lint

fix: remove unused var causing a warning
  ios/utils/CheckboxHitTestUtils.mm
Due: clang-format

chore: remove note about headings' sizes
  docs/API_REFERENCE.md
Due: none

fix: code review changes
  ios/extensions/ImageExtension.h
  ios/extensions/ImageExtension.mm
  ios/inputTextView/InputTextView.mm
  ios/interfaces/ImageAttachment.mm
  src/spec/EnrichedTextInputNativeComponent.ts
Due: lint, types, clang-format

fix: clamp start and end in insertValue
  ios/EnrichedTextInputView.mm
Due: clang-format

fix: clamp start and end in insertValue on Android
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputView.kt
Due: lint-android

fix: add comments
  ios/interfaces/ImageAttachment.mm
Due: clang-format

feat: Font size independent iOS headings (#413)
  apps/example/ios/Podfile.lock
  docs/API_REFERENCE.md
  ios/EnrichedTextInputView.mm
  ios/extensions/LayoutManagerExtension.mm
  ios/interfaces/StyleHeaders.h
  ios/styles/CheckboxListStyle.mm
  ios/styles/H1Style.mm
  ios/styles/H2Style.mm
  ios/styles/H3Style.mm
  ios/styles/H4Style.mm
  ios/styles/H5Style.mm
  ios/styles/H6Style.mm
  ios/styles/HeadingStyleBase.mm
  ios/utils/CheckboxHitTestUtils.mm
  ios/utils/ParagraphAttributesUtils.mm
  src/EnrichedTextInput.tsx
Due: lint, clang-format
