Repository software-mansion/react-native-enriched: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, clang-format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint {staged_files}
    types:
      glob: "*.{js,ts, jsx, tsx}"
      run: npx tsc
    clang-format:
      glob: "*.{h,m,mm,cpp}"
      exclude: "(Pods|build|node_modules)"
      run: clang-format --dry-run --Werror {staged_files}
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

chore: try priting clang version
  .github/workflows/ci.yml
Due: none

chore: use local clang version
  .github/workflows/ci.yml
  android/src/main/new_arch/react/renderer/components/RNEnrichedTextInputViewSpec/EnrichedTextInputState.h
  lefthook.yml
  package.json
  yarn.lock
Due: clang-format

chore: check if it fails
  android/src/main/new_arch/react/renderer/components/RNEnrichedTextInputViewSpec/EnrichedTextInputState.cpp
Due: clang-format

chore: fix and ready
  android/src/main/new_arch/react/renderer/components/RNEnrichedTextInputViewSpec/EnrichedTextInputState.cpp
Due: clang-format

fix: emitting end mention event
  android/src/main/java/com/swmansion/enriched/events/MentionHandler.kt
  example/src/App.tsx
Due: lint

fix: async image loading
  ios/EnrichedTextInputView.h
  ios/EnrichedTextInputView.mm
  ios/attachments/ImageAttachment.h
  ios/attachments/ImageAttachment.mm
  ios/attachments/MediaAttachment.h
  ios/attachments/MediaAttachment.mm
  ios/styles/ImageStyle.mm
Due: clang-format

fix: <br> parsing inside codeblock and blockquote
  ios/inputParser/InputParser.mm
Due: clang-format

fix: run clang:fix
  ios/EnrichedTextInputView.h
  ios/EnrichedTextInputView.mm
  ios/attachments/ImageAttachment.h
  ios/attachments/ImageAttachment.mm
  ios/attachments/MediaAttachment.h
  ios/attachments/MediaAttachment.mm
  ios/styles/ImageStyle.mm
Due: clang-format

chore: upgrade example app to use 0.83
  README.md
  example/ios/EnrichedTextInputExample.xcodeproj/project.pbxproj
  example/ios/Podfile.lock
  example/package.json
  yarn.lock
Due: none

chore: fix ts errors in example app
  example/src/App.tsx
Due: lint

chore: cleanup
  example/src/App.tsx
Due: lint

fix: emitting onEndMention event - android (#317)
  android/src/main/java/com/swmansion/enriched/events/MentionHandler.kt
  example/src/App.tsx
Due: lint

chore: upgrade example app to use RN 0.83 (#320)
  README.md
  example/ios/EnrichedTextInputExample.xcodeproj/project.pbxproj
  example/ios/Podfile.lock
  example/package.json
  example/src/App.tsx
  yarn.lock
Due: lint

fix: display empty image while loading the real one
  ios/attachments/ImageAttachment.mm
Due: clang-format

fix: remove unnecessary spaces during html preparation
  ios/inputParser/InputParser.mm
Due: clang-format

fix: set single attributed string to text view
  example/src/App.tsx
  ios/EnrichedTextInputView.h
  ios/EnrichedTextInputView.mm
  ios/inputParser/InputParser.mm
  ios/styles/BlockQuoteStyle.mm
  ios/styles/BoldStyle.mm
  ios/styles/CodeBlockStyle.mm
  ios/styles/HeadingStyleBase.mm
  ios/styles/ImageAttachment.h
  ios/styles/ImageAttachment.mm
  ios/styles/ImageStyle.mm
  ios/styles/InlineCodeStyle.mm
  ios/styles/ItalicStyle.mm
  ios/styles/LinkStyle.mm
  ios/styles/MediaAttachment.h
  ios/styles/MediaAttachment.mm
  ios/styles/MentionStyle.mm
  ios/styles/OrderedListStyle.mm
  ios/styles/StrikethroughStyle.mm
  ios/styles/UnderlineStyle.mm
  ios/styles/UnorderedListStyle.mm
  ios/utils/BaseStyleProtocol.h
  ios/utils/OccurenceUtils.h
  ios/utils/OccurenceUtils.mm
  ios/utils/ParagraphsUtils.h
  ios/utils/ParagraphsUtils.mm
  ios/utils/StyleHeaders.h
  ios/utils/TextInsertionUtils.h
  ios/utils/TextInsertionUtils.mm
Due: lint, clang-format

fix: unordered list styling persist
  ios/EnrichedTextInputView.h
  ios/EnrichedTextInputView.mm
  ios/inputParser/InputParser.mm
  ios/styles/BlockQuoteStyle.mm
  ios/styles/BoldStyle.mm
  ios/styles/CodeBlockStyle.mm
  ios/styles/HeadingStyleBase.mm
  ios/styles/ImageAttachment.h
  ios/styles/ImageAttachment.mm
  ios/styles/ImageStyle.mm
  ios/styles/InlineCodeStyle.mm
  ios/styles/ItalicStyle.mm
  ios/styles/LinkStyle.mm
  ios/styles/MediaAttachment.h
  ios/styles/MediaAttachment.mm
  ios/styles/MentionStyle.mm
  ios/styles/OrderedListStyle.mm
  ios/styles/StrikethroughStyle.mm
  ios/styles/UnderlineStyle.mm
  ios/styles/UnorderedListStyle.mm
  ios/utils/BaseStyleProtocol.h
  ios/utils/OccurenceUtils.h
  ios/utils/OccurenceUtils.mm
  ios/utils/ParagraphAttributesUtils.mm
  ios/utils/ParagraphsUtils.h
  ios/utils/ParagraphsUtils.mm
  ios/utils/StyleHeaders.h
  ios/utils/TextInsertionUtils.h
  ios/utils/TextInsertionUtils.mm
Due: clang-format

fix: properly handle text change notification
  example/src/App.tsx
  ios/EnrichedTextInputView.mm
  ios/inputParser/AttributedStringBuilder.h
  ios/inputParser/AttributedStringBuilder.mm
  ios/inputParser/HtmlBuilder.h
  ios/inputParser/HtmlBuilder.mm
  ios/inputParser/HtmlTagInterpreter.h
  ios/inputParser/HtmlTagInterpreter.mm
  ios/inputParser/HtmlTokenizer.h
  ios/inputParser/HtmlTokenizer.mm
  ios/inputParser/InputParser.h
  ios/inputParser/InputParser.mm
  ios/inputParser/StyleSanitizer.h
  ios/inputParser/StyleSanitizer.mm
Due: lint, clang-format

fix: properly set default attributed string
  example/src/App.tsx
  ios/EnrichedTextInputView.mm
  ios/inputParser/AttributedStringBuilder.h
  ios/inputParser/AttributedStringBuilder.mm
  ios/inputParser/ConvertHtmlToPlainTextAndStylesResult.h
  ios/inputParser/ConvertHtmlToPlainTextAndStylesResult.mm
  ios/inputParser/HtmlHandler.h
  ios/inputParser/HtmlHandler.mm
  ios/inputParser/HtmlTagInterpreter.h
  ios/inputParser/HtmlTagInterpreter.mm
  ios/inputParser/HtmlTokenizationResult.h
  ios/inputParser/HtmlTokenizationResult.mm
  ios/inputParser/HtmlTokenizer.h
  ios/inputParser/InputParser.h
  ios/inputParser/InputParser.mm
  ios/inputParser/StyleSanitizer.h
  ios/inputParser/StyleSanitizer.mm
  ios/inputParser/TagHandlersFactory.h
  ios/inputParser/TagHandlersFactory.mm
  ios/styles/BlockQuoteStyle.mm
  ios/styles/BoldStyle.mm
  ios/styles/CodeBlockStyle.mm
  ios/styles/HeadingStyleBase.mm
  ios/styles/ImageStyle.mm
  ios/styles/InlineCodeStyle.mm
  ios/styles/ItalicStyle.mm
  ios/styles/LinkStyle.mm
  ios/styles/MentionStyle.mm
  ios/styles/OrderedListStyle.mm
  ios/styles/StrikethroughStyle.mm
  ios/styles/UnderlineStyle.mm
  ios/styles/UnorderedListStyle.mm
  ios/utils/BaseStyleProtocol.h
Due: lint, clang-format

fix: empty defaultValue applying
  ios/EnrichedTextInputView.mm
  ios/inputParser/AttributedStringBuilder.mm
  ios/inputParser/HtmlHandler.mm
  ios/inputParser/InputParser.mm
Due: clang-format

fix: compiler warnings
  example/src/App.tsx
  ios/EnrichedTextInputView.h
  ios/EnrichedTextInputView.mm
Due: lint, clang-format

fix: remove huge html generation
  example/src/App.tsx
Due: lint

fix: clang formatting
  ios/inputParser/InputParser.mm
Due: clang-format

fix: invalidate spans instead of parsing the whole string
  android/src/main/java/com/swmansion/enriched/EnrichedTextInputView.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedBlockQuoteSpan.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedBoldSpan.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedCodeBlockSpan.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedH1Span.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedH2Span.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedH3Span.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedImageSpan.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedInlineCodeSpan.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedItalicSpan.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedLinkSpan.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedMentionSpan.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedOrderedListSpan.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedStrikeThroughSpan.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedUnderlineSpan.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedUnorderedListSpan.kt
  android/src/main/java/com/swmansion/enriched/spans/interfaces/EnrichedSpan.kt
  example/src/App.tsx
Due: lint

fix: recalculating layout after changing html styles
  android/src/main/java/com/swmansion/enriched/EnrichedTextInputView.kt
  example/src/App.tsx
Due: lint

fix: proper method name
  android/src/main/java/com/swmansion/enriched/EnrichedTextInputView.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedImageSpan.kt
Due: none

fix: add dependsOnHtml field to skip base spans
  android/src/main/java/com/swmansion/enriched/EnrichedTextInputView.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedBlockQuoteSpan.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedBoldSpan.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedCodeBlockSpan.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedH1Span.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedH2Span.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedH3Span.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedImageSpan.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedInlineCodeSpan.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedItalicSpan.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedLinkSpan.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedMentionSpan.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedOrderedListSpan.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedStrikeThroughSpan.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedUnderlineSpan.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedUnorderedListSpan.kt
  android/src/main/java/com/swmansion/enriched/spans/interfaces/EnrichedSpan.kt
  example/src/App.tsx
Due: lint

fix: add equals and hash code for htmlStyle
  android/src/main/java/com/swmansion/enriched/styles/HtmlStyle.kt
Due: none

fix: properly apply/remove spans
  android/src/main/java/com/swmansion/enriched/EnrichedTextInputView.kt
Due: none

fix: app.tsx clean up
  example/src/App.tsx
Due: lint

fix: cleanup
  ios/utils/OccurenceUtils.mm
  ios/utils/TextInsertionUtils.mm
Due: clang-format

feat: add setSelection method
  android/src/main/java/com/swmansion/enriched/EnrichedTextInputView.kt
  android/src/main/java/com/swmansion/enriched/EnrichedTextInputViewManager.kt
  ios/EnrichedTextInputView.mm
  src/EnrichedTextInput.tsx
  src/EnrichedTextInputNativeComponent.ts
Due: lint, types, clang-format

feat: add processing of zero width spaces on iOS
  ios/EnrichedTextInputView.mm
  ios/utils/ZeroWidthSpaceUtils.h
  ios/utils/ZeroWidthSpaceUtils.mm
Due: clang-format

feat: refactoring
  ios/EnrichedTextInputView.mm
  ios/utils/ZeroWidthSpaceUtils.h
  ios/utils/ZeroWidthSpaceUtils.mm
  src/EnrichedTextInput.tsx
  src/EnrichedTextInputNativeComponent.ts
Due: lint, types, clang-format

fix: codeblock and blockquote newline handling
  ios/inputParser/InputParser.mm
Due: clang-format

Revert "fix: codeblock and blockquote newline handling"
  ios/inputParser/InputParser.mm
Due: clang-format

feat: fast html parser
  ios/inputParser/EnrichedHTMLParser.h
  ios/inputParser/EnrichedHTMLParser.mm
  ios/inputParser/EnrichedHTMLTagUtils.h
  ios/inputParser/HtmlNode.h
  ios/inputParser/HtmlNode.mm
  ios/inputParser/InputParser.mm
  ios/styles/BlockQuoteStyle.mm
  ios/styles/BoldStyle.mm
  ios/styles/CodeBlockStyle.mm
  ios/styles/H1Style.mm
  ios/styles/H2Style.mm
  ios/styles/H3Style.mm
  ios/styles/HeadingStyleBase.mm
  ios/styles/ImageStyle.mm
  ios/styles/InlineCodeStyle.mm
  ios/styles/ItalicStyle.mm
  ios/styles/LinkStyle.mm
  ios/styles/MentionStyle.mm
  ios/styles/OrderedListStyle.mm
  ios/styles/StrikethroughStyle.mm
  ios/styles/UnderlineStyle.mm
  ios/styles/UnorderedListStyle.mm
  ios/utils/BaseStyleProtocol.h
  ios/utils/ParameterizedStyleProtocol.h
  ios/utils/StyleHeaders.h
Due: clang-format
