Repository software-mansion/react-native-enriched: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, lint-android, clang-format

lint:
  run: npx eslint {staged_files}

types:
  run: npx tsc

lint-android:
  run: cd apps/example/android && ./gradlew lintVerify

clang-format:
  run: npx clang-format -i {staged_files} && git add {staged_files}

chore: fix ios dir structure (#610)
  ios/enrichedInputTextView/EnrichedInputTextView.h
  ios/enrichedInputTextView/EnrichedInputTextView.mm
  ios/enrichedTextTextView/EnrichedTextTextView.h
  ios/enrichedTextTextView/EnrichedTextTextView.mm
Due: clang-format

fix(iOS): idx out of bounds crash inside caretRectForPosition (#611)
  ios/enrichedInputTextView/EnrichedInputTextView.mm
Due: clang-format

refactor: tiptap extensions array clean up
  src/web/EnrichedTextInput.tsx
Due: lint

refactor: unified mention plugin creations
  src/web/EnrichedTextInput.tsx
  src/web/pmPlugins/mentionPlugin/index.ts
  src/web/pmPlugins/mentionPlugin/makeMentionPluginState.ts
  src/web/pmPlugins/mentionPlugin/subscribeMentionEvents.ts
  src/web/pmPlugins/mentionPlugin/types.ts
  src/web/pmPlugins/stripBoldInStyledHeadingsPlugin.ts
Due: lint, types

refactor: renamed plugin files and directories in PascalCase for consistency
  src/web/EnrichedTextInput.tsx
  src/web/pmPlugins/MentionPlugin/index.ts
  src/web/pmPlugins/MentionPlugin/isCaretInBlockedContext.ts
  src/web/pmPlugins/MentionPlugin/makeMentionPluginState.ts
  src/web/pmPlugins/MentionPlugin/mentionPluginKey.ts
  src/web/pmPlugins/MentionPlugin/removeMentionMarksIfSpansResized.ts
  src/web/pmPlugins/MentionPlugin/setMention.ts
  src/web/pmPlugins/MentionPlugin/startMention.ts
  src/web/pmPlugins/MentionPlugin/stripPartialMentionMarks.ts
  src/web/pmPlugins/MentionPlugin/subscribeMentionEvents.ts
  src/web/pmPlugins/MentionPlugin/types.ts
  src/web/pmPlugins/MergeAdjacentSameKindBlocksPlugin.ts
  src/web/pmPlugins/ShortcutPlugin.ts
  src/web/pmPlugins/StrictMarksPlugin.ts
  src/web/pmPlugins/StripBoldInStyledHeadingsPlugin.ts
  src/web/pmPlugins/StripMarksInCodeBlockPlugin.ts
  src/web/pmPlugins/StripMarksOnImagePlugin.ts
Due: lint, types

fix(iOS): shortcuts detection
  ios/EnrichedTextInputView.mm
  ios/interfaces/StyleHeaders.h
  ios/styles/OrderedListStyle.mm
  ios/styles/UnorderedListStyle.mm
  ios/utils/ShortcutsUtils.h
  ios/utils/ShortcutsUtils.mm
  ios/utils/StyleUtils.h
  ios/utils/StyleUtils.mm
Due: clang-format

fix(android): shortcut detection
  android/src/main/java/com/swmansion/enriched/textinput/styles/InlineStyles.kt
  android/src/main/java/com/swmansion/enriched/textinput/styles/ListStyles.kt
Due: lint-android

fix(iOS): forward shortcut verification
  ios/utils/ShortcutsUtils.mm
Due: clang-format

fix(android): refactor shortcuts detection
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputView.kt
  android/src/main/java/com/swmansion/enriched/textinput/spans/EnrichedSpans.kt
  android/src/main/java/com/swmansion/enriched/textinput/styles/ListStyles.kt
  android/src/main/java/com/swmansion/enriched/textinput/utils/ShortcutsHandler.kt
  android/src/main/java/com/swmansion/enriched/textinput/utils/StyleUtils.kt
  android/src/main/java/com/swmansion/enriched/textinput/watchers/EnrichedTextWatcher.kt
Due: lint-android

fix: refactor textShortcuts API
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputView.kt
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputViewManager.kt
  android/src/main/java/com/swmansion/enriched/textinput/utils/ShortcutsHandler.kt
  android/src/main/java/com/swmansion/enriched/textinput/utils/StyleUtils.kt
  ios/EnrichedTextInputView.mm
  ios/utils/ShortcutsUtils.mm
  src/index.native.tsx
  src/native/EnrichedTextInput.tsx
  src/spec/EnrichedTextInputNativeComponent.ts
  src/types.ts
Due: lint, types, lint-android, clang-format

docs: add textShortcuts API
  android/src/main/java/com/swmansion/enriched/textinput/utils/ShortcutsHandler.kt
  docs/INPUT_API_REFERENCE.md
  src/native/EnrichedTextInput.tsx
  src/types.ts
Due: lint, types, lint-android

fix: add space after shortcut
  src/native/EnrichedTextInput.tsx
Due: lint

fix(ios): removed selection change event emition on input focus
  ios/EnrichedTextInputView.mm
Due: clang-format

fix: unify detection events between native platforms
  android/src/main/java/com/swmansion/enriched/textinput/utils/EnrichedSelection.kt
  ios/EnrichedTextInputView.mm
Due: lint-android, clang-format

fix(web): detection events
  .playwright/tests/mentions.spec.ts
  .playwright/tests/testLinks.spec.ts
  src/web/pmPlugins/mentionPlugin/subscribeMentionEvents.ts
  src/web/useOnLinkDetected.ts
Due: lint, types

fix: stale closures and general cleanup
  src/web/pmPlugins/MentionPlugin/index.ts
  src/web/pmPlugins/MentionPlugin/makeMentionPluginState.ts
  src/web/pmPlugins/MentionPlugin/subscribeMentionEvents.ts
Due: lint, types

fix: inline styles reapply
  android/src/main/java/com/swmansion/enriched/textinput/styles/InlineStyles.kt
  android/src/main/java/com/swmansion/enriched/textinput/watchers/EnrichedTextWatcher.kt
Due: lint-android

fix(iOS): inline styles parsing
  .maestro/enrichedInput/screenshots/ios/inline_styles.png
  ios/htmlParser/HtmlParser.mm
Due: clang-format

fix(iOS): alignment applying for input
  ios/inputHtmlParser/InputHtmlParser.mm
Due: clang-format

docs: add nigthly release info
  README.md
Due: none

docs: add nightly release info (#619)
  README.md
Due: none

fix(ios): remove unnecessary code
  ios/EnrichedTextInputView.mm
Due: clang-format

fix: review fixes
  ios/inputHtmlParser/InputHtmlParser.mm
Due: clang-format

fix: simplify android on link detection
  android/src/main/java/com/swmansion/enriched/textinput/utils/EnrichedSelection.kt
Due: lint-android

fix(iOS): inline styles parsing (#617)
  .maestro/enrichedInput/screenshots/ios/inline_styles.png
  ios/htmlParser/HtmlParser.mm
  ios/inputHtmlParser/InputHtmlParser.mm
Due: clang-format

Update ios/utils/ShortcutsUtils.mm
  ios/utils/ShortcutsUtils.mm
Due: clang-format

fix: review changes
  docs/INPUT_API_REFERENCE.md
  ios/EnrichedTextInputView.mm
  ios/utils/ShortcutsUtils.h
  ios/utils/ShortcutsUtils.mm
Due: clang-format

fix: remove hacks for last element parsing
  .maestro/enrichedInput/flows/empty_element_parsing.yaml
  .maestro/enrichedInput/screenshots/ios/empty_element_parsing.png
  ios/htmlParser/HtmlParser.mm
Due: clang-format

refactor(web): extensions array clean up, plugin usage and naming consistency (#612)
  src/web/EnrichedTextInput.tsx
  src/web/pmPlugins/MentionPlugin/index.ts
  src/web/pmPlugins/MentionPlugin/isCaretInBlockedContext.ts
  src/web/pmPlugins/MentionPlugin/makeMentionPluginState.ts
  src/web/pmPlugins/MentionPlugin/mentionPluginKey.ts
  src/web/pmPlugins/MentionPlugin/removeMentionMarksIfSpansResized.ts
  src/web/pmPlugins/MentionPlugin/setMention.ts
  src/web/pmPlugins/MentionPlugin/startMention.ts
  src/web/pmPlugins/MentionPlugin/stripPartialMentionMarks.ts
  src/web/pmPlugins/MentionPlugin/subscribeMentionEvents.ts
  src/web/pmPlugins/MentionPlugin/types.ts
  src/web/pmPlugins/MergeAdjacentSameKindBlocksPlugin.ts
  src/web/pmPlugins/ShortcutPlugin.ts
  src/web/pmPlugins/StrictMarksPlugin.ts
  src/web/pmPlugins/StripBoldInStyledHeadingsPlugin.ts
  src/web/pmPlugins/StripMarksInCodeBlockPlugin.ts
  src/web/pmPlugins/StripMarksOnImagePlugin.ts
  src/web/pmPlugins/mentionPlugin/index.ts
  src/web/pmPlugins/mentionPlugin/types.ts
Due: lint, types

fix(ios): removed selection change event emition on input focus (#614)
  ios/EnrichedTextInputView.mm
Due: clang-format

feat(web): undo, redo
  package.json
  src/web/EnrichedTextInput.tsx
  yarn.lock
Due: lint

Add readme banners
  README.md
Due: none

chore: e2e tests for undo redo
  .playwright/helpers/selection.ts
  .playwright/tests/undoRedo.spec.ts
Due: lint, types

fix(android): use EnrichedSpan
  android/src/main/java/com/swmansion/enriched/textinput/utils/EnrichedSpannable.kt
Due: lint-android

fix: add min, max to safelyRemoveZWS
  android/src/main/java/com/swmansion/enriched/textinput/utils/EnrichedSpannableStringBuilder.kt
Due: lint-android

fix: use coerceIn inside safelyRemoveZWS
  android/src/main/java/com/swmansion/enriched/textinput/utils/EnrichedSpannableStringBuilder.kt
Due: lint-android

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts, jsx, tsx}
  lint-android: any of: **/*.{kt,kts,java,gradle}
  clang-format: any of: *.{h,m,mm,cpp}, but not: (Pods|build|node_modules)
