Repository software-mansion/react-native-enriched: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, lint-android, clang-format

lint:
  run: npx eslint {staged_files}

types:
  run: npx tsc

lint-android:
  run: cd apps/example/android && ./gradlew lintVerify

clang-format:
  run: npx clang-format -i {staged_files} && git add {staged_files}

test(test screen): turned off autoCorrect & autoCapitalize for modal inputs
  apps/example/src/components/ImageModal.tsx
  apps/example/src/components/LinkModal.tsx
  apps/example/src/components/ValueModal.tsx
Due: lint

test: added test for PR #405 mention parsing
  .maestro/flows/mention_parsing_handles_single_quoted_attributes.yaml
  .maestro/screenshots/android/mention_parsing_single_quoted_attributes.png
  .maestro/screenshots/ios/mention_parsing_single_quoted_attributes.png
Due: none

test(test screen): gave test ids to modal controls
  apps/example/src/components/ImageModal.tsx
  apps/example/src/components/LinkModal.tsx
  apps/example/src/components/ValueModal.tsx
Due: lint

test: added test for PR # 462
  .maestro/flows/initial_html_parsing.yaml
  .maestro/screenshots/android/initial_html_parsing.png
  .maestro/screenshots/ios/initial_html_parsing.png
  apps/example/src/components/ValueModal.tsx
Due: lint

test: added test for PR #430
  .maestro/flows/paragraph_style_removal.yaml
  .maestro/screenshots/android/paragraph_style_after_removal.png
  .maestro/screenshots/ios/paragraph_style_after_removal.png
Due: none

feat: add paragraphSpacing support to checkbox list (iOS + Android)
  android/src/main/java/com/swmansion/enriched/common/EnrichedStyle.kt
  android/src/main/java/com/swmansion/enriched/common/spans/EnrichedCheckboxListSpan.kt
  android/src/main/java/com/swmansion/enriched/textinput/styles/HtmlStyle.kt
  ios/EnrichedTextInputView.mm
  ios/config/InputConfig.h
  ios/config/InputConfig.mm
  ios/styles/CheckboxListStyle.mm
  src/spec/EnrichedTextInputNativeComponent.ts
  src/types.ts
  src/utils/normalizeHtmlStyle.ts
Due: lint, types, lint-android, clang-format

test: added test for PR #428
  .maestro/flows/initial_html_parsing.yaml
  .maestro/flows/mention_parsing_handles_single_quoted_attributes.yaml
  .maestro/flows/paragraph_style_toggle.yaml
  .maestro/screenshots/android/paragraph_style_toggle.png
  .maestro/screenshots/ios/paragraph_style_toggle.png
  .maestro/subflows/capture_or_assert_screenshot.yaml
Due: none

fix: extending paragraph style on paste
  android/src/main/java/com/swmansion/enriched/textinput/utils/EnrichedSpannable.kt
Due: lint-android

fix: add submit edditing event to Dev and Test screens
  apps/example/src/hooks/useEditorState.ts
  apps/example/src/screens/DevScreen.tsx
  apps/example/src/screens/TestScreen.tsx
Due: lint, types

test: refactored image_position_stability test
  .maestro/flows/assets/sample_image.jpg
  .maestro/flows/image_position_stability.yaml
  .maestro/screenshots/android/image_position_stability_after_typing.png
  .maestro/screenshots/android/image_position_stability_before_typing.png
  .maestro/screenshots/ios/image_position_stability_after_typing.png
  .maestro/screenshots/ios/image_position_stability_before_typing.png
  .maestro/subflows/pick_first_image.yaml
Due: none

test: fix asset resolution
  .maestro/assets/sample_image.jpg
  .maestro/flows/image_position_stability.yaml
  .maestro/flows/paragraph_style_toggle.yaml
  .maestro/scripts/delete-enriched-devices.sh
  .maestro/scripts/run-tests.sh
  .maestro/subflows/capture_or_assert_screenshot.yaml
  apps/example/src/screens/TestScreen.tsx
Due: lint

fix: content is clipped when lineHeight is set
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputView.kt
Due: lint-android

test: deleted unnecessary script
  .maestro/scripts/delete-enriched-devices.sh
  apps/example/src/screens/TestScreen.tsx
Due: lint

feat: setup nightly build
  .github/workflows/publish.yml
Due: none

fix: package-json-path
  .github/workflows/publish.yml
Due: none

fix: remove set up environment step
  .github/workflows/publish.yml
Due: none

feat: add paragraph alignment support to core RN API
  src/EnrichedTextInput.tsx
  src/spec/EnrichedTextInputNativeComponent.ts
Due: lint, types

feat(android): implement paragraph alignment support
  android/src/main/java/com/swmansion/enriched/common/parser/EnrichedParser.java
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputView.kt
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputViewManager.kt
  android/src/main/java/com/swmansion/enriched/textinput/utils/EnrichedSelection.kt
  android/src/main/java/com/swmansion/enriched/textinput/utils/EnrichedSpanState.kt
  android/src/main/java/com/swmansion/enriched/textinput/watchers/EnrichedSpanWatcher.kt
Due: lint-android

feat(ios): implement paragraph alignment support
  ios/EnrichedTextInputView.mm
  ios/inputParser/InputParser.mm
Due: clang-format

feat(example): add text alignment support in toolbar and update docs
  apps/example/ios/Podfile.lock
  apps/example/src/components/Toolbar.tsx
  apps/example/src/constants/editorConfig.ts
  docs/API_REFERENCE.md
Due: lint, types

fix: layout for ZWS
  ios/inputParser/InputParser.mm
  ios/inputTextView/InputTextView.mm
  ios/styles/BlockQuoteStyle.mm
  ios/styles/CheckboxListStyle.mm
  ios/styles/CodeBlockStyle.mm
  ios/styles/OrderedListStyle.mm
  ios/styles/UnorderedListStyle.mm
  ios/utils/ParagraphAttributesUtils.mm
  ios/utils/TextInsertionUtils.mm
  ios/utils/ZeroWidthSpaceUtils.mm
Due: clang-format

fix: content is clipped when lineHeight is set (#473)
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputView.kt
Due: lint-android

fix: use .nvmrc version
  .github/workflows/publish.yml
Due: none

fix: setup node
  .github/workflows/publish.yml
Due: none

fix: add node version file to workflow
  .github/workflows/publish.yml
Due: none

Set up publish workflow that can be used for both nightly and manual release (#475)
  .github/workflows/publish.yml
Due: none

fix crash on iOS (NSRangeException) on pasting html with <head> tag
  ios/inputParser/InputParser.mm
Due: clang-format

test(test screen): simplify ModalShell
  apps/example/src/components/ModalShell.tsx
Due: lint

fix: add alignment to Toolbar
  apps/example/src/components/Toolbar.tsx
  apps/example/src/constants/editorConfig.ts
  apps/example/src/screens/DevScreen.tsx
  docs/API_REFERENCE.md
  ios/EnrichedTextInputView.mm
  ios/extensions/LayoutManagerExtension.mm
  ios/utils/AlignmentUtils.h
  ios/utils/AlignmentUtils.mm
  ios/utils/TextInsertionUtils.mm
  src/spec/EnrichedTextInputNativeComponent.ts
Due: lint, types, clang-format

fix: improve body tag handling
  ios/inputParser/InputParser.mm
Due: clang-format

test: make tests more resilient on android
  .maestro/flows/initial_html_parsing.yaml
  .maestro/subflows/pick_first_image.yaml
Due: none

test: extract common patterns to subflows
  .maestro/flows/image_position_stability.yaml
  .maestro/flows/initial_html_parsing.yaml
  .maestro/flows/mention_parsing_handles_single_quoted_attributes.yaml
  .maestro/subflows/insert_image.yaml
  .maestro/subflows/pick_first_image.yaml
  .maestro/subflows/set_editor_value.yaml
Due: none

chore: upgrade min maestro version
  .maestro/scripts/run-tests.sh
  CONTRIBUTING.md
Due: none

fix: some minor improvements
  ios/EnrichedTextInputView.mm
  ios/attributesManager/AttributesManager.mm
  ios/interfaces/StyleBase.h
  ios/interfaces/StyleBase.mm
  ios/utils/ZeroWidthSpaceUtils.mm
Due: clang-format

test: updated docs on android tests
  CONTRIBUTING.md
Due: none

test: add tests for recent bugs (#474)
  .maestro/assets/sample_image.jpg
  .maestro/flows/image_position_stability.yaml
  .maestro/flows/initial_html_parsing.yaml
  .maestro/flows/mention_parsing_handles_single_quoted_attributes.yaml
  .maestro/flows/paragraph_style_removal.yaml
  .maestro/flows/paragraph_style_toggle.yaml
  .maestro/screenshots/android/image_position_stability_after_typing.png
  .maestro/screenshots/android/image_position_stability_before_typing.png
  .maestro/screenshots/android/initial_html_parsing.png
  .maestro/screenshots/android/mention_parsing_single_quoted_attributes.png
  .maestro/screenshots/android/paragraph_style_after_removal.png
  .maestro/screenshots/android/paragraph_style_toggle.png
  .maestro/screenshots/ios/image_position_stability_after_typing.png
  .maestro/screenshots/ios/image_position_stability_before_typing.png
  .maestro/screenshots/ios/initial_html_parsing.png
  .maestro/screenshots/ios/mention_parsing_single_quoted_attributes.png
  .maestro/screenshots/ios/paragraph_style_after_removal.png
  .maestro/screenshots/ios/paragraph_style_toggle.png
  .maestro/scripts/run-tests.sh
  .maestro/subflows/insert_image.yaml
  .maestro/subflows/pick_first_image.yaml
  .maestro/subflows/set_editor_value.yaml
  CONTRIBUTING.md
  apps/example/src/components/ImageModal.tsx
  apps/example/src/components/LinkModal.tsx
  apps/example/src/components/ModalShell.tsx
  apps/example/src/components/ValueModal.tsx
  apps/example/src/screens/TestScreen.tsx
Due: lint

chore: upgrade min maestro version (#482)
  .maestro/scripts/run-tests.sh
  CONTRIBUTING.md
Due: none

test: added test for PR #410
  .maestro/flows/checkbox_toggle.yaml
  .maestro/screenshots/android/checkbox_toggle.png
  .maestro/screenshots/ios/checkbox_toggle.png
Due: none

test: added test for PR #257
  .maestro/flows/codeblock_no_link_detection.yaml
  .maestro/screenshots/android/codeblock_no_link_detection.png
  .maestro/screenshots/ios/codeblock_no_link_detection.png
Due: none

test: added test for PR #306
  .maestro/flows/conflicting_paragraph_merge.yaml
  .maestro/screenshots/android/conflicting_paragraph_merge.png
  .maestro/screenshots/ios/conflicting_paragraph_merge.png
Due: none

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts, jsx, tsx}
  lint-android: any of: **/*.{kt,kts,java,gradle}
  clang-format: any of: *.{h,m,mm,cpp}, but not: (Pods|build|node_modules)
