Repository software-mansion/react-native-enriched: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, lint-android, clang-format

lint:
  run: npx eslint {staged_files}

types:
  run: npx tsc

lint-android:
  run: cd apps/example/android && ./gradlew lintVerify

clang-format:
  run: npx clang-format -i {staged_files} && git add {staged_files}

Potential fix for pull request finding
  docs/INPUT_API_REFERENCE.md
Due: none

docs: use specific platforms
  docs/INPUT_API_REFERENCE.md
  docs/TEXT_API_REFERENCE.md
Due: none

fix: priority for images
  android/src/main/java/com/swmansion/enriched/common/parser/EnrichedParser.java
Due: lint-android

fix: update returnKeyType docs
  docs/INPUT_API_REFERENCE.md
  docs/WEB.md
Due: none

docs: updated INPUT_API_REFERENCE.md to acknowledge web (#605)
  docs/INPUT_API_REFERENCE.md
  docs/TEXT_API_REFERENCE.md
  docs/WEB.md
Due: none

docs: undo redo shortcuts web
  docs/INPUT_API_REFERENCE.md
Due: none

docs: web docs update with undo, redo (#634)
  docs/INPUT_API_REFERENCE.md
Due: none

feat: adjust opacity settings (#631)
  android/src/main/java/com/swmansion/enriched/text/EnrichedTextStyle.kt
  android/src/main/java/com/swmansion/enriched/textinput/styles/HtmlStyle.kt
  ios/extensions/ColorExtension.h
  ios/extensions/ColorExtension.mm
  ios/extensions/LayoutManagerExtension.mm
  ios/styles/InlineCodeStyle.mm
  ios/styles/MentionStyle.mm
  ios/utils/EnrichedTextTouchHandler.mm
Due: lint-android, clang-format

chore: release 0.8.0
  apps/example/ios/Podfile.lock
  package.json
Due: none

chore: dependencies consolidation
  package.json
  yarn.lock
Due: none

chore: release 0.8.0 (#635)
  apps/example/ios/Podfile.lock
  package.json
Due: none

refactor: normalization directory structure
  src/web/EnrichedTextInput.tsx
  src/web/__tests__/htmlNormalizer.test.ts
  src/web/normalization/checkboxHtmlNormalizer.ts
  src/web/normalization/htmlNormalizer.ts
  src/web/normalization/tiptapHtmlNormalizer.ts
  src/web/useOnChangeHtml.ts
Due: lint, types

feat: extended character escaping in normalizer
  src/web/__tests__/htmlNormalizer.test.ts
  src/web/normalization/htmlNormalizer.ts
Due: lint, types

refactor: autlink plugin cleanup
  apps/example-web/src/App.tsx
  apps/example-web/src/testScreens/TestLinks.tsx
  src/web/pmPlugins/AutolinkPlugin/autolinkRegex.ts
  src/web/pmPlugins/AutolinkPlugin/index.ts
Due: lint, types

fix: manual links disappear when they dont match the linkRegex
  src/web/formats/EnrichedLink.ts
Due: lint, types

fix: tiptap internal link detection on paste
  src/web/formats/EnrichedLink.ts
Due: lint, types

fix: onLinkDetect event recalls
  .playwright/tests/links.spec.ts
  .playwright/tests/strictMarks.spec.ts
  src/web/pmPlugins/AutolinkPlugin/index.ts
Due: lint, types

fix: unnecessary autolink plugin transaction run on only selection changes
  src/web/pmPlugins/AutolinkPlugin/index.ts
Due: lint, types

fix: short default regex for TLDs
  src/web/pmPlugins/AutolinkPlugin/autolinkRegex.ts
Due: lint, types

feat: cleanup of unneccesary data-auto=false
  .playwright/tests/links.spec.ts
  .playwright/tests/strictMarks.spec.ts
  src/web/formats/EnrichedLink.ts
Due: lint, types

refactor: ios optimalization
  ios/inputAttributesManager/InputAttributesManager.mm
  ios/styles/OrderedListStyle.mm
Due: clang-format

feat: cache marker metrics
  android/src/main/java/com/swmansion/enriched/common/spans/EnrichedOrderedListSpan.kt
  ios/styles/OrderedListStyle.mm
Due: lint-android, clang-format

refactor: extract a utils file
  ios/styles/OrderedListStyle.mm
  ios/utils/OrderedListMetricsUtils.h
  ios/utils/OrderedListMetricsUtils.mm
Due: clang-format

fix: sync img placeholder colors with current text color
  android/src/main/java/com/swmansion/enriched/common/AsyncDrawable.kt
  android/src/main/java/com/swmansion/enriched/common/parser/EnrichedSpanFactory.kt
  android/src/main/java/com/swmansion/enriched/common/spans/EnrichedImageSpan.kt
  android/src/main/java/com/swmansion/enriched/text/EnrichedTextSpanFactory.kt
  android/src/main/java/com/swmansion/enriched/text/EnrichedTextView.kt
  android/src/main/java/com/swmansion/enriched/text/spans/EnrichedTextImageSpan.kt
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputSpannableFactory.kt
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputView.kt
  android/src/main/java/com/swmansion/enriched/textinput/spans/EnrichedInputImageSpan.kt
  android/src/main/java/com/swmansion/enriched/textinput/styles/ParametrizedStyles.kt
  ios/utils/AttachmentLayoutUtils.mm
Due: lint-android, clang-format

chore: lint
  android/build.gradle
Due: lint-android

fix(android): skip explicit Kotlin plugin when AGP registers the kotlin extension (#787)
  android/build.gradle
Due: lint-android

fix: update asyncDrawable internal state on the main thread
  android/src/main/java/com/swmansion/enriched/common/AsyncDrawable.kt
Due: lint-android

docs: docs update
  docs/docs/misc/compatibility.mdx
Due: none

feat: testing example app
  apps/example/src/hooks/useEditorState.ts
Due: lint, types

fix: package.swift tweaks
  Package.swift
  react-native-spm-prefix.h
Due: clang-format

refactor: generalized the source list in package.swift
  Package.swift
Due: none

feat: spm compatibility
  Package.swift
  ReactNativeEnrichedHtml.podspec
  ios/EnrichedTextInputView.mm
  ios/EnrichedTextView.mm
  ios/interfaces/LinkRegexConfig.h
  ios/internals/EnrichedTextComponentDescriptor.h
  ios/internals/EnrichedTextInputViewComponentDescriptor.h
  ios/internals/EnrichedTextInputViewShadowNode.h
  ios/internals/EnrichedTextViewShadowNode.h
  package.json
  react-native-spm-prefix.h
Due: clang-format

refactor: cleanup Package.swift
  Package.swift
Due: none

docs: revert the spm suppport mention
  docs/docs/misc/compatibility.mdx
Due: none

feat: drop react-native-spm-prefix.h
  Package.swift
  ios/utils/TextBlockTapGestureRecognizer.h
  ios/utils/WeakBox.h
  package.json
  react-native-spm-prefix.h
Due: clang-format

refactor: adjust imports
  ios/internals/EnrichedTextComponentDescriptor.h
  ios/internals/EnrichedTextInputViewComponentDescriptor.h
  ios/internals/EnrichedTextInputViewShadowNode.h
  ios/internals/EnrichedTextViewShadowNode.h
Due: clang-format

feat: simplified header search paths
  Package.swift
Due: none

fix: code left from local testing
  Package.swift
Due: none

fix: stale head indent on selection change to a trailing newline
  ios/enrichedInputTextView/EnrichedInputTextView.mm
Due: clang-format

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts, jsx, tsx}
  lint-android: any of: **/*.{kt,kts,java,gradle}
  clang-format: any of: *.{h,m,mm,cpp}, but not: (Pods|build|node_modules)
