Repository software-mansion/react-native-enriched: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, clang-format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint {staged_files}
    types:
      glob: "*.{js,ts, jsx, tsx}"
      run: npx tsc
    clang-format:
      glob: "*.{h,m,mm,cpp}"
      exclude: "(Pods|build|node_modules)"
      run: clang-format --dry-run --Werror {staged_files}
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

fix: recalculating layout after changing html styles - Android (#233)
  android/src/main/java/com/swmansion/enriched/EnrichedTextInputView.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedBlockQuoteSpan.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedBoldSpan.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedCodeBlockSpan.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedH1Span.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedH2Span.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedH3Span.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedImageSpan.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedInlineCodeSpan.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedItalicSpan.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedLinkSpan.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedMentionSpan.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedOrderedListSpan.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedStrikeThroughSpan.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedUnderlineSpan.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedUnorderedListSpan.kt
  android/src/main/java/com/swmansion/enriched/spans/interfaces/EnrichedSpan.kt
  android/src/main/java/com/swmansion/enriched/styles/HtmlStyle.kt
Due: none

fix: remove extra newlines from html
  ios/inputParser/InputParser.mm
Due: clang-format

fix: clang
  ios/inputParser/InputParser.mm
Due: clang-format

Update ios/inputParser/InputParser.mm
  ios/inputParser/InputParser.mm
Due: clang-format

fix: rename recentlyEmittedString
  example/ios/Podfile.lock
  ios/EnrichedTextInputView.mm
Due: clang-format

fix: <br> parsing inside codeblock and blockquote (#319)
  example/ios/Podfile.lock
  ios/EnrichedTextInputView.mm
  ios/inputParser/InputParser.mm
Due: clang-format

feat: set up project for web + native
  apps/example-web/src/App.tsx
  apps/example-web/tsconfig.app.json
  apps/example-web/tsconfig.node.json
  apps/example-web/vite.config.ts
  apps/example/tsconfig.json
  lefthook.yml
  package.json
  src/index.native.tsx
  src/index.tsx
  src/native/EnrichedTextInput.tsx
  src/native/EnrichedTextInputNativeComponent.ts
  src/native/normalizeHtmlStyle.ts
  src/web/EnrichedTextInput.tsx
  tsconfig.base.json
  tsconfig.json
  yarn.lock
Due: lint, types

fix(iOS): remove unnecessary spaces during html preparation (#321)
  ios/inputParser/InputParser.mm
Due: clang-format

fix: merging conflicting paragrah styles (#330)
  ios/EnrichedTextInputView.mm
  ios/utils/ParagraphAttributesUtils.h
  ios/utils/ParagraphAttributesUtils.mm
Due: clang-format

fix: resetting styles when deleting newline
  ios/EnrichedTextInputView.mm
  ios/utils/ParagraphAttributesUtils.h
  ios/utils/ParagraphAttributesUtils.mm
Due: clang-format

fix: draw placeholder image when loading failed
  ios/attachments/ImageAttachment.mm
Due: clang-format

fix: display empty image while loading the real one
  ios/attachments/ImageAttachment.mm
Due: clang-format

fix: async image loading
  ios/EnrichedTextInputView.h
  ios/EnrichedTextInputView.mm
  ios/attachments/ImageAttachment.h
  ios/attachments/ImageAttachment.mm
  ios/attachments/MediaAttachment.h
  ios/attachments/MediaAttachment.mm
  ios/styles/ImageStyle.mm
Due: clang-format

fix: run clang:fix
  ios/EnrichedTextInputView.h
  ios/EnrichedTextInputView.mm
  ios/attachments/ImageAttachment.h
  ios/attachments/ImageAttachment.mm
  ios/attachments/MediaAttachment.h
  ios/attachments/MediaAttachment.mm
  ios/styles/ImageStyle.mm
Due: clang-format

fix: fix after review
  ios/EnrichedTextInputView.mm
  ios/styles/ImageStyle.mm
Due: clang-format

fix: remove comments about performance that aren't true anymore
  ios/utils/LayoutManagerExtension.mm
Due: clang-format

fix: do not set initial selection after html processing
  ios/EnrichedTextInputView.mm
  ios/inputParser/InputParser.mm
  ios/styles/LinkStyle.mm
  ios/utils/StyleHeaders.h
Due: clang-format

fix(iOS): draw elements only in visible area (#325)
  ios/utils/LayoutManagerExtension.mm
Due: clang-format

fix(iOS): do not set the selection on the link when applying the initial styles (#314)
  ios/EnrichedTextInputView.mm
  ios/inputParser/InputParser.mm
  ios/styles/LinkStyle.mm
  ios/utils/StyleHeaders.h
Due: clang-format

feat(iOS): async image loading (#318)
  ios/EnrichedTextInputView.h
  ios/EnrichedTextInputView.mm
  ios/attachments/ImageAttachment.h
  ios/attachments/ImageAttachment.mm
  ios/attachments/MediaAttachment.h
  ios/attachments/MediaAttachment.mm
  ios/styles/ImageStyle.mm
Due: clang-format

fix: rename fresetting styles function
  ios/EnrichedTextInputView.mm
  ios/utils/ParagraphAttributesUtils.h
  ios/utils/ParagraphAttributesUtils.mm
Due: clang-format

fix: cursor position when inserting image
  ios/inputParser/InputParser.mm
Due: clang-format

fix: positioning cursor when changing props
  ios/EnrichedTextInputView.mm
  ios/attachments/ImageAttachment.mm
  ios/inputParser/InputParser.mm
Due: clang-format

fix: clang
  ios/EnrichedTextInputView.mm
  ios/inputParser/InputParser.mm
Due: clang-format

chore: release 0.2.1
  example/ios/Podfile.lock
  package.json
Due: none

chore: release 0.2.1 (#338)
  example/ios/Podfile.lock
  package.json
Due: none

fix: setting cursor position when default vvalue changed
  ios/EnrichedTextInputView.mm
  ios/inputParser/InputParser.mm
Due: clang-format

fix: add comment
  ios/EnrichedTextInputView.mm
Due: clang-format

feat: initialize Vite + React web example (#326)
  .github/workflows/ci.yml
  .gitignore
  apps/example-web/README.md
  apps/example-web/eslint.config.mjs
  apps/example-web/index.html
  apps/example-web/package.json
  apps/example-web/src/App.css
  apps/example-web/src/App.tsx
  apps/example-web/src/index.css
  apps/example-web/src/main.tsx
  apps/example-web/tsconfig.app.json
  apps/example-web/tsconfig.json
  apps/example-web/tsconfig.node.json
  apps/example-web/vite.config.ts
  eslint.config.mjs
  package.json
  tsconfig.base.json
  tsconfig.build.json
  tsconfig.json
  turbo.json
  yarn.lock
Due: lint, types

fix: cursor position when inserting image (#337)
  ios/EnrichedTextInputView.mm
  ios/attachments/ImageAttachment.mm
  ios/inputParser/InputParser.mm
Due: clang-format

fix: include zws in selection on Android
  android/src/main/java/com/swmansion/enriched/EnrichedTextInputView.kt
  ios/EnrichedTextInputView.mm
  ios/utils/ZeroWidthSpaceUtils.h
  ios/utils/ZeroWidthSpaceUtils.mm
Due: clang-format

fix: update working directory for codegen task and adjust yarn workspace path
  apps/example/android/app/build.gradle
  yarn.lock
Due: none

chore: update Podfile
  apps/example/ios/Podfile.lock
Due: none

fix: correct working directory for codegen task in Podfile
  apps/example/ios/Podfile
Due: none

chore: update podfile
  apps/example/ios/Podfile.lock
Due: none

fix: add images offset when parsing html
  ios/inputParser/InputParser.mm
Due: clang-format

chore: docs
  docs/API_REFERENCE.md
Due: none

fix: naming
  ios/inputParser/InputParser.mm
Due: clang-format
