Repository software-mansion/react-native-enriched: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, lint-android, clang-format

lint:
  run: npx eslint {staged_files}

types:
  run: npx tsc

lint-android:
  run: cd apps/example/android && ./gradlew lintVerify

clang-format:
  run: npx clang-format -i {staged_files} && git add {staged_files}

fix: don't clear typing attributes on empty editor focus
  ios/inputAttributesManager/InputAttributesManager.mm
Due: clang-format

fix(ios): don't clear typing attributes on empty editor focus (#791)
  ios/inputAttributesManager/InputAttributesManager.mm
Due: clang-format

chore(ios): update baseline screenshot
  .maestro/enrichedInput/screenshots/ios/inline_styles.png
Due: none

feat(web): pressable links in the input component
  .playwright/tests/links.spec.ts
  apps/example-web/src/App.tsx
  apps/example-web/src/testScreens/TestLinks.tsx
  src/types.ts
  src/web/EnrichedTextInput.tsx
Due: lint, types

chore(ios): update baseline screenshot (#792)
  .maestro/enrichedInput/screenshots/ios/inline_styles.png
Due: none

feat(web): proper link press colors
  src/types.ts
  src/utils/defaultHtmlStyle.ts
  src/web/EnrichedText.css
  src/web/EnrichedText.tsx
  src/web/EnrichedTextInput.tsx
  src/web/constants/classNames.ts
  src/web/htmlExtensions/useLinkPress.ts
  src/web/styleConversion/__tests__/htmlStyleToCSSVariables.test.ts
  src/web/styleConversion/htmlStyleToCSSVariables.ts
Due: lint, types

fix(web): make input focusable in the whole component's area
  src/web/EnrichedText.css
Due: none

refactor: documentation and cleanup
  apps/example-web/src/defaultHtmlStyle.ts
  src/types.ts
  src/web/htmlExtensions/useLinkPress.ts
Due: lint, types

fix(web): local tiptap CSS class rules
  src/web/EnrichedText.css
Due: none

fix: pin root typescript's react dependencies
  src/spec/EnrichedTextInputNativeComponent.ts
  tsconfig.json
Due: lint, types

chore: make example-web use the root typescript
  apps/example-web/package.json
  apps/example-web/tsconfig.app.json
  yarn.lock
Due: none

fix: make example-web use the root's eslint
  apps/example-web/eslint.config.mjs
  apps/example-web/package.json
  yarn.lock
Due: none

test: fix tests
  .playwright/tests/images.spec.ts
Due: lint, types

fix: add playwright tsconfig
  .playwright/tests/codeblockInlineStyles.spec.ts
  .playwright/tests/headingBoldFromStyle.spec.ts
  .playwright/tsconfig.json
  package.json
  yarn.lock
Due: lint, types

chore: lint
  apps/example/src/components/ToolbarButton.tsx
  src/web/nativeMappers/returnKeyTypeToEnterKeyHint.ts
  src/web/utils/pasteImages.ts
Due: lint, types

fix: deprecated ref types in native spec files
  src/spec/EnrichedTextInputNativeComponent.ts
Due: lint, types

fix: ternary operator logic
  .playwright/tests/headingBoldFromStyle.spec.ts
Due: lint, types

refactor: add .playwright to ts exclude list
  tsconfig.build.json
Due: none

fix: remove unused example-web scripts
  apps/example-web/package.json
Due: none

fix(web): make input focusable in the whole component's area (#794)
  .playwright/tests/images.spec.ts
  src/web/EnrichedText.css
Due: lint, types

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts, jsx, tsx}
  lint-android: any of: **/*.{kt,kts,java,gradle}
  clang-format: any of: *.{h,m,mm,cpp}, but not: (Pods|build|node_modules)
