Repository software-mansion/react-native-enriched: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, lint-android, clang-format

lint:
  run: npx eslint {staged_files}

types:
  run: npx tsc

lint-android:
  run: cd apps/example/android && ./gradlew lintVerify

clang-format:
  run: npx clang-format -i {staged_files} && git add {staged_files}

test(web): added tests for mentions (#596)
  .playwright/screenshots/mention-visual.png
  .playwright/tests/mentions.spec.ts
  .playwright/tests/testLinks.spec.ts
  apps/example-web/src/RouteSelector.tsx
  apps/example-web/src/testScreens/TestMentions.tsx
Due: lint, types

feat(web): add styles for mentions (#595)
  apps/example-web/src/defaultHtmlStyle.ts
  src/utils/expandMentionStylesForIndicators.ts
  src/utils/isMentionStyleRecord.ts
  src/utils/normalizeHtmlStyle.ts
  src/web/EnrichedTextInput.css
  src/web/EnrichedTextInput.tsx
  src/web/styleConversion/__tests__/buildMentionRulesCSS.test.ts
  src/web/styleConversion/__tests__/htmlStyleToCSSVariables.test.ts
  src/web/styleConversion/__tests__/mentionIndicatorCssKey.test.ts
  src/web/styleConversion/buildMentionRulesCSS.ts
  src/web/styleConversion/htmlStyleToCSSVariables.ts
  src/web/styleConversion/mentionIndicatorCssKey.ts
Due: lint, types

feat: add text alignment for paragraph
  android/src/main/java/com/swmansion/enriched/common/parser/EnrichedSpanFactory.kt
  android/src/main/java/com/swmansion/enriched/common/spans/EnrichedAlignmentSpan.kt
  android/src/main/java/com/swmansion/enriched/text/EnrichedTextSpanFactory.kt
  android/src/main/java/com/swmansion/enriched/text/spans/EnrichedTextAlignmentSpan.kt
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputSpannableFactory.kt
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputView.kt
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputViewManager.kt
  android/src/main/java/com/swmansion/enriched/textinput/spans/EnrichedInputAlignmentSpan.kt
  android/src/main/java/com/swmansion/enriched/textinput/styles/AlignmentStyles.kt
  android/src/main/java/com/swmansion/enriched/textinput/utils/EnrichedSelection.kt
  android/src/main/java/com/swmansion/enriched/textinput/utils/EnrichedSpanState.kt
  android/src/main/java/com/swmansion/enriched/textinput/watchers/EnrichedTextWatcher.kt
Due: lint-android

chore: add better typing
  src/web/styleConversion/enrichedInputThemingToCSSProperties.ts
Due: lint, types

feat(web): handle selectionColor, cursorColor and placeholderTextColor (#599)
  docs/WEB.md
  src/web/EnrichedTextInput.css
  src/web/EnrichedTextInput.tsx
  src/web/styleConversion/__tests__/enrichedInputThemingToCSSProperties.test.ts
  src/web/styleConversion/enrichedInputThemingToCSSProperties.ts
Due: lint, types

fix: fixed safari issues
  src/web/EnrichedTextInput.tsx
Due: lint

fix: fixed conflicting/blocking styles for inline code (#570)
  .maestro/enrichedInput/flows/inline_code_blocking_styles.yaml
  android/src/main/java/com/swmansion/enriched/textinput/spans/EnrichedSpans.kt
  ios/utils/StyleUtils.mm
Due: lint-android, clang-format

feat: added shortcuts
  .playwright/helpers/visual-regression.ts
  .playwright/tests/images.spec.ts
  .playwright/tests/inputShortcuts.spec.ts
  docs/WEB.md
  src/web/EnrichedTextInput.tsx
  src/web/pmPlugins/shortcutManager.ts
Due: lint, types

docs: update WEB.md
  docs/WEB.md
Due: none

docs: updated docs
  docs/INPUT_API_REFERENCE.md
  docs/TEXT_API_REFERENCE.md
Due: none

refactor: rename to shortcutPlugin
  src/web/EnrichedTextInput.tsx
  src/web/pmPlugins/shortcutPlugin.ts
Due: lint, types

Update docs/WEB.md
  docs/WEB.md
Due: none

Update ios/utils/TextListUtils.h
  ios/utils/TextListUtils.h
Due: clang-format

Update .maestro/enrichedInput/flows/paragraph_styles_alignment_visual.yaml
  .maestro/enrichedInput/flows/paragraph_styles_alignment_visual.yaml
Due: none

Update ios/enrichedInputTextView/EnrichedInputTextView/EnrichedInputTextView.mm
  ios/enrichedInputTextView/EnrichedInputTextView/EnrichedInputTextView.mm
Due: clang-format

Update ios/utils/ParagraphAttributesUtils.mm
  ios/utils/ParagraphAttributesUtils.mm
Due: clang-format

fix: review changes
  apps/example/src/screens/DevScreen.tsx
  ios/enrichedInputTextView/EnrichedInputTextView/EnrichedInputTextView.mm
  ios/htmlParser/HtmlParser.mm
  ios/inputAttributesManager/InputAttributesManager.mm
  ios/interfaces/StyleBase.mm
  ios/styles/AlignmentStyle.mm
  ios/styles/CheckboxListStyle.mm
  ios/utils/AlignmentUtils.h
  ios/utils/AlignmentUtils.mm
  ios/utils/ParagraphAttributesUtils.h
  ios/utils/ParagraphAttributesUtils.mm
  ios/utils/TextListsUtils.h
  ios/utils/TextListsUtils.mm
Due: lint, clang-format

fix: parser
  ios/htmlParser/HtmlParser.mm
Due: clang-format

feat(web): submit props (#600)
  .playwright/tests/submitProps.spec.ts
  apps/example-web/src/App.tsx
  apps/example-web/src/RouteSelector.tsx
  apps/example-web/src/testScreens/TestSubmitProps.tsx
  docs/WEB.md
  src/web/EnrichedTextInput.tsx
  src/web/__tests__/returnKeyTypeToEnterKeyHint.test.ts
  src/web/returnKeyTypeToEnterKeyHint.ts
Due: lint, types

fix: setting mention withoout indicator typed
  ios/EnrichedTextInputView.mm
  ios/styles/MentionStyle.mm
Due: clang-format

fix(android): setting mention without indicator typed
  android/src/main/java/com/swmansion/enriched/textinput/styles/ParametrizedStyles.kt
Due: lint-android

feat(web): added shortcuts (#603)
  .playwright/helpers/visual-regression.ts
  .playwright/tests/images.spec.ts
  .playwright/tests/inputShortcuts.spec.ts
  docs/WEB.md
  src/web/EnrichedTextInput.tsx
  src/web/pmPlugins/shortcutPlugin.ts
Due: lint, types

feat(ios): add textAlignment (#403)
  .maestro/enrichedInput/flows/paragraph_styles_alignment_visual.yaml
  .maestro/enrichedInput/screenshots/ios/paragraph_styles_alignment.png
  .maestro/enrichedText/flows/alignment_visual.yaml
  .maestro/enrichedText/screenshots/ios/alignment_visual.png
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputViewManager.kt
  apps/example/src/components/Toolbar.tsx
  apps/example/src/constants/editorConfig.ts
  docs/INPUT_API_REFERENCE.md
  ios/EnrichedTextInputView.mm
  ios/enrichedInputTextView/EnrichedInputTextView/EnrichedInputTextView.mm
  ios/extensions/LayoutManagerExtension.mm
  ios/htmlParser/HtmlParser.mm
  ios/inputAttributesManager/InputAttributesManager.mm
  ios/inputHtmlParser/InputHtmlParser.mm
  ios/interfaces/AlignmentEntry.h
  ios/interfaces/AlignmentEntry.mm
  ios/interfaces/EnrichedTextStyleHeaders.h
  ios/interfaces/StyleBase.h
  ios/interfaces/StyleBase.mm
  ios/interfaces/StyleHeaders.h
  ios/interfaces/StyleTypeEnum.h
  ios/styles/AlignmentStyle.mm
  ios/styles/CheckboxListStyle.mm
  ios/styles/EnrichedTextStyles.mm
  ios/textHtmlParser/TextHtmlParser.mm
  ios/utils/AlignmentUtils.h
  ios/utils/AlignmentUtils.mm
  ios/utils/ParagraphAttributesUtils.h
  ios/utils/ParagraphAttributesUtils.mm
  ios/utils/StyleUtils.mm
  ios/utils/TextListsUtils.h
  ios/utils/TextListsUtils.mm
  ios/utils/ZeroWidthSpaceUtils.h
  ios/utils/ZeroWidthSpaceUtils.mm
  src/native/EnrichedTextInput.tsx
  src/spec/EnrichedTextInputNativeComponent.ts
  src/types.ts
  src/web/EnrichedTextInput.tsx
  src/web/useOnChangeState.ts
Due: lint, types, lint-android, clang-format

fix: rename default to auto alignment value
  docs/INPUT_API_REFERENCE.md
  ios/utils/AlignmentUtils.mm
  src/native/EnrichedTextInput.tsx
  src/types.ts
Due: lint, types, clang-format

Update docs/INPUT_API_REFERENCE.md
  docs/INPUT_API_REFERENCE.md
Due: none

fix: rename default to auto alignment value (#607)
  docs/INPUT_API_REFERENCE.md
  ios/utils/AlignmentUtils.mm
  src/native/EnrichedTextInput.tsx
  src/types.ts
Due: lint, types, clang-format

fix: setting mention without indicator typed (#606)
  android/src/main/java/com/swmansion/enriched/textinput/styles/ParametrizedStyles.kt
  ios/EnrichedTextInputView.mm
  ios/styles/MentionStyle.mm
Due: lint-android, clang-format

fix(iOS): drawing checkboxes
  ios/extensions/LayoutManagerExtension.mm
Due: clang-format

fix(iOS): drawing checkboxes (#609)
  ios/extensions/LayoutManagerExtension.mm
Due: clang-format

feat(android): add alignment for paragraph styles
  .maestro/enrichedInput/flows/paragraph_styles_alignment_visual.yaml
  .maestro/enrichedInput/screenshots/android/paragraph_styles_alignment.png
  .maestro/enrichedText/screenshots/android/alignment_visual.png
  android/src/main/java/com/swmansion/enriched/common/parser/EnrichedParser.java
  android/src/main/java/com/swmansion/enriched/common/spans/EnrichedAlignmentSpan.kt
  android/src/main/java/com/swmansion/enriched/text/spans/EnrichedTextAlignmentSpan.kt
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputView.kt
  android/src/main/java/com/swmansion/enriched/textinput/spans/EnrichedInputAlignmentSpan.kt
  android/src/main/java/com/swmansion/enriched/textinput/styles/AlignmentStyles.kt
  android/src/main/java/com/swmansion/enriched/textinput/styles/ListStyles.kt
  android/src/main/java/com/swmansion/enriched/textinput/styles/ParagraphStyles.kt
  android/src/main/java/com/swmansion/enriched/textinput/utils/EnrichedSelection.kt
  android/src/main/java/com/swmansion/enriched/textinput/utils/EnrichedSpanState.kt
  android/src/main/java/com/swmansion/enriched/textinput/utils/EnrichedSpannableStringBuilder.kt
  android/src/main/java/com/swmansion/enriched/textinput/watchers/EnrichedTextWatcher.kt
  apps/example/src/constants/editorConfig.ts
Due: lint, types, lint-android

fix: use getSafeSpanBoundaries
  android/src/main/java/com/swmansion/enriched/textinput/styles/AlignmentStyles.kt
Due: lint-android

fix: remove unused files
  ios/utils/TextListUtils.h
  ios/utils/TextListUtils.mm
Due: clang-format

fix: remove ios only from docs
  apps/example/src/screens/DevScreen.tsx
  docs/INPUT_API_REFERENCE.md
Due: lint

docs: add info about justify
  docs/INPUT_API_REFERENCE.md
Due: none

chore: fix ios dir structure
  ios/enrichedInputTextView/EnrichedInputTextView.h
  ios/enrichedInputTextView/EnrichedInputTextView.mm
  ios/enrichedTextTextView/EnrichedTextTextView.h
  ios/enrichedTextTextView/EnrichedTextTextView.mm
Due: clang-format

fix(iOS): idx out of bounds crash inside caretRectForPosition
  ios/enrichedInputTextView/EnrichedInputTextView/EnrichedInputTextView.mm
Due: clang-format

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts, jsx, tsx}
  lint-android: any of: **/*.{kt,kts,java,gradle}
  clang-format: any of: *.{h,m,mm,cpp}, but not: (Pods|build|node_modules)
