Repository software-mansion/react-native-enriched: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, lint-android, clang-format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint {staged_files}
    types:
      glob: "*.{js,ts, jsx, tsx}"
      run: npx tsc
    lint-android:
      glob: "**/*.{kt,kts,java,gradle}"
      run: cd apps/example/android && ./gradlew lintVerify
    clang-format:
      glob: "*.{h,m,mm,cpp}"
      exclude: "(Pods|build|node_modules)"
      run: npx clang-format -i {staged_files} && git add {staged_files}
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

fix: remove deprecated fontSize heading limitation from readme
  README.md
Due: none

fix: remove deprecated fontSize heading limitation from readme (#497)
  README.md
Due: none

fix: pasting plain text and setting selection after paste
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputView.kt
  android/src/main/java/com/swmansion/enriched/textinput/styles/ParametrizedStyles.kt
Due: lint-android

feat: add configurable textShortcuts prop for block and inline shortcuts
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputView.kt
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputViewManager.kt
  android/src/main/java/com/swmansion/enriched/textinput/spans/EnrichedSpans.kt
  android/src/main/java/com/swmansion/enriched/textinput/styles/ListStyles.kt
  ios/EnrichedTextInputView.h
  ios/EnrichedTextInputView.mm
  src/native/EnrichedTextInput.tsx
  src/spec/EnrichedTextInputNativeComponent.ts
  src/types.ts
Due: lint, types, lint-android, clang-format

fix: default textShortcuts to built-in list shortcuts to avoid breaking change
  src/native/EnrichedTextInput.tsx
  src/types.ts
Due: lint, types

fix: use std::string::empty() instead of has_value() for codegen type field
  ios/EnrichedTextInputView.mm
Due: clang-format

fix: review changes
  ios/inputParser/InputParser.mm
  ios/utils/AlignmentUtils.h
  ios/utils/AlignmentUtils.mm
Due: clang-format

fix: br parsing inside codeblock/blockquote
  ios/inputParser/InputParser.mm
Due: clang-format

chore: add maestro tests to CI
  .github/workflows/e2e.yml
  .maestro/scripts/setup-android-emulator.sh
  .maestro/scripts/setup-ios-simulator.sh
Due: none

fix: maestro version
  .maestro/scripts/run-tests.sh
Due: none

fix: emulator start for CI
  .maestro/scripts/run-tests.sh
Due: none

fix: run maestro server
  .github/workflows/e2e.yml
Due: none

fix: andorid e2e
  .github/workflows/e2e.yml
Due: none

fix: restore cocoapods setup
  .github/workflows/e2e.yml
Due: none

fix: cache derived data
  .github/workflows/e2e.yml
Due: none

fix: print available devices
  .github/workflows/e2e.yml
Due: none

test: updated screenshot for cut test
  .maestro/screenshots/android/extending_paragraph_style_on_paste_after_cut.png
Due: none

refactor: change spacing in cut test
  .maestro/flows/extending_paragraph_style_on_paste_after_cut.yaml
Due: none

fix: set pixel_9 screen dimensions
  .maestro/scripts/setup-android-emulator.sh
Due: none

fix: extending paragraph style on paste (#472)
  .maestro/flows/extending_paragraph_style_on_paste_after_copy.yaml
  .maestro/flows/extending_paragraph_style_on_paste_after_cut.yaml
  .maestro/screenshots/android/extending_paragraph_style_on_paste_after_copy.png
  .maestro/screenshots/android/extending_paragraph_style_on_paste_after_cut.png
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputView.kt
  android/src/main/java/com/swmansion/enriched/textinput/styles/ParametrizedStyles.kt
  android/src/main/java/com/swmansion/enriched/textinput/utils/EnrichedSpannable.kt
Due: lint-android

fix: increase timeout fo android emulator
  .maestro/scripts/setup-android-emulator.sh
Due: none

fix: add emulator logs to file
  .github/workflows/e2e.yml
  .maestro/scripts/setup-android-emulator.sh
Due: none

fix: reduce timeout
  .github/workflows/e2e.yml
  .maestro/scripts/setup-android-emulator.sh
Due: none

fix(android): block mention events when cursor is inside a finalized mention span (#489)
  android/src/main/java/com/swmansion/enriched/textinput/styles/ParametrizedStyles.kt
Due: lint-android

fix: avd set
  .maestro/scripts/setup-android-emulator.sh
Due: none

fix: pixel density
  .maestro/scripts/setup-android-emulator.sh
Due: none

fix: link turns into plain
  android/src/main/java/com/swmansion/enriched/common/spans/EnrichedLinkSpan.kt
  android/src/main/java/com/swmansion/enriched/textinput/spans/EnrichedInputLinkSpan.kt
  android/src/main/java/com/swmansion/enriched/textinput/styles/ParametrizedStyles.kt
Due: lint-android

fix: run android tests on pixel_7
  .maestro/screenshots/android/empty_element_parsing.png
  .maestro/screenshots/android/paragraph_styles_no_crash.png
  .maestro/screenshots/android/scrolling_paragraph_styles_top.png
  .maestro/scripts/setup-android-emulator.sh
  CONTRIBUTING.md
Due: none

fix: remove --skin for CI
  .maestro/scripts/setup-android-emulator.sh
Due: none

test: updated link_not_extended
  .maestro/flows/link_not_extended.yaml
  .maestro/screenshots/android/link_not_extended.png
Due: none

Update ios/interfaces/StyleBase.mm
  ios/interfaces/StyleBase.mm
Due: clang-format

fix: add comments
  ios/EnrichedTextInputView.mm
  ios/styles/HeadingStyleBase.mm
Due: clang-format

fix: review changes
  ios/interfaces/ImageAttachment.mm
  ios/interfaces/StyleBase.mm
Due: clang-format

fix: link turns into plain text added by setValue
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputSpannableFactory.kt
Due: lint-android

test: added html_link_not_extended
  .maestro/flows/html_link_not_extended.yaml
  .maestro/screenshots/android/html_link_not_extended.png
  .maestro/screenshots/ios/html_link_not_extended.png
Due: none

feat: styling improvements to example-web
  apps/example-web/src/App.css
  apps/example-web/src/App.tsx
  apps/example-web/src/components/EditorActions.css
  apps/example-web/src/components/EditorActions.tsx
  apps/example-web/src/components/HtmlOutputPanel.css
  apps/example-web/src/components/SetHtmlValueControl.css
  apps/example-web/src/components/SetHtmlValueControl.tsx
  apps/example-web/src/components/SetValueModal.css
  apps/example-web/src/components/SetValueModal.tsx
  apps/example-web/src/index.css
Due: lint

refactor: refactoring styling in example-web
  apps/example-web/src/App.css
  apps/example-web/src/components/EditorActions.css
  apps/example-web/src/components/SetValueModal.css
  apps/example-web/src/components/SetValueModal.tsx
Due: lint

refactor: onChangeHtml/Text
  src/web/useOnChangeHtml.ts
  src/web/useOnChangeText.ts
  src/web/useOnEditorChange.ts
Due: lint, types

fix: fixed styling issues
  apps/example-web/src/components/SetValueModal.css
Due: none
