Repository software-mansion/react-native-enriched: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, lint-android, clang-format

lint:
  run: npx eslint {staged_files}

types:
  run: npx tsc

lint-android:
  run: cd apps/example/android && ./gradlew lintVerify

clang-format:
  run: npx clang-format -i {staged_files} && git add {staged_files}

fix: padding applied as margin
  ios/EnrichedTextInputView.mm
Due: clang-format

fix: lists markers position
  ios/utils/LayoutManagerExtension.mm
Due: clang-format

feat: proper layout caclulation
  ios/EnrichedTextInputView.h
  ios/EnrichedTextInputView.mm
  ios/inputTextView/InputTextView.h
  ios/inputTextView/InputTextView.mm
  ios/internals/EnrichedTextInputViewShadowNode.h
  ios/internals/EnrichedTextInputViewShadowNode.mm
  ios/internals/EnrichedTextInputViewState.cpp
  ios/internals/EnrichedTextInputViewState.h
  ios/utils/LayoutManagerExtension.mm
Due: clang-format

fix: return mock view
  ios/EnrichedTextInputView.h
  ios/EnrichedTextInputView.mm
  ios/internals/EnrichedTextInputViewShadowNode.h
  ios/internals/EnrichedTextInputViewShadowNode.mm
  ios/internals/EnrichedTextInputViewState.h
Due: clang-format

fix: remove code duplication
  ios/EnrichedTextInputView.mm
Due: clang-format

fix: remove unused ivars
  ios/EnrichedTextInputView.mm
Due: clang-format

feat: use usedRect in layout subviews
  ios/EnrichedTextInputView.h
  ios/EnrichedTextInputView.mm
  ios/inputTextView/InputTextView.mm
Due: clang-format

fix: set _prevSize before making yoga node dirty
  ios/internals/EnrichedTextInputViewShadowNode.mm
Due: clang-format

Update docs/API_REFERENCE.md
  docs/API_REFERENCE.md
Due: none

fix: properly handle placeholder insets
  ios/inputTextView/InputTextView.mm
Due: clang-format

feat: improve new lines handling performance in inline code styles (#350)
  ios/styles/InlineCodeStyle.mm
Due: clang-format

fix: refactor state emitting
  android/src/main/java/com/swmansion/enriched/utils/EnrichedSpanState.kt
Due: lint-android

fix: android span watcher
  android/src/main/java/com/swmansion/enriched/EnrichedTextInputView.kt
  android/src/main/java/com/swmansion/enriched/utils/EnrichedEditableFactory.kt
Due: lint-android

fix: code review iOS changes
  ios/utils/LinkRegex.h
  ios/utils/LinkRegexConfig.h
Due: clang-format

fix: iOS import
  ios/config/InputConfig.h
Due: clang-format

fix: remove empty line
  ios/config/InputConfig.mm
Due: clang-format

fix: remove epsilon comprassion
  ios/inputTextView/InputTextView.mm
Due: clang-format

feat: make iOS bolded headings properly block bold style
  apps/example/ios/Podfile.lock
  ios/EnrichedTextInputView.h
  ios/EnrichedTextInputView.mm
Due: clang-format

fix: remove controlling the scroll manually
  ios/EnrichedTextInputView.mm
Due: clang-format

feat: wip - android checklist
  android/src/main/java/com/swmansion/enriched/EnrichedTextInputView.kt
  android/src/main/java/com/swmansion/enriched/EnrichedTextInputViewManager.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedCheckboxListSpan.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedSpans.kt
  android/src/main/java/com/swmansion/enriched/styles/HtmlStyle.kt
  android/src/main/java/com/swmansion/enriched/styles/ListStyles.kt
  android/src/main/java/com/swmansion/enriched/utils/EnrichedParser.java
  android/src/main/java/com/swmansion/enriched/utils/EnrichedSpanState.kt
  android/src/main/java/com/swmansion/enriched/utils/Utils.kt
  apps/example/src/App.tsx
  apps/example/src/components/Toolbar.tsx
  src/EnrichedTextInput.tsx
  src/EnrichedTextInputNativeComponent.ts
  src/normalizeHtmlStyle.ts
Due: lint, types, lint-android

fix: android span watcher (#359)
  android/src/main/java/com/swmansion/enriched/EnrichedTextInputView.kt
  android/src/main/java/com/swmansion/enriched/utils/EnrichedEditableFactory.kt
Due: lint-android

fix: resetting styles when deleting newline (#333)
  ios/EnrichedTextInputView.mm
  ios/utils/ParagraphAttributesUtils.h
  ios/utils/ParagraphAttributesUtils.mm
Due: clang-format

fix: ordering in ordered list
  android/src/main/java/com/swmansion/enriched/styles/ListStyles.kt
Due: lint-android

chore: cleanup
  android/src/main/java/com/swmansion/enriched/spans/EnrichedCheckboxListSpan.kt
Due: lint-android

fix: ordering in ordered list (#362)
  android/src/main/java/com/swmansion/enriched/styles/ListStyles.kt
Due: lint-android

fix: layout calculation for bigger checkbox size
  android/src/main/java/com/swmansion/enriched/spans/EnrichedCheckboxListSpan.kt
  android/src/main/java/com/swmansion/enriched/styles/ListStyles.kt
Due: lint-android

feat: customize checbox color
  android/src/main/java/com/swmansion/enriched/spans/EnrichedCheckboxListSpan.kt
  android/src/main/java/com/swmansion/enriched/styles/HtmlStyle.kt
  android/src/main/java/com/swmansion/enriched/utils/CheckboxDrawable.kt
  apps/example/src/App.tsx
  src/EnrichedTextInput.tsx
  src/EnrichedTextInputNativeComponent.ts
  src/normalizeHtmlStyle.ts
Due: lint, types, lint-android

chore: resolve cr comment
  android/src/main/java/com/swmansion/enriched/styles/ParametrizedStyles.kt
Due: lint-android

fix: better iOS default regex perf
  ios/styles/LinkStyle.mm
Due: clang-format

feat: link detection regex (#353)
  README.md
  android/src/main/java/com/swmansion/enriched/EnrichedTextInputView.kt
  android/src/main/java/com/swmansion/enriched/EnrichedTextInputViewManager.kt
  android/src/main/java/com/swmansion/enriched/styles/ParametrizedStyles.kt
  apps/example/ios/Podfile.lock
  apps/example/src/App.tsx
  docs/API_REFERENCE.md
  ios/EnrichedTextInputView.mm
  ios/config/InputConfig.h
  ios/config/InputConfig.mm
  ios/styles/LinkStyle.mm
  ios/utils/LinkRegexConfig.h
  ios/utils/LinkRegexConfig.mm
  src/EnrichedTextInput.tsx
  src/EnrichedTextInputNativeComponent.ts
  src/utils/normalizeHtmlStyle.ts
  src/utils/regexParser.ts
Due: lint, types, lint-android, clang-format

feat: change onChangeState event API (#344)
  README.md
  android/src/main/java/com/swmansion/enriched/EnrichedTextInputViewManager.kt
  android/src/main/java/com/swmansion/enriched/events/OnChangeStateDeprecatedEvent.kt
  android/src/main/java/com/swmansion/enriched/utils/EnrichedSpanState.kt
  apps/example/src/App.tsx
  apps/example/src/components/Toolbar.tsx
  apps/example/src/components/ToolbarButton.tsx
  docs/API_REFERENCE.md
  ios/EnrichedTextInputView.h
  ios/EnrichedTextInputView.mm
  src/EnrichedTextInput.tsx
  src/EnrichedTextInputNativeComponent.ts
Due: lint, types, lint-android, clang-format

fix: add invalidating fonts
  ios/EnrichedTextInputView.mm
  ios/config/InputConfig.h
  ios/config/InputConfig.mm
  ios/styles/H1Style.mm
  ios/styles/H2Style.mm
  ios/styles/H3Style.mm
  ios/styles/H4Style.mm
  ios/styles/H5Style.mm
  ios/styles/H6Style.mm
  ios/styles/HeadingStyleBase.mm
Due: clang-format

fix: naming
  ios/config/InputConfig.h
  ios/config/InputConfig.mm
  ios/styles/HeadingStyleBase.mm
Due: clang-format

fix: lint
  ios/styles/HeadingStyleBase.mm
Due: clang-format

fix: sort utils in a meaningful way
  ios/extensions/ColorExtension.h
  ios/extensions/ColorExtension.mm
  ios/extensions/FontExtension.h
  ios/extensions/FontExtension.mm
  ios/extensions/LayoutManagerExtension.h
  ios/extensions/LayoutManagerExtension.mm
  ios/extensions/StringExtension.h
  ios/extensions/StringExtension.mm
  ios/interfaces/BaseStyleProtocol.h
  ios/interfaces/ImageAttachment.h
  ios/interfaces/ImageAttachment.mm
  ios/interfaces/ImageData.h
  ios/interfaces/ImageData.mm
  ios/interfaces/LinkData.h
  ios/interfaces/LinkData.mm
  ios/interfaces/LinkRegexConfig.h
  ios/interfaces/LinkRegexConfig.mm
  ios/interfaces/MediaAttachment.h
  ios/interfaces/MediaAttachment.mm
  ios/interfaces/MentionParams.h
  ios/interfaces/MentionParams.mm
  ios/interfaces/MentionStyleProps.h
  ios/interfaces/MentionStyleProps.mm
  ios/interfaces/StyleHeaders.h
  ios/interfaces/StylePair.h
  ios/interfaces/StylePair.mm
  ios/interfaces/StyleTypeEnum.h
  ios/interfaces/TextDecorationLineEnum.h
  ios/interfaces/TextDecorationLineEnum.mm
Due: clang-format

fix: font scaling when changing font size from system settings (#352)
  ios/EnrichedTextInputView.mm
  ios/config/InputConfig.h
  ios/config/InputConfig.mm
  ios/styles/HeadingStyleBase.mm
  ios/utils/StyleHeaders.h
Due: clang-format

fix: tackle objc warnings
  ios/inputParser/InputParser.mm
  ios/interfaces/MentionStyleProps.mm
  ios/styles/BlockQuoteStyle.mm
  ios/styles/BoldStyle.mm
  ios/styles/CodeBlockStyle.mm
  ios/styles/HeadingStyleBase.mm
  ios/styles/ImageStyle.mm
  ios/styles/InlineCodeStyle.mm
  ios/styles/ItalicStyle.mm
  ios/styles/LinkStyle.mm
  ios/styles/MentionStyle.mm
  ios/styles/OrderedListStyle.mm
  ios/styles/StrikethroughStyle.mm
  ios/styles/UnderlineStyle.mm
  ios/styles/UnorderedListStyle.mm
  ios/utils/ParagraphsUtils.mm
Due: clang-format

chore: cleanup
  android/src/main/java/com/swmansion/enriched/EnrichedTextInputView.kt
  android/src/main/java/com/swmansion/enriched/styles/ListStyles.kt
  android/src/main/java/com/swmansion/enriched/utils/Utils.kt
Due: lint-android

chore: resolve conflicts
  android/src/main/java/com/swmansion/enriched/utils/EnrichedSpanState.kt
  apps/example/src/App.tsx
  apps/example/src/components/Toolbar.tsx
  src/EnrichedTextInputNativeComponent.ts
Due: lint, types, lint-android

chore: document checkbox list
  README.md
  docs/API_REFERENCE.md
Due: none

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts, jsx, tsx}
  lint-android: any of: **/*.{kt,kts,java,gradle}
  clang-format: any of: *.{h,m,mm,cpp}, but not: (Pods|build|node_modules)
