Repository software-mansion/react-native-enriched: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, lint-android, clang-format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint {staged_files}
    types:
      glob: "*.{js,ts, jsx, tsx}"
      run: npx tsc
    lint-android:
      glob: "**/*.{kt,kts,java,gradle}"
      run: cd apps/example/android && ./gradlew lintVerify
    clang-format:
      glob: "*.{h,m,mm,cpp}"
      exclude: "(Pods|build|node_modules)"
      run: npx clang-format -i {staged_files} && git add {staged_files}
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

fix: filter context menu items on js side
  ios/EnrichedTextInputView.mm
  src/EnrichedTextInput.tsx
  src/spec/EnrichedTextInputNativeComponent.ts
Due: lint, types, clang-format

fix: readme
  README.md
Due: none

fix: android build
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputViewManager.kt
Due: lint-android

fix: markers alignement with custom line height
  android/src/main/java/com/swmansion/enriched/common/spans/EnrichedCheckboxListSpan.kt
  android/src/main/java/com/swmansion/enriched/common/spans/EnrichedUnorderedListSpan.kt
Due: lint-android

feat(Android): line height (#431)
  android/src/main/java/com/swmansion/enriched/common/spans/EnrichedCheckboxListSpan.kt
  android/src/main/java/com/swmansion/enriched/common/spans/EnrichedUnorderedListSpan.kt
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputView.kt
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputViewManager.kt
  android/src/main/java/com/swmansion/enriched/textinput/MeasurementStore.kt
  android/src/main/java/com/swmansion/enriched/textinput/spans/EnrichedLineHeightSpan.kt
  android/src/main/new_arch/react/renderer/components/ReactNativeEnrichedSpec/conversions.h
  docs/API_REFERENCE.md
Due: lint-android, clang-format

Update docs/API_REFERENCE.md
  docs/API_REFERENCE.md
Due: none

chore: remove onChangeStateDeprecated
  docs/API_REFERENCE.md
  src/EnrichedTextInput.tsx
  src/index.tsx
  src/spec/EnrichedTextInputNativeComponent.ts
Due: lint, types

fix: emitting styleState
  ios/EnrichedTextInputView.mm
  src/EnrichedTextInput.tsx
  src/spec/EnrichedTextInputNativeComponent.ts
Due: lint, types, clang-format

Update apps/example/src/App.tsx
  apps/example/src/App.tsx
Due: lint

Update src/EnrichedTextInput.tsx
  src/EnrichedTextInput.tsx
Due: lint

fix: naming
  ReactNativeEnriched.podspec
  cpp/CMakeLists.txt
  cpp/GumboParser/GumboParser.h
  cpp/README.md
  cpp/parser/GumboNormalizer.c
  cpp/parser/GumboParser.cpp
Due: clang-format

fix: typescript check
  tsconfig.build.json
Due: none

fix: eslint
  eslint.config.mjs
Due: none

feat: add removeLink method
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputView.kt
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputViewManager.kt
  docs/API_REFERENCE.md
  ios/EnrichedTextInputView.mm
  src/EnrichedTextInput.tsx
  src/spec/EnrichedTextInputNativeComponent.ts
Due: lint, types, lint-android, clang-format

feat(iOS): add support for adding custom context menu items (#422)
  README.md
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputViewManager.kt
  docs/API_REFERENCE.md
  ios/EnrichedTextInputView.mm
  src/EnrichedTextInput.tsx
  src/spec/EnrichedTextInputNativeComponent.ts
Due: lint, types, lint-android, clang-format

feat(iOS): normalizing html (#435)
  ReactNativeEnriched.podspec
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputViewManager.kt
  apps/example/ios/Podfile.lock
  apps/example/src/App.tsx
  cpp/CMakeLists.txt
  cpp/GumboParser/GumboParser.h
  cpp/README.md
  cpp/parser/GumboNormalizer.c
  cpp/parser/GumboParser.cpp
  cpp/parser/GumboParser.hpp
  cpp/tests/GumboParserTest.cpp
  docs/API_REFERENCE.md
  eslint.config.mjs
  ios/EnrichedTextInputView.h
  ios/EnrichedTextInputView.mm
  ios/inputParser/InputParser.mm
  src/EnrichedTextInput.tsx
  src/spec/EnrichedTextInputNativeComponent.ts
  tsconfig.build.json
Due: lint, types, lint-android, clang-format

feat: custom context menu items android
  README.md
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputView.kt
  android/src/main/java/com/swmansion/enriched/textinput/events/OnContextMenuItemPressEvent.kt
  android/src/main/java/com/swmansion/enriched/textinput/utils/EnrichedSpanState.kt
  docs/API_REFERENCE.md
Due: lint-android

chore: drop RN 0.79 and RN 0.80 support (#390)
  README.md
  android/src/main/new_arch/CMakeLists.txt
  android/src/main/new_arch/react/renderer/components/ReactNativeEnrichedSpec/conversions.h
Due: clang-format

chore: remove onChangeStateDeprecated (#438)
  docs/API_REFERENCE.md
  src/EnrichedTextInput.tsx
  src/index.tsx
  src/spec/EnrichedTextInputNativeComponent.ts
Due: lint, types

feat(Android): context menu items (#433)
  README.md
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputView.kt
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputViewManager.kt
  android/src/main/java/com/swmansion/enriched/textinput/events/OnContextMenuItemPressEvent.kt
  android/src/main/java/com/swmansion/enriched/textinput/utils/EnrichedSpanState.kt
  cpp/GumboParser/GumboParser.h
  cpp/tests/GumboParserTest.cpp
  docs/API_REFERENCE.md
Due: lint-android, clang-format

feat: android html normalizer
  android/src/main/java/com/swmansion/enriched/common/GumboNormalizer.kt
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputView.kt
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputViewManager.kt
  android/src/main/new_arch/CMakeLists.txt
  android/src/main/new_arch/GumboNormalizerJni.cpp
Due: lint-android, clang-format

chore: update docs
  docs/API_REFERENCE.md
Due: none

chore: cpp tests
  .github/workflows/test-cpp.yml
Due: none

chore: test failing cpp
  cpp/tests/GumboParserTest.cpp
Due: clang-format

chore: revert test change
  cpp/tests/GumboParserTest.cpp
Due: clang-format

chore: do not build apps when not needed
  .github/workflows/ci.yml
Due: none

chore: test ci works
  src/utils/nullthrows.ts
Due: lint, types

chore: revert test change
  src/utils/nullthrows.ts
Due: lint, types

test: added test ids for common controls
  apps/example/src/App.tsx
  apps/example/src/components/Button.tsx
  apps/example/src/components/HtmlSection.tsx
  apps/example/src/components/Toolbar.tsx
  apps/example/src/components/ToolbarButton.tsx
Due: lint

chore: run cpp tests on CI (#443)
  .github/workflows/test-cpp.yml
Due: none

chore: do not build example apps on CI when redundant (#444)
  .github/workflows/ci.yml
Due: none

test: unify ios bundle id with android app Id
  apps/example/ios/EnrichedTextInputExample.xcodeproj/project.pbxproj
Due: none

fix: clang setup
  lefthook.yml
  package.json
Due: none

fix: clang setup (#445)
  lefthook.yml
  package.json
Due: none

feat: android html normalizer (#442)
  android/src/main/java/com/swmansion/enriched/common/GumboNormalizer.kt
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputView.kt
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputViewManager.kt
  android/src/main/new_arch/CMakeLists.txt
  android/src/main/new_arch/GumboNormalizerJni.cpp
  docs/API_REFERENCE.md
Due: lint-android, clang-format

fix: review changes
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputView.kt
  android/src/main/java/com/swmansion/enriched/textinput/styles/ParametrizedStyles.kt
  ios/EnrichedTextInputView.mm
Due: lint-android, clang-format

chore: experiment with web setup
  apps/example-web/src/App.tsx
  apps/example-web/tsconfig.app.json
  apps/example-web/vite.config.ts
  package.json
  src/index.native.tsx
  src/native/EnrichedTextInput.tsx
  src/types.ts
  src/web/EnrichedTextInput.tsx
Due: lint, types

feat: add removeLink method (#441)
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputView.kt
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputViewManager.kt
  android/src/main/java/com/swmansion/enriched/textinput/styles/ParametrizedStyles.kt
  docs/API_REFERENCE.md
  ios/EnrichedTextInputView.mm
  src/EnrichedTextInput.tsx
  src/spec/EnrichedTextInputNativeComponent.ts
Due: lint, types, lint-android, clang-format

chore: resolve conflicts
  android/src/main/java/com/swmansion/enriched/text/spans/EnrichedTextImageSpan.kt
  android/src/main/new_arch/react/renderer/components/ReactNativeEnrichedSpec/conversions.h
Due: lint-android, clang-format

chore: added test screen btn to example app
  apps/example/src/App.tsx
  apps/example/src/components/HtmlSection.tsx
  apps/example/src/components/Toolbar.tsx
Due: lint
