Repository software-mansion/react-native-enriched: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, clang-format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint {staged_files}
    types:
      glob: "*.{js,ts, jsx, tsx}"
      run: npx tsc
    clang-format:
      glob: "*.{h,m,mm,cpp}"
      exclude: "(Pods|build|node_modules)"
      run: clang-format --dry-run --Werror {staged_files}
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

feat: add setSelection method (#311)
  android/src/main/java/com/swmansion/enriched/EnrichedTextInputView.kt
  android/src/main/java/com/swmansion/enriched/EnrichedTextInputViewManager.kt
  docs/API_REFERENCE.md
  ios/EnrichedTextInputView.mm
  src/EnrichedTextInput.tsx
  src/EnrichedTextInputNativeComponent.ts
Due: lint, types, clang-format

chore: update android lint settings
  android/build.gradle
  android/lint.gradle
Due: none

chore: add android linters (#231)
  android/build.gradle
  android/lint.gradle
  package.json
Due: none

chore: add android lint as CI step
  .github/workflows/ci.yml
Due: none

fix: android lint paths
  package.json
Due: none

chore: android lint as pre-commit
  android/src/main/java/com/swmansion/enriched/EnrichedTextInputView.kt
  lefthook.yml
Due: none

chore: test lefthook
  android/src/main/java/com/swmansion/enriched/EnrichedTextInputView.kt
  lefthook.yml
Due: none

chore: test lefthook
  android/src/main/java/com/swmansion/enriched/EnrichedTextInputView.kt
Due: none

chore: fix lefthook android lint
  lefthook.yml
Due: none

chore: change order of lint steps, so it fails faster
  .github/workflows/ci.yml
Due: none

fix: scrolling when height is not provided
  android/src/main/java/com/swmansion/enriched/EnrichedTextInputViewManager.kt
  android/src/main/java/com/swmansion/enriched/MeasurementStore.kt
Due: none

fix: selecting text - recycled android view
  android/src/main/java/com/swmansion/enriched/EnrichedTextInputView.kt
Due: none

feat(iOS): create onChangeStateEvent with isConflicting and is Blocking fields
  apps/example/ios/Podfile.lock
  apps/example/src/App.tsx
  apps/example/src/components/Toolbar.tsx
  apps/example/src/components/ToolbarButton.tsx
  ios/EnrichedTextInputView.mm
  src/EnrichedTextInputNativeComponent.ts
Due: lint, types, clang-format

feat(andorid): create onChangeStateEvent with isConflicting and isBlocking fields
  android/src/main/java/com/swmansion/enriched/EnrichedTextInputViewManager.kt
  android/src/main/java/com/swmansion/enriched/events/OnChangeStateDeprecatedEvent.kt
  android/src/main/java/com/swmansion/enriched/utils/EnrichedSpanState.kt
  apps/example/src/components/Toolbar.tsx
  ios/EnrichedTextInputView.mm
  src/EnrichedTextInput.tsx
Due: lint, clang-format

fix: update readme
  README.md
  docs/API_REFERENCE.md
Due: none

fix: clang
  ios/EnrichedTextInputView.mm
Due: clang-format

feat: proper layout caclulation
  ios/EnrichedTextInputView.h
  ios/EnrichedTextInputView.mm
  ios/inputTextView/InputTextView.h
  ios/inputTextView/InputTextView.mm
  ios/internals/EnrichedTextInputViewShadowNode.h
  ios/internals/EnrichedTextInputViewShadowNode.mm
  ios/internals/EnrichedTextInputViewState.cpp
  ios/internals/EnrichedTextInputViewState.h
  ios/utils/LayoutManagerExtension.mm
Due: clang-format

fix: return mock view
  ios/EnrichedTextInputView.h
  ios/EnrichedTextInputView.mm
  ios/internals/EnrichedTextInputViewShadowNode.h
  ios/internals/EnrichedTextInputViewShadowNode.mm
  ios/internals/EnrichedTextInputViewState.h
Due: clang-format

fix: remove code duplication
  ios/EnrichedTextInputView.mm
Due: clang-format

fix: remove unused ivars
  ios/EnrichedTextInputView.mm
Due: clang-format

feat: use usedRect in layout subviews
  ios/EnrichedTextInputView.h
  ios/EnrichedTextInputView.mm
  ios/inputTextView/InputTextView.mm
Due: clang-format

fix: set _prevSize before making yoga node dirty
  ios/internals/EnrichedTextInputViewShadowNode.mm
Due: clang-format

feat: add heading styles
  android/src/main/java/com/swmansion/enriched/EnrichedTextInputView.kt
  android/src/main/java/com/swmansion/enriched/EnrichedTextInputViewManager.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedH4Span.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedH5Span.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedH6Span.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedSpans.kt
  android/src/main/java/com/swmansion/enriched/styles/HtmlStyle.kt
  android/src/main/java/com/swmansion/enriched/utils/EnrichedParser.java
  android/src/main/java/com/swmansion/enriched/utils/EnrichedSpanState.kt
  apps/example/src/App.tsx
  apps/example/src/components/Toolbar.tsx
  ios/EnrichedTextInputView.mm
  ios/config/InputConfig.h
  ios/config/InputConfig.mm
  ios/inputParser/InputParser.mm
  ios/styles/BoldStyle.mm
  ios/styles/H4Style.mm
  ios/styles/H5Style.mm
  ios/styles/H6Style.mm
  ios/styles/HeadingStyleBase.mm
  ios/utils/StyleHeaders.h
  ios/utils/StyleTypeEnum.h
  src/EnrichedTextInput.tsx
  src/EnrichedTextInputNativeComponent.ts
  src/normalizeHtmlStyle.ts
Due: lint, types, clang-format

fix: rebase with latest main
  android/src/main/java/com/swmansion/enriched/spans/EnrichedH4Span.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedH5Span.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedH6Span.kt
  ios/EnrichedTextInputView.mm
  ios/inputParser/InputParser.mm
  ios/styles/BoldStyle.mm
  ios/styles/H4Style.mm
  ios/styles/H5Style.mm
  ios/styles/H6Style.mm
  ios/utils/StyleHeaders.h
Due: clang-format

fix: android lint
  android/src/main/java/com/swmansion/enriched/EnrichedTextInputView.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedH4Span.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedH5Span.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedH6Span.kt
  android/src/main/java/com/swmansion/enriched/spans/EnrichedSpans.kt
  android/src/main/java/com/swmansion/enriched/utils/EnrichedParser.java
  android/src/main/java/com/swmansion/enriched/utils/EnrichedSpanState.kt
Due: none

feat: do not emit text when onChangeText is not set
  android/src/main/java/com/swmansion/enriched/EnrichedTextInputView.kt
  android/src/main/java/com/swmansion/enriched/EnrichedTextInputViewManager.kt
  android/src/main/java/com/swmansion/enriched/watchers/EnrichedTextWatcher.kt
  ios/EnrichedTextInputView.mm
  src/EnrichedTextInput.tsx
  src/EnrichedTextInputNativeComponent.ts
Due: lint, types, clang-format

fix: avoid double text copy in selection change
  ios/EnrichedTextInputView.mm
Due: clang-format

feat: improve new lines handling performance in inline code styles
  ios/styles/InlineCodeStyle.mm
Due: clang-format

Update ios/inputParser/InputParser.mm
  ios/inputParser/InputParser.mm
Due: clang-format

fix: formatting
  ios/inputParser/InputParser.mm
Due: clang-format

chore: avoid double text copy in selection change - iOS (#349)
  ios/EnrichedTextInputView.mm
Due: clang-format

chore: update docs
  docs/API_REFERENCE.md
Due: none

fix: handle html style update - android
  android/src/main/java/com/swmansion/enriched/styles/HtmlStyle.kt
Due: none

chore: update heading docs
  README.md
  docs/API_REFERENCE.md
Due: none

fix: font scalling when changing font size from system settings
  apps/example/ios/Podfile.lock
  ios/EnrichedTextInputView.mm
  ios/styles/H1Style.mm
  ios/styles/H2Style.mm
  ios/styles/H3Style.mm
  ios/styles/HeadingStyleBase.mm
  ios/utils/StyleHeaders.h
Due: clang-format

fix: detecting heading
  ios/styles/HeadingStyleBase.mm
Due: clang-format

fix: selecting text - recycled android view (#343)
  android/src/main/java/com/swmansion/enriched/EnrichedTextInputView.kt
Due: none

fix: iOS missing/wrongly deleted code
  ios/EnrichedTextInputView.mm
  ios/inputParser/InputParser.mm
  ios/styles/H4Style.mm
  ios/styles/H5Style.mm
  ios/styles/H6Style.mm
Due: clang-format
