Repository software-mansion/react-native-enriched: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, lint-android, clang-format

lint:
  run: npx eslint {staged_files}

types:
  run: npx tsc

lint-android:
  run: cd apps/example/android && ./gradlew lintVerify

clang-format:
  run: npx clang-format -i {staged_files} && git add {staged_files}

feat: add support for pasting images (#384)
  README.md
  android/src/main/java/com/swmansion/enriched/common/AsyncDrawable.kt
  android/src/main/java/com/swmansion/enriched/common/spans/EnrichedImageSpan.kt
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputView.kt
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputViewManager.kt
  android/src/main/java/com/swmansion/enriched/textinput/events/OnPasteImagesEvent.kt
  android/src/main/java/com/swmansion/enriched/textinput/spans/EnrichedInputImageSpan.kt
  android/src/main/java/com/swmansion/enriched/textinput/utils/RichContentReceiver.kt
  apps/example/src/App.tsx
  apps/example/src/utils/prepareImageDimensions.ts
  docs/API_REFERENCE.md
  ios/EnrichedTextInputView.h
  ios/EnrichedTextInputView.mm
  ios/extensions/ImageExtension.h
  ios/extensions/ImageExtension.mm
  ios/inputTextView/InputTextView.mm
  ios/interfaces/ImageAttachment.h
  ios/interfaces/ImageAttachment.mm
  src/EnrichedTextInput.tsx
  src/index.tsx
  src/spec/EnrichedTextInputNativeComponent.ts
Due: lint, types, lint-android, clang-format

chore: rn 0.84
  .nvmrc
  README.md
  apps/example/android/app/build.gradle
  apps/example/ios/EnrichedTextInputExample.xcodeproj/project.pbxproj
  apps/example/ios/Podfile.lock
  apps/example/metro.config.js
  apps/example/package.json
  package.json
  yarn.lock
Due: lint, types, lint-android

chore: RN 0.84 (#414)
  .nvmrc
  README.md
  apps/example/android/app/build.gradle
  apps/example/ios/EnrichedTextInputExample.xcodeproj/project.pbxproj
  apps/example/ios/Podfile.lock
  apps/example/metro.config.js
  apps/example/package.json
  package.json
  yarn.lock
Due: lint, types, lint-android

feat: setup for scrolling bug repro
  apps/example/babel.config.js
  apps/example/ios/Podfile.lock
  apps/example/package.json
  apps/example/src/App.tsx
  yarn.lock
Due: lint, types

fix: revert "fix(iOS): proper layout calculation #339"
  apps/example/ios/Podfile.lock
  ios/EnrichedTextInputView.h
  ios/EnrichedTextInputView.mm
  ios/inputTextView/InputTextView.h
  ios/inputTextView/InputTextView.mm
  ios/internals/EnrichedTextInputViewShadowNode.h
  ios/internals/EnrichedTextInputViewShadowNode.mm
  ios/internals/EnrichedTextInputViewState.cpp
  ios/internals/EnrichedTextInputViewState.h
Due: clang-format

fix: revert "fix(iOS): proper layout calculation #339" (#417)
  apps/example/ios/Podfile.lock
  ios/EnrichedTextInputView.h
  ios/EnrichedTextInputView.mm
  ios/inputTextView/InputTextView.h
  ios/inputTextView/InputTextView.mm
  ios/internals/EnrichedTextInputViewShadowNode.h
  ios/internals/EnrichedTextInputViewShadowNode.mm
  ios/internals/EnrichedTextInputViewState.cpp
  ios/internals/EnrichedTextInputViewState.h
Due: clang-format

chore: release 0.4.0
  README.md
  apps/example/ios/Podfile.lock
  package.json
Due: none

chore: update podfile lock
  apps/example/ios/Podfile.lock
Due: none

chore: release 0.4.0 (#415)
  README.md
  apps/example/ios/Podfile.lock
  package.json
Due: none

feat(iOS): add support for lineHeight
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputViewManager.kt
  docs/API_REFERENCE.md
  ios/EnrichedTextInputView.mm
  ios/config/InputConfig.h
  ios/config/InputConfig.mm
  ios/extensions/LayoutManagerExtension.mm
  src/spec/EnrichedTextInputNativeComponent.ts
Due: lint, types, lint-android, clang-format

fix: block extending link styles
  ios/EnrichedTextInputView.mm
Due: clang-format

feat(iOS): add support for context menu items
  README.md
  docs/API_REFERENCE.md
  ios/EnrichedTextInputView.mm
  src/EnrichedTextInput.tsx
  src/spec/EnrichedTextInputNativeComponent.ts
Due: lint, types, clang-format

fix(iOS): drawing image in proper place
  ios/interfaces/ImageAttachment.mm
Due: clang-format

fix: merging and splitting paragraph styles - android
  android/src/main/java/com/swmansion/enriched/textinput/styles/ParagraphStyles.kt
  apps/example/src/App.tsx
Due: lint, lint-android

fix(iOS): drawing image in proper place (#424)
  ios/interfaces/ImageAttachment.mm
Due: clang-format

fix(iOS): prevent extending link styles (#421)
  ios/EnrichedTextInputView.mm
Due: clang-format

fix(android): merging and splitting paragraph styles (#428)
  android/src/main/java/com/swmansion/enriched/textinput/styles/ParagraphStyles.kt
  apps/example/src/App.tsx
Due: lint, lint-android

fix: removing paragraph styles
  android/src/main/java/com/swmansion/enriched/textinput/styles/ParagraphStyles.kt
Due: lint-android

fix: lineHeight prop
  ios/EnrichedTextInputView.mm
  ios/extensions/LayoutManagerExtension.mm
Due: clang-format

fix(Android): removing paragraph styles (#430)
  android/src/main/java/com/swmansion/enriched/textinput/styles/ParagraphStyles.kt
Due: lint-android

feat: lineHeight android
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputView.kt
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputViewManager.kt
  android/src/main/java/com/swmansion/enriched/textinput/MeasurementStore.kt
  android/src/main/java/com/swmansion/enriched/textinput/spans/EnrichedLineHeightSpan.kt
  android/src/main/new_arch/react/renderer/components/ReactNativeEnrichedSpec/conversions.h
  docs/API_REFERENCE.md
Due: lint-android, clang-format

fix: updating line height in runtime
  android/src/main/java/com/swmansion/enriched/textinput/spans/EnrichedLineHeightSpan.kt
Due: lint-android

chore: release 0.4.1
  apps/example/ios/Podfile.lock
  package.json
Due: none

chore: release 0.4.1 (#432)
  apps/example/ios/Podfile.lock
  package.json
Due: none

feat: wip android context menu items
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputView.kt
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputViewManager.kt
  android/src/main/java/com/swmansion/enriched/textinput/events/OnContextMenuItemPressEvent.kt
Due: lint-android

feat: normalizing html
  ReactNativeEnriched.podspec
  apps/example/ios/Podfile.lock
  cpp/CMakeLists.txt
  cpp/README.md
  cpp/lexbor/lexbor.h
  cpp/parser/LexborParser.cpp
  cpp/parser/LexborParser.hpp
  cpp/parser/lexbor_normalizer.c
  cpp/tests/LexborParserTest.cpp
  ios/inputParser/InputParser.mm
  scripts/setup-lexbor.sh
Due: clang-format

fix: add more test cases
  cpp/README.md
  cpp/parser/lexbor_normalizer.c
  cpp/tests/LexborParserTest.cpp
Due: clang-format

fix: add useHtmlNormalizer prop
  ios/EnrichedTextInputView.h
  ios/EnrichedTextInputView.mm
  ios/inputParser/InputParser.mm
  src/EnrichedTextInput.tsx
  src/spec/EnrichedTextInputNativeComponent.ts
Due: lint, types, clang-format

fix: use gumbo parser
  ReactNativeEnriched.podspec
  apps/example/ios/Podfile.lock
  apps/example/src/App.tsx
  cpp/CMakeLists.txt
  cpp/README.md
  cpp/gumbo-parser/gumpo-parser.h
  cpp/lexbor/lexbor.h
  cpp/parser/GumboParser.cpp
  cpp/parser/GumboParser.hpp
  cpp/parser/gumbo_normalizer.c
  cpp/tests/GumboParserTest.cpp
  cpp/tests/LexborParserTest.cpp
  ios/inputParser/InputParser.mm
  scripts/setup-lexbor.sh
Due: lint, clang-format

fix: comment
  src/EnrichedTextInput.tsx
Due: lint

fix: make useHtmlNormalizer as no-op on Android
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputViewManager.kt
Due: lint-android

fix: update readme
  docs/API_REFERENCE.md
Due: none

fix: update podfile
  apps/example/ios/Podfile.lock
Due: none

fix: clang
  ios/inputParser/InputParser.mm
Due: clang-format

fix: apply lineHeight to whole text content
  ios/EnrichedTextInputView.mm
Due: clang-format

Update src/EnrichedTextInput.tsx
  src/EnrichedTextInput.tsx
Due: lint

chore: update readme banner
  README.md
Due: none

chore: update readme banner (#437)
  README.md
Due: none

feat(iOS): add support for lineHeight (#420)
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputViewManager.kt
  docs/API_REFERENCE.md
  ios/EnrichedTextInputView.mm
  ios/config/InputConfig.h
  ios/config/InputConfig.mm
  ios/extensions/LayoutManagerExtension.mm
  src/spec/EnrichedTextInputNativeComponent.ts
Due: lint, types, lint-android, clang-format

fix: code review fixes
  docs/API_REFERENCE.md
  ios/EnrichedTextInputView.mm
  src/EnrichedTextInput.tsx
  src/spec/EnrichedTextInputNativeComponent.ts
Due: lint, types, clang-format

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts, jsx, tsx}
  lint-android: any of: **/*.{kt,kts,java,gradle}
  clang-format: any of: *.{h,m,mm,cpp}, but not: (Pods|build|node_modules)
