Repository software-mansion/react-native-enriched: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, lint-android, clang-format

lint:
  run: npx eslint {staged_files}

types:
  run: npx tsc

lint-android:
  run: cd apps/example/android && ./gradlew lintVerify

clang-format:
  run: npx clang-format -i {staged_files} && git add {staged_files}

chore: add @tiptap/extension-list dependency
  package.json
  yarn.lock
Due: none

feat: custom list keyboard bindings
  src/web/formats/listKeyboard.ts
  src/web/formats/wrappedBlockKeyboard.ts
Due: lint, types

feat: ordered and unordered nodes
  src/web/EnrichedTextInput.tsx
  src/web/formats/EnrichedListItem.ts
  src/web/formats/EnrichedOrderedList.ts
  src/web/formats/EnrichedUnorderedList.ts
  src/web/formats/formatRules.ts
  src/web/pmPlugins/mergeAdjacentSameKindBlocksPlugin.ts
  src/web/useOnChangeState.ts
Due: lint, types

feat: toolbar btns for bullet and numbered lists
  apps/example-web/src/components/Toolbar.tsx
  apps/example/src/components/Toolbar.tsx
  apps/example/src/constants/editorConfig.ts
  src/web/tiptapHtmlNormalizer.ts
Due: lint, types

feat: handle htmlStyle for lists
  apps/example-web/src/defaultHtmlStyle.ts
  src/web/EnrichedTextInput.css
  src/web/styleConversion/htmlStyleToCSSVariables.ts
Due: lint, types

test: added tests for lists
  .playwright/screenshots/list-keyboard-backspace-after-lift-bullet.png
  .playwright/screenshots/list-keyboard-backspace-after-lift-ordered.png
  .playwright/screenshots/list-keyboard-backspace-after-merge-bullet.png
  .playwright/screenshots/list-keyboard-backspace-after-merge-ordered.png
  .playwright/screenshots/list-keyboard-enter-bullet.png
  .playwright/screenshots/list-keyboard-enter-ordered.png
  .playwright/screenshots/list-nested-html-ol-in-ul.png
  .playwright/screenshots/list-nested-html-ul-in-ol.png
  .playwright/screenshots/list-nested-html-ul-in-ul.png
  .playwright/screenshots/paragraph-styles-visual-ordered-list.png
  .playwright/screenshots/paragraph-styles-visual-unordered-list.png
  .playwright/tests/conflictingBlockStyles.spec.ts
  .playwright/tests/listKeyboard.spec.ts
  .playwright/tests/listNestedHtml.spec.ts
  .playwright/tests/paragraphStylesVisual.spec.ts
Due: lint, types

refactor: refactor list tests
  .playwright/tests/conflictingBlockStyles.spec.ts
  .playwright/tests/listKeyboard.spec.ts
  .playwright/tests/listNestedHtml.spec.ts
  apps/example/src/components/Toolbar.tsx
  apps/example/src/constants/editorConfig.ts
  src/web/formats/EnrichedListItem.ts
  src/web/formats/EnrichedOrderedList.ts
  src/web/formats/EnrichedUnorderedList.ts
Due: lint, types

fix: fixed toggling lists with multiline selection
  src/web/formats/EnrichedOrderedList.ts
  src/web/formats/EnrichedUnorderedList.ts
  src/web/formats/applyWrappingListToSelection.ts
  src/web/formats/formatRules.ts
Due: lint, types

fix: fixed transaction errors from ProseMirror
  src/web/formats/EnrichedBlockquote.ts
  src/web/formats/EnrichedCodeBlock.ts
  src/web/formats/EnrichedHeading.ts
  src/web/formats/EnrichedOrderedList.ts
  src/web/formats/EnrichedUnorderedList.ts
  src/web/formats/applyWrappingListToSelection.ts
  src/web/formats/formatRules.ts
Due: lint, types

fix: fixed selection disappearing
  apps/example-web/src/components/Toolbar.tsx
  src/web/formats/EnrichedOrderedList.ts
  src/web/formats/EnrichedUnorderedList.ts
  src/web/formats/applyWrappingListToSelection.ts
Due: lint, types

fix(android): ellipsize in EnrichedTextView
  android/src/main/java/com/swmansion/enriched/text/EnrichedTextMovementMethod.kt
  android/src/main/java/com/swmansion/enriched/text/EnrichedTextView.kt
  android/src/main/java/com/swmansion/enriched/text/spans/EnrichedTextImageSpan.kt
Due: lint-android

test: add tests for ellipsizeMode
  .maestro/enrichedText/flows/ellipsize_head.yaml
  .maestro/enrichedText/flows/ellipsize_middle.yaml
  .maestro/enrichedText/flows/ellipsize_tail.yaml
  .maestro/enrichedText/flows/paragraph_styles_display.yaml
  .maestro/enrichedText/screenshots/android/ellipsize_head.png
  .maestro/enrichedText/screenshots/android/ellipsize_middle.png
  .maestro/enrichedText/screenshots/android/ellipsize_tail.png
  apps/example/src/screens/EnrichedTextScreen.tsx
Due: lint

fix: use runAsATransaction
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputView.kt
  android/src/main/java/com/swmansion/enriched/textinput/styles/ParametrizedStyles.kt
Due: lint-android

fix: restoring deleted links
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputView.kt
  android/src/main/java/com/swmansion/enriched/textinput/styles/ParametrizedStyles.kt
Due: lint-android

refactor: small improvements
  .playwright/screenshots/list-keyboard-backspace-after-lift-bullet.png
  .playwright/screenshots/list-keyboard-backspace-after-lift-ordered.png
  .playwright/screenshots/list-keyboard-backspace-after-merge-bullet.png
  .playwright/screenshots/list-keyboard-backspace-after-merge-ordered.png
  .playwright/screenshots/list-keyboard-enter-bullet.png
  .playwright/screenshots/list-keyboard-enter-ordered.png
  .playwright/screenshots/list-nested-html-ol-in-ul.png
  .playwright/screenshots/list-nested-html-triple-nested-ul.png
  .playwright/screenshots/list-nested-html-ul-in-ol.png
  .playwright/screenshots/list-nested-html-ul-in-ul.png
  .playwright/screenshots/paragraph-styles-visual-ordered-list.png
  .playwright/screenshots/paragraph-styles-visual-unordered-list.png
  .playwright/tests/conflictingBlockStyles.spec.ts
  .playwright/tests/listKeyboard.spec.ts
  .playwright/tests/listNestedHtml.spec.ts
  src/web/EnrichedTextInput.css
  src/web/styleConversion/__tests__/htmlStyleToCSSVariables.test.ts
  src/web/styleConversion/htmlStyleToCSSVariables.ts
Due: lint, types

test: added test for wrappingListSelection
  .playwright/screenshots/list-wrap-selection-round-trip.png
  .playwright/tests/applyWrappingListSelection.spec.ts
Due: lint, types

test: fix link and mention tests
  .maestro/enrichedText/flows/link_press.yaml
  .maestro/enrichedText/flows/mention_press.yaml
Due: none

chore: small refactor
  .playwright/tests/conflictingBlockStyles.spec.ts
Due: lint, types

fix(iOS): pasting copied screenshots (#558)
  ios/inputTextView/InputTextView.mm
Due: clang-format

chore: better comment in applyWrappingListToSelection
  src/web/formats/applyWrappingListToSelection.ts
Due: lint, types

chore: remove unused type
  src/web/formats/applyWrappingListToSelection.ts
Due: lint, types

chore: tiny fixes
  src/web/EnrichedTextInput.css
  src/web/EnrichedTextInput.tsx
  src/web/formats/EnrichedOrderedList.ts
  src/web/formats/EnrichedUnorderedList.ts
  src/web/tiptapHtmlNormalizer.ts
Due: lint, types

feat: link base implementation
  .playwright/tests/links.spec.ts
  apps/example-web/src/App.tsx
  apps/example-web/src/components/LinkModal.css
  apps/example-web/src/components/LinkModal.tsx
  apps/example-web/src/components/Toolbar.tsx
  apps/example-web/src/testScreens/VisualRegression.tsx
  package.json
  src/web/EnrichedTextInput.css
  src/web/EnrichedTextInput.tsx
  src/web/formats/EnrichedCode.ts
  src/web/formats/EnrichedLink.ts
  src/web/formats/formatRules.ts
  src/web/pmPlugins/strictMarksPlugin.ts
  src/web/styleConversion/__tests__/htmlStyleToCSSVariables.test.ts
  src/web/styleConversion/htmlStyleToCSSVariables.ts
  src/web/useOnChangeState.ts
  yarn.lock
Due: lint, types

feat: added onLinkDetected
  apps/example-web/src/App.tsx
  src/web/EnrichedTextInput.tsx
  src/web/useOnLinkDetected.ts
Due: lint, types

feat: improve setting links in example-web
  apps/example-web/src/App.tsx
Due: lint

fix: review changes
  ios/EnrichedTextInputView.mm
Due: clang-format

refactor: use ETI_CSS_VARS for lists
  src/web/styleConversion/htmlStyleToCSSVariables.ts
Due: lint, types

fix(iOS): formatting stripped when autocorrect applied (#551)
  ios/EnrichedTextInputView.mm
  ios/attributesManager/AttributesManager.h
  ios/attributesManager/AttributesManager.mm
Due: clang-format

feat: add demo
  apps/example/src/App.tsx
  apps/example/src/components/chat/ChatHeader.tsx
  apps/example/src/components/chat/ChatInput.tsx
  apps/example/src/components/chat/ChatMentionPopup.tsx
  apps/example/src/components/chat/ChatToolbar.tsx
  apps/example/src/components/chat/MessageBubble.tsx
  apps/example/src/constants/chatHtmlStyle.ts
  apps/example/src/screens/ChatScreen.tsx
Due: lint, types

test: added tests
  .playwright/screenshots/links-display.png
  .playwright/screenshots/test-links-setlink.png
  .playwright/tests/codeblockInlineStyles.spec.ts
  .playwright/tests/links.spec.ts
  .playwright/tests/testLinks.spec.ts
  apps/example-web/src/RouteSelector.tsx
  apps/example-web/src/defaultHtmlStyle.ts
  apps/example-web/src/testScreens/TestLinks.tsx
Due: lint, types

refactor: cleanup and tiny improvements
  .playwright/tests/codeblockInlineStyles.spec.ts
  .playwright/tests/strictMarks.spec.ts
  .playwright/tests/testLinks.spec.ts
  apps/example-web/src/testScreens/TestLinks.tsx
  src/web/EnrichedTextInput.tsx
  src/web/formats/EnrichedLink.ts
Due: lint, types

fix: fixed useOnChangeState when it comes to links
  src/web/formats/formatRules.ts
  src/web/useOnChangeState.ts
Due: lint, types

fix(iOS): `onLinkDetected` fires multiple times with partial ranges for multi-word links (#555)
  ios/interfaces/LinkData.mm
Due: clang-format

feat(android): Add gumbo parser to enriched text (#552)
  .maestro/enrichedText/flows/external_html_parsing.yaml
  .maestro/enrichedText/screenshots/android/external_html_parsing.png
  android/src/main/java/com/swmansion/enriched/text/EnrichedTextView.kt
Due: lint-android

Update ios/EnrichedTextInputView.h
  ios/EnrichedTextInputView.h
Due: clang-format

Update ios/utils/ZeroWidthSpaceUtils.mm
  ios/utils/ZeroWidthSpaceUtils.mm
Due: clang-format

fix: review changes
  ios/EnrichedTextInputView.h
  ios/EnrichedTextInputView.mm
  ios/EnrichedTextView.mm
  ios/config/EnrichedConfig.h
  ios/config/EnrichedConfig.mm
  ios/inputAttributesManager/InputAttributesManager.h
  ios/inputAttributesManager/InputAttributesManager.mm
  ios/inputHtmlParser/InputHtmlParser.h
  ios/inputHtmlParser/InputHtmlParser.mm
  ios/inputTextView/InputTextView.mm
  ios/interfaces/EnrichedViewHost.h
  ios/styles/CheckboxListStyle.mm
  ios/styles/HeadingStyleBase.mm
  ios/styles/ImageStyle.mm
  ios/styles/LinkStyle.mm
  ios/styles/MentionStyle.mm
  ios/styles/OrderedListStyle.mm
  ios/styles/UnorderedListStyle.mm
  ios/textHtmlParser/TextHtmlParser.h
  ios/textHtmlParser/TextHtmlParser.mm
  ios/utils/AttachmentLayoutUtils.mm
  ios/utils/OccurenceUtils.mm
  ios/utils/ParagraphAttributesUtils.mm
  ios/utils/TextInsertionUtils.h
  ios/utils/TextInsertionUtils.mm
  ios/utils/ZeroWidthSpaceUtils.h
  ios/utils/ZeroWidthSpaceUtils.mm
Due: clang-format

chore: remove useless styles in TestLinks
  apps/example-web/src/testScreens/TestLinks.tsx
Due: lint

fix: add useHtmlNormalizer prop
  apps/example/src/components/TextRenderer.tsx
  apps/example/src/screens/EnrichedTextScreen.tsx
  ios/EnrichedTextView.h
  ios/EnrichedTextView.mm
  ios/textHtmlParser/TextHtmlParser.h
  ios/textHtmlParser/TextHtmlParser.mm
  src/EnrichedText.tsx
  src/spec/EnrichedTextNativeComponent.ts
Due: lint, types, clang-format

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts, jsx, tsx}
  lint-android: any of: **/*.{kt,kts,java,gradle}
  clang-format: any of: *.{h,m,mm,cpp}, but not: (Pods|build|node_modules)
