Repository software-mansion/react-native-enriched: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, lint-android, clang-format

lint:
  run: npx eslint {staged_files}

types:
  run: npx tsc

lint-android:
  run: cd apps/example/android && ./gradlew lintVerify

clang-format:
  run: npx clang-format -i {staged_files} && git add {staged_files}

fix: measureSize when numberOfLines is provided
  ios/EnrichedTextView.mm
Due: clang-format

Update apps/example/src/screens/EnrichedTextScreen.tsx
  apps/example/src/screens/EnrichedTextScreen.tsx
Due: lint

fix: fixed blocking and improved tests
  .playwright/tests/inlineStyles.spec.ts
  .playwright/tests/testLinks.spec.ts
  apps/example-web/src/testScreens/TestLinks.tsx
  src/web/formats/EnrichedLink.ts
  src/web/formats/formatRules.ts
Due: lint, types

chore: move web removeLink to follow-up PR
  .playwright/tests/testLinks.spec.ts
  apps/example-web/src/testScreens/TestLinks.tsx
  src/web/EnrichedTextInput.tsx
  src/web/formats/EnrichedLink.ts
Due: lint, types

fix: review changes part 2
  apps/example/src/components/TextRenderer.tsx
  apps/example/src/constants/editorConfig.ts
  apps/example/src/constants/htmlStyle.ts
  apps/example/src/screens/EnrichedTextScreen.tsx
  ios/textHtmlParser/TextHtmlParser.mm
  ios/utils/EnrichedTextTouchHandler.mm
Due: lint, types, clang-format

fix: e2e screenshot
  .maestro/enrichedText/screenshots/ios/paragraph_styles_display.png
Due: none

fix: fixed onLinkDetected
  .playwright/tests/testLinks.spec.ts
  src/web/useOnLinkDetected.ts
Due: lint, types

chore: updated comment
  src/web/formats/EnrichedLink.ts
Due: lint, types

chore(web): move onLinkDetected to follow-up branch
  .playwright/tests/testLinks.spec.ts
  apps/example-web/src/App.tsx
  apps/example-web/src/components/LinkModal.css
  apps/example-web/src/components/LinkModal.tsx
  apps/example-web/src/components/Toolbar.tsx
  apps/example-web/src/testScreens/TestLinks.tsx
  apps/example-web/src/testScreens/VisualRegression.tsx
  src/web/EnrichedTextInput.tsx
  src/web/useOnLinkDetected.ts
Due: lint, types

feat(example-web): add LinkModal and toolbar link control
  apps/example-web/src/App.tsx
  apps/example-web/src/components/LinkModal.css
  apps/example-web/src/components/LinkModal.tsx
  apps/example-web/src/components/Toolbar.tsx
  apps/example-web/src/testScreens/VisualRegression.tsx
Due: lint

feat(web): onLinkDetected hook, modal, and tests
  .playwright/tests/testLinks.spec.ts
  apps/example-web/src/App.tsx
  apps/example-web/src/testScreens/TestLinks.tsx
  src/web/EnrichedTextInput.tsx
  src/web/useOnLinkDetected.ts
Due: lint, types

test: add run_ellipsize_case subflow
  .maestro/enrichedText/flows/ellipsize_head.yaml
  .maestro/enrichedText/flows/ellipsize_middle.yaml
  .maestro/enrichedText/flows/ellipsize_mode.yaml
  .maestro/enrichedText/flows/ellipsize_tail.yaml
  .maestro/enrichedText/screenshots/android/ellipsize_head_1.png
  .maestro/enrichedText/screenshots/android/ellipsize_head_all.png
  .maestro/enrichedText/screenshots/android/ellipsize_middle_1.png
  .maestro/enrichedText/screenshots/android/ellipsize_middle_all.png
  .maestro/enrichedText/screenshots/android/ellipsize_tail_1.png
  .maestro/enrichedText/screenshots/android/ellipsize_tail_2.png
  .maestro/enrichedText/screenshots/android/ellipsize_tail_all.png
  .maestro/enrichedText/subflows/run_ellipsize_case.yaml
Due: none

feat: add useHtmlNormlaizer prop
  android/src/main/java/com/swmansion/enriched/text/EnrichedTextView.kt
  android/src/main/java/com/swmansion/enriched/text/EnrichedTextViewManager.kt
  apps/example/src/components/TextRenderer.tsx
  apps/example/src/screens/EnrichedTextScreen.tsx
  src/EnrichedText.tsx
  src/spec/EnrichedTextNativeComponent.ts
Due: lint, types, lint-android

fix(android): ellipsizeMode in EnrichedTextView (#559)
  .maestro/enrichedText/flows/ellipsize_mode.yaml
  .maestro/enrichedText/flows/link_press.yaml
  .maestro/enrichedText/flows/mention_press.yaml
  .maestro/enrichedText/flows/paragraph_styles_display.yaml
  .maestro/enrichedText/screenshots/android/ellipsize_head_1.png
  .maestro/enrichedText/screenshots/android/ellipsize_head_all.png
  .maestro/enrichedText/screenshots/android/ellipsize_middle_1.png
  .maestro/enrichedText/screenshots/android/ellipsize_middle_all.png
  .maestro/enrichedText/screenshots/android/ellipsize_tail_1.png
  .maestro/enrichedText/screenshots/android/ellipsize_tail_2.png
  .maestro/enrichedText/screenshots/android/ellipsize_tail_all.png
  .maestro/enrichedText/subflows/run_ellipsize_case.yaml
  android/src/main/java/com/swmansion/enriched/text/EnrichedTextMovementMethod.kt
  android/src/main/java/com/swmansion/enriched/text/EnrichedTextView.kt
  android/src/main/java/com/swmansion/enriched/text/spans/EnrichedTextImageSpan.kt
  apps/example/src/screens/EnrichedTextScreen.tsx
Due: lint, lint-android

fix: eslint
  apps/example/src/screens/EnrichedTextScreen.tsx
Due: lint

fix: code review changes
  android/src/main/java/com/swmansion/enriched/text/EnrichedTextView.kt
Due: lint-android

feat(android): add useHtmlNormalizer prop to Android EnrichedText (#566)
  android/src/main/java/com/swmansion/enriched/text/EnrichedTextView.kt
  android/src/main/java/com/swmansion/enriched/text/EnrichedTextViewManager.kt
  apps/example/src/components/TextRenderer.tsx
  apps/example/src/screens/EnrichedTextScreen.tsx
  src/EnrichedText.tsx
  src/spec/EnrichedTextNativeComponent.ts
Due: lint, types, lint-android

test: update screenshots
  .maestro/enrichedText/flows/ellipsize_mode.yaml
  .maestro/enrichedText/screenshots/android/external_html_parsing.png
  .maestro/enrichedText/screenshots/android/paragraph_styles_display.png
  .maestro/enrichedText/screenshots/ios/ellipsize_head_1.png
  .maestro/enrichedText/screenshots/ios/ellipsize_head_2.png
  .maestro/enrichedText/screenshots/ios/ellipsize_head_all.png
  .maestro/enrichedText/screenshots/ios/ellipsize_middle_1.png
  .maestro/enrichedText/screenshots/ios/ellipsize_middle_2.png
  .maestro/enrichedText/screenshots/ios/ellipsize_middle_all.png
  .maestro/enrichedText/screenshots/ios/ellipsize_tail_1.png
  .maestro/enrichedText/screenshots/ios/ellipsize_tail_2.png
  .maestro/enrichedText/screenshots/ios/ellipsize_tail_all.png
  .maestro/enrichedText/screenshots/ios/external_html_parsing.png
Due: none

feat(android): add copying rich content support to EnrichedText
  android/src/main/java/com/swmansion/enriched/text/EnrichedTextView.kt
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputView.kt
Due: lint-android

fix: toolbar scrolling
  apps/example-web/src/components/Toolbar.css
  apps/example-web/src/components/Toolbar.tsx
  apps/example-web/src/hooks/useDragScroll.ts
Due: lint, types

chore: resolve comments
  apps/example-web/src/components/Toolbar.tsx
  src/web/useOnChangeState.ts
Due: lint, types

fix: address comments
  .playwright/tests/applyWrappingListSelection.spec.ts
  .playwright/tests/listKeyboard.spec.ts
  .playwright/tests/listNestedHtml.spec.ts
  src/web/formats/listKeyboard.ts
Due: lint, types

feat(iOS): add copying rich content support to EnrichedText
  ios/EnrichedTextInputView.mm
  ios/EnrichedTextView.mm
  ios/htmlParser/HtmlParser.h
  ios/htmlParser/HtmlParser.mm
  ios/inputHtmlParser/InputHtmlParser.h
  ios/inputHtmlParser/InputHtmlParser.mm
  ios/inputTextView/InputTextView.mm
  ios/utils/EnrichedTouchableTextView.h
  ios/utils/EnrichedTouchableTextView.mm
Due: clang-format

feat: added 1. and - input rules
  .playwright/tests/inputShortcuts.spec.ts
  src/web/formats/EnrichedOrderedList.ts
  src/web/formats/EnrichedUnorderedList.ts
Due: lint, types

fix: image parsing inside lists
  android/src/main/java/com/swmansion/enriched/common/parser/EnrichedParser.java
Due: lint-android

chore: rename bullet to unordered
  src/web/EnrichedTextInput.tsx
  src/web/formats/EnrichedListItem.ts
  src/web/formats/EnrichedUnorderedList.ts
  src/web/formats/formatRules.ts
  src/web/pmPlugins/mergeAdjacentSameKindBlocksPlugin.ts
  src/web/useOnChangeState.ts
Due: lint, types

test: add e2e test for image parsing
  .maestro/enrichedInput/flows/image_inside_list_parsing.yaml
  .maestro/enrichedInput/screenshots/android/image_inside_list_parsing.png
  .maestro/enrichedInput/screenshots/ios/image_inside_list_parsing.png
Due: none

fix: make link excludes another link
  src/web/formats/EnrichedLink.ts
Due: lint, types

fix: fixed conflicting/blocking styles for inline code
  .maestro/enrichedInput/flows/inline_code_blocking_styles.yaml
  android/src/main/java/com/swmansion/enriched/textinput/spans/EnrichedSpans.kt
  ios/utils/StyleUtils.mm
Due: lint-android, clang-format

chore: resolve comment
  src/web/pmPlugins/strictMarksPlugin.ts
Due: lint, types

feat(web): links (#561)
  .playwright/screenshots/links-display.png
  .playwright/screenshots/test-links-setlink.png
  .playwright/tests/codeblockInlineStyles.spec.ts
  .playwright/tests/inlineStyles.spec.ts
  .playwright/tests/strictMarks.spec.ts
  .playwright/tests/testLinks.spec.ts
  apps/example-web/src/App.tsx
  apps/example-web/src/RouteSelector.tsx
  apps/example-web/src/components/LinkModal.css
  apps/example-web/src/components/LinkModal.tsx
  apps/example-web/src/components/Toolbar.tsx
  apps/example-web/src/defaultHtmlStyle.ts
  apps/example-web/src/testScreens/TestLinks.tsx
  apps/example-web/src/testScreens/VisualRegression.tsx
  package.json
  src/web/EnrichedTextInput.css
  src/web/EnrichedTextInput.tsx
  src/web/formats/EnrichedCode.ts
  src/web/formats/EnrichedLink.ts
  src/web/formats/formatRules.ts
  src/web/pmPlugins/strictMarksPlugin.ts
  src/web/styleConversion/__tests__/htmlStyleToCSSVariables.test.ts
  src/web/styleConversion/htmlStyleToCSSVariables.ts
  src/web/useOnChangeState.ts
  yarn.lock
Due: lint, types

fix(android): image parsing inside lists (#569)
  .maestro/enrichedInput/flows/image_inside_list_parsing.yaml
  .maestro/enrichedInput/screenshots/android/image_inside_list_parsing.png
  .maestro/enrichedInput/screenshots/ios/image_inside_list_parsing.png
  android/src/main/java/com/swmansion/enriched/common/parser/EnrichedParser.java
Due: lint-android

fix: separate CLIPBOARD_TAG
  android/src/main/java/com/swmansion/enriched/common/EnrichedConstants.kt
  android/src/main/java/com/swmansion/enriched/text/EnrichedTextView.kt
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputView.kt
Due: lint-android

feat(android): add copy text as rich content to EnrichedText (#567)
  android/src/main/java/com/swmansion/enriched/common/EnrichedConstants.kt
  android/src/main/java/com/swmansion/enriched/text/EnrichedTextView.kt
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputView.kt
Due: lint-android

feat(web): add removeLink imperative + tests
  .playwright/tests/testLinks.spec.ts
  apps/example-web/src/testScreens/TestLinks.tsx
  src/web/EnrichedTextInput.tsx
  src/web/formats/EnrichedLink.ts
  src/web/useOnLinkDetected.ts
Due: lint, types

fix: cleanup
  .playwright/tests/testLinks.spec.ts
  apps/example-web/src/testScreens/TestLinks.tsx
  src/web/EnrichedTextInput.tsx
  src/web/useOnLinkDetected.ts
Due: lint, types

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts, jsx, tsx}
  lint-android: any of: **/*.{kt,kts,java,gradle}
  clang-format: any of: *.{h,m,mm,cpp}, but not: (Pods|build|node_modules)
