Repository software-mansion/react-native-enriched: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, lint-android, clang-format

lint:
  run: npx eslint {staged_files}

types:
  run: npx tsc

lint-android:
  run: cd apps/example/android && ./gradlew lintVerify

clang-format:
  run: npx clang-format -i {staged_files} && git add {staged_files}

feat: add autoCorrect and spellCheck props
  ios/EnrichedTextInputView.mm
  src/native/EnrichedTextInput.tsx
  src/spec/EnrichedTextInputNativeComponent.ts
  src/types.ts
Due: lint, types, clang-format

feat: add image.verticalAlign option to htmlStyle
  ios/EnrichedTextInputView.mm
  ios/config/InputConfig.h
  ios/config/InputConfig.mm
  ios/interfaces/ImageAttachment.mm
  src/spec/EnrichedTextInputNativeComponent.ts
  src/types.ts
  src/utils/normalizeHtmlStyle.ts
Due: lint, types, clang-format

refactor: rename GIF-specific method names to be format-agnostic
  ios/extensions/ImageExtension.h
  ios/extensions/ImageExtension.mm
  ios/interfaces/ImageAttachment.mm
Due: clang-format

feat(example-web): format output html
  apps/example-web/package.json
  apps/example-web/src/components/HtmlOutputPanel.tsx
Due: lint

Correct animated WebP frame timing on iOS (#509)
  ios/extensions/ImageExtension.h
  ios/extensions/ImageExtension.mm
  ios/interfaces/ImageAttachment.mm
Due: clang-format

feat: added inline styles
  apps/example-web/src/App.tsx
  apps/example-web/src/components/EditorActions.css
  apps/example-web/src/components/Toolbar.css
  apps/example-web/src/components/Toolbar.tsx
  package.json
  src/web/EnrichedBold.ts
  src/web/EnrichedCode.ts
  src/web/EnrichedItalic.ts
  src/web/EnrichedStrike.ts
  src/web/EnrichedTextInput.css
  src/web/EnrichedTextInput.tsx
  src/web/EnrichedUnderline.ts
  src/web/useOnChangeState.ts
Due: lint, types

refactor: move formats into web/formats
  src/web/EnrichedTextInput.tsx
  src/web/formats/EnrichedBold.ts
  src/web/formats/EnrichedCode.ts
  src/web/formats/EnrichedItalic.ts
  src/web/formats/EnrichedStrike.ts
  src/web/formats/EnrichedUnderline.ts
Due: lint, types

Update ios/extensions/LayoutManagerExtension.mm
  ios/extensions/LayoutManagerExtension.mm
Due: clang-format

fix(iOS): preserve image orientation
  ios/extensions/ImageExtension.mm
Due: clang-format

fix(iOS): memory leak caused by retain cycle in layout manager and input parser (#513)
  ios/extensions/LayoutManagerExtension.mm
  ios/inputParser/InputParser.mm
  ios/utils/WeakBox.h
  ios/utils/WeakBox.m
Due: clang-format

fix(iOS): preserve image orientation (#521)
  ios/extensions/ImageExtension.mm
Due: clang-format

feat: added htmlStyle handling for code
  apps/example-web/src/App.tsx
  src/web/EnrichedTextInput.css
  src/web/EnrichedTextInput.tsx
  src/web/styleConversion/__tests__/enrichedInputStyleToCSSProperties.test.ts
  src/web/styleConversion/__tests__/htmlStyleToCSSVariables.test.ts
  src/web/styleConversion/enrichedInputStyleToCSSProperties.ts
  src/web/styleConversion/htmlStyleToCSSVariables.ts
  src/web/styleConversion/toColor.ts
  tsconfig.json
Due: lint, types

feat: make default html style consistent with native
  src/utils/defaultHtmlStyle.ts
  src/utils/normalizeHtmlStyle.ts
  src/web/EnrichedTextInput.tsx
  src/web/styleConversion/__tests__/htmlStyleToCSSVariables.test.ts
  src/web/styleConversion/htmlStyleToCSSVariables.ts
Due: lint, types

test: added test to inline styles
  .playwright/playwright.config.ts
  .playwright/screenshots/inline-styles.png
  .playwright/scripts/run-tests.sh
  .playwright/tests/inlineStyles.spec.ts
  apps/example-web/src/RouteSelector.tsx
  apps/example-web/src/testScreens/VisualRegressionScreen.tsx
  package.json
Due: lint, types

fix: tiny fixes
  .playwright/tests/inlineStyles.spec.ts
  apps/example-web/src/components/Toolbar.css
  apps/example-web/src/components/Toolbar.tsx
  src/web/formats/EnrichedCode.ts
Due: lint, types

fix: push yarn.lock
  yarn.lock
Due: none

refactor(example-web): simplified toolbar
  apps/example-web/src/App.tsx
  apps/example-web/src/components/Toolbar.tsx
  apps/example-web/src/testScreens/VisualRegressionScreen.tsx
Due: lint

fix: resolve comments
  apps/example-web/src/RouteSelector.tsx
  apps/example-web/src/components/Toolbar.tsx
  apps/example-web/src/testScreens/VisualRegression.tsx
  src/web/useOnChangeState.ts
Due: lint, types

feat: add EnrichedStyleHost
  ios/EnrichedTextInputView.h
  ios/EnrichedTextInputView.mm
  ios/extensions/LayoutManagerExtension.mm
  ios/htmlParser/HtmlParser.h
  ios/htmlParser/HtmlParser.mm
  ios/inputParser/InputParser.mm
  ios/interfaces/BaseStyleProtocol.h
  ios/interfaces/StyleBase.h
  ios/interfaces/StyleBase.mm
  ios/interfaces/StyleHeaders.h
  ios/styles/BlockQuoteStyle.mm
  ios/styles/BoldStyle.mm
  ios/styles/CheckboxListStyle.mm
  ios/styles/CodeBlockStyle.mm
  ios/styles/H1Style.mm
  ios/styles/H2Style.mm
  ios/styles/H3Style.mm
  ios/styles/H4Style.mm
  ios/styles/H5Style.mm
  ios/styles/H6Style.mm
  ios/styles/HeadingStyleBase.mm
  ios/styles/ImageStyle.mm
  ios/styles/InlineCodeStyle.mm
  ios/styles/ItalicStyle.mm
  ios/styles/LinkStyle.mm
  ios/styles/MentionStyle.mm
  ios/styles/OrderedListStyle.mm
  ios/styles/StrikethroughStyle.mm
  ios/styles/UnderlineStyle.mm
  ios/styles/UnorderedListStyle.mm
  ios/utils/AttachmentLayoutUtils.h
  ios/utils/AttachmentLayoutUtils.mm
  ios/utils/OccurenceUtils.h
  ios/utils/OccurenceUtils.mm
Due: clang-format

fix: error description
  ios/inputParser/InputParser.mm
Due: clang-format

fix(iOS): add error handling in html parsing (#508)
  ios/inputParser/InputParser.mm
Due: clang-format

fix: handling of zero-width space (ZWS) offset inside parser (#500)
  ios/inputParser/InputParser.mm
Due: clang-format

test: added test for PR #500
  .maestro/flows/codeblock_br_preservation.yaml
  .maestro/screenshots/ios/codeblock_br_preservation.png
Due: none

test: add test for PR #500 (#523)
  .maestro/flows/codeblock_br_preservation.yaml
  .maestro/screenshots/ios/codeblock_br_preservation.png
Due: none

feat: add EnrichedText shadow nodes
  ios/internals/EnrichedTextComponentDescriptor.h
  ios/internals/EnrichedTextViewShadowNode.h
  ios/internals/EnrichedTextViewShadowNode.mm
  ios/internals/EnrichedTextViewState.cpp
  ios/internals/EnrichedTextViewState.h
Due: clang-format

fix: added strict marks to make marks compatible with native
  .playwright/tests/strictMarks.spec.ts
  apps/example-web/src/components/Toolbar.tsx
  src/web/EnrichedTextInput.tsx
  src/web/StrictMarksPlugin.ts
Due: lint, types

fix: fixed inline code cursor placement on safari
  src/web/EnrichedTextInput.css
Due: none

chore: upgrade RN 0.85
  README.md
  apps/example/Gemfile
  apps/example/Gemfile.lock
  apps/example/android/gradle/wrapper/gradle-wrapper.jar
  apps/example/android/gradle/wrapper/gradle-wrapper.properties
  apps/example/android/gradlew
  apps/example/android/gradlew.bat
  apps/example/ios/Podfile.lock
  apps/example/jest.config.js
  apps/example/package.json
  yarn.lock
Due: lint, types

chore: clean script
  package.json
  scripts/git-clean.sh
Due: none

feat: add maxLength support to enriched input
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputView.kt
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputViewManager.kt
  android/src/main/java/com/swmansion/enriched/textinput/events/OnMaxLengthExceededEvent.kt
  ios/EnrichedTextInputView.h
  ios/EnrichedTextInputView.mm
  src/index.tsx
  src/native/EnrichedTextInput.tsx
  src/spec/EnrichedTextInputNativeComponent.ts
  src/types.ts
Due: lint, types, lint-android, clang-format

chore: upgrade example app - RN 0.85 (#525)
  README.md
  apps/example/Gemfile
  apps/example/Gemfile.lock
  apps/example/android/gradle/wrapper/gradle-wrapper.jar
  apps/example/android/gradle/wrapper/gradle-wrapper.properties
  apps/example/android/gradlew
  apps/example/android/gradlew.bat
  apps/example/ios/Podfile.lock
  apps/example/jest.config.js
  apps/example/package.json
  yarn.lock
Due: lint, types

fix: turn off default tiptap input rules and shortcuts
  src/web/formats/EnrichedBold.ts
  src/web/formats/EnrichedCode.ts
  src/web/formats/EnrichedItalic.ts
  src/web/formats/EnrichedStrike.ts
  src/web/formats/EnrichedUnderline.ts
Due: lint, types

chore: release: 0.6.0
  apps/example/ios/Podfile.lock
  package.json
Due: none

chore: release 0.6.0 (#528)
  apps/example/ios/Podfile.lock
  package.json
Due: none

docs: update release guide docs
  CONTRIBUTING.md
  docs/RELEASE.md
Due: none

Update docs/RELEASE.md
  docs/RELEASE.md
Due: none

fix: remove 6-8 points
  docs/RELEASE.md
Due: none

docs: update release guide docs (#531)
  CONTRIBUTING.md
  docs/RELEASE.md
Due: none

chore: clean script (#526)
  package.json
  scripts/git-clean.sh
Due: none

fix: fixed strict marks
  .playwright/screenshots/inline-styles.png
  .playwright/tests/strictMarks.spec.ts
  src/web/StrictMarksPlugin.ts
Due: lint, types

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts, jsx, tsx}
  lint-android: any of: **/*.{kt,kts,java,gradle}
  clang-format: any of: *.{h,m,mm,cpp}, but not: (Pods|build|node_modules)
