Repository software-mansion/react-native-enriched: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, lint-android, clang-format

lint:
  run: npx eslint {staged_files}

types:
  run: npx tsc

lint-android:
  run: cd apps/example/android && ./gradlew lintVerify

clang-format:
  run: npx clang-format -i {staged_files} && git add {staged_files}

fix: remove empty ol,ul elements
  ios/inputParser/InputParser.mm
Due: clang-format

fix: update comments
  ios/inputParser/InputParser.mm
Due: clang-format

fix: clang
  ios/inputParser/InputParser.mm
Due: clang-format

fix: checkboxes
  .maestro/flows/empty_html_block_parsing.yaml
  ios/inputParser/InputParser.mm
Due: clang-format

fix: use getType
  ios/inputParser/InputParser.mm
Due: clang-format

feat: added EnrichedInputStyle
  src/index.tsx
  src/index.web.tsx
  src/types.ts
Due: lint, types

fix(iOS): empty html blocks parsing (#504)
  .maestro/flows/empty_html_block_parsing.yaml
  .maestro/screenshots/android/empty_html_block_parsing.png
  .maestro/screenshots/ios/empty_html_block_parsing.png
  ios/inputParser/InputParser.mm
Due: clang-format

docs: add supported tags, conflicting/blocking logic
  README.md
Due: none

docs: move supported tags section above non parametrized styles
  README.md
Due: none

fix(iOS): add error handling in html parsing
  ios/inputParser/InputParser.mm
Due: clang-format

fix: refactor inserting value
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputView.kt
  ios/EnrichedTextInputView.mm
Due: lint-android, clang-format

feat: added comments specifying platforms
  src/types.ts
Due: lint, types

feat: added explicit platform comments
  src/types.ts
Due: lint, types

chore: clean the style type
  src/types.ts
Due: lint, types

feat: use EnrichedInputStyle on web
  src/index.tsx
  src/index.web.tsx
  src/types.ts
  src/web/EnrichedTextInput.tsx
Due: lint, types

test: wrote tests for the converter
  src/web/__tests__/enrichedInputStyleToCSSProperties.test.ts
  src/web/enrichedInputStyleToCSSProperties.ts
Due: lint, types

Update README.md
  README.md
Due: none

fix: correct animated WebP frame timing on iOS
  ios/extensions/ImageExtension.mm
Due: clang-format

feat: implemented TextStyle -> CSSProperties converter
  src/web/__tests__/enrichedInputStyleToCSSProperties.test.ts
  src/web/enrichedInputStyleToCSSProperties.ts
Due: lint, types

fix: fixed border styling on web
  src/web/__tests__/enrichedInputStyleToCSSProperties.test.ts
  src/web/enrichedInputStyleToCSSProperties.ts
Due: lint, types

fix: fixed type of some EnrichedInputStyles
  src/types.ts
Due: lint, types

feat: use EnrichedInputStyle in example app
  src/web/EnrichedTextInput.css
  src/web/EnrichedTextInput.tsx
Due: lint

chore: update tsconfigs
  apps/example-web/src/App.tsx
  apps/example/tsconfig.json
  lefthook.yml
  package.json
Due: lint

fix: tiny improvements
  src/types.ts
  src/web/__tests__/enrichedInputStyleToCSSProperties.test.ts
  src/web/enrichedInputStyleToCSSProperties.ts
Due: lint, types

fix: update comment
  src/web/enrichedInputStyleToCSSProperties.ts
Due: lint, types

fix: readme
  README.md
Due: none

fix: add heading, bold block
  README.md
Due: none

docs: update header and restore explanatory comment
  ios/extensions/ImageExtension.h
  ios/extensions/ImageExtension.mm
Due: clang-format

docs: add supported tags, conflicting/blocking logic (#507)
  README.md
Due: none

refactor: removed wrappers around editor
  apps/example-web/src/App.css
  apps/example-web/src/App.tsx
  src/web/EnrichedTextInput.css
  src/web/EnrichedTextInput.tsx
Due: lint

refactor: handle scrollEnabled in converter
  src/web/EnrichedTextInput.tsx
  src/web/__tests__/enrichedInputStyleToCSSProperties.test.ts
  src/web/enrichedInputStyleToCSSProperties.ts
Due: lint, types

refactor: extract TestCase type
  src/web/__tests__/enrichedInputStyleToCSSProperties.test.ts
Due: lint, types

feat: add handling of number colors
  src/web/__tests__/enrichedInputStyleToCSSProperties.test.ts
  src/web/enrichedInputStyleToCSSProperties.ts
Due: lint, types

fix: memory leak caused by retain cycle in layout manager and input parser
  ios/extensions/LayoutManagerExtension.mm
  ios/inputParser/InputParser.mm
  ios/utils/WeakBox.h
  ios/utils/WeakBox.m
Due: clang-format

feat(web): enriched input style (#510)
  apps/example-web/src/App.css
  apps/example-web/src/App.tsx
  apps/example/tsconfig.json
  lefthook.yml
  package.json
  src/index.web.tsx
  src/types.ts
  src/web/EnrichedTextInput.css
  src/web/EnrichedTextInput.tsx
  src/web/__tests__/enrichedInputStyleToCSSProperties.test.ts
  src/web/enrichedInputStyleToCSSProperties.ts
Due: lint, types

feat: add insertText command for inserting text at cursor or position
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputView.kt
  android/src/main/java/com/swmansion/enriched/textinput/EnrichedTextInputViewManager.kt
  ios/EnrichedTextInputView.mm
  src/native/EnrichedTextInput.tsx
  src/spec/EnrichedTextInputNativeComponent.ts
  src/types.ts
  src/web/EnrichedTextInput.tsx
Due: lint, types, lint-android, clang-format

fix(iOS): wrap dirty-range reapply in beginEditing/endEditing
  ios/attributesManager/AttributesManager.mm
Due: clang-format

feat: add autoCorrect and spellCheck props
  ios/EnrichedTextInputView.mm
  src/native/EnrichedTextInput.tsx
  src/spec/EnrichedTextInputNativeComponent.ts
  src/types.ts
Due: lint, types, clang-format

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts, jsx, tsx}
  lint-android: any of: **/*.{kt,kts,java,gradle}
  clang-format: any of: *.{h,m,mm,cpp}, but not: (Pods|build|node_modules)
