Repository software-mansion/react-native-enriched: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, lint-android, clang-format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint {staged_files}
    types:
      glob: "*.{js,ts, jsx, tsx}"
      run: npx tsc
    lint-android:
      glob: "**/*.{kt,kts,java,gradle}"
      run: cd apps/example/android && ./gradlew lintVerify
    clang-format:
      glob: "*.{h,m,mm,cpp}"
      exclude: "(Pods|build|node_modules)"
      run: npx clang-format -i {staged_files} && git add {staged_files}
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

fix: add StyleUtils
  ios/EnrichedTextInputView.mm
  ios/EnrichedTextViewManager.mm
  ios/htmlParser/HtmlParser.mm
  ios/textStyles/EnrichedTextStyleHeaders.h
  ios/utils/StyleUtils.h
  ios/utils/StyleUtils.mm
Due: clang-format

fix: use Style utils
  ios/EnrichedTextInputView.mm
  ios/utils/ParagraphAttributesUtils.mm
Due: clang-format

refactor(strictMarks): cleanup
  .playwright/tests/strictMarks.spec.ts
  src/web/EnrichedTextInput.css
  src/web/StrictMarksPlugin.ts
Due: lint, types

test: regen inline-styles.png
  .playwright/screenshots/inline-styles.png
Due: none

fix: fixed strictRules
  .playwright/tests/strictMarks.spec.ts
  src/web/StrictMarksPlugin.ts
Due: lint, types

chore: upgrade yarn
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.6.1.cjs
  .yarn/releases/yarn-4.13.0.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: none

chore: set npmMinimalAgeGate
  .yarnrc.yml
Due: none

chore: upgrade yarn (#533)
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.6.1.cjs
  .yarn/releases/yarn-4.13.0.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: none

chore: set npmMinimalAgeGate (#534)
  .yarnrc.yml
Due: none

feat: add EnrichedText styles
  ios/EnrichedTextInputView.h
  ios/EnrichedTextInputView.mm
  ios/inputParser/InputParser.mm
  ios/interfaces/EnrichedTextStyleHeaders.h
  ios/interfaces/StyleHeaders.h
  ios/styles/CheckboxListStyle.mm
  ios/styles/EnrichedTextStyles.mm
  ios/styles/ImageStyle.mm
Due: clang-format

fix(Android): drawing async image on physical device
  android/src/main/java/com/swmansion/enriched/common/spans/EnrichedImageSpan.kt
Due: lint-android

fix(android): drawing async image on physical device (#538)
  android/src/main/java/com/swmansion/enriched/common/spans/EnrichedImageSpan.kt
Due: lint-android

fix(iOS): remove unused import
  ios/utils/KeyboardUtils.mm
Due: clang-format

fix(iOS): remove unused RCTTextInputUtils.h import (#540)
  ios/utils/KeyboardUtils.mm
Due: clang-format

fix: mentions handling - android
  android/src/main/java/com/swmansion/enriched/textinput/styles/ParametrizedStyles.kt
Due: lint-android

fix: parsing empty lists - android
  android/src/main/java/com/swmansion/enriched/common/parser/EnrichedParser.java
Due: lint-android

feat(web): add inline styles (#522)
  .playwright/playwright.config.ts
  .playwright/screenshots/inline-styles.png
  .playwright/scripts/run-tests.sh
  .playwright/tests/inlineStyles.spec.ts
  .playwright/tests/strictMarks.spec.ts
  apps/example-web/package.json
  apps/example-web/src/App.tsx
  apps/example-web/src/RouteSelector.tsx
  apps/example-web/src/components/EditorActions.css
  apps/example-web/src/components/HtmlOutputPanel.tsx
  apps/example-web/src/components/Toolbar.css
  apps/example-web/src/components/Toolbar.tsx
  apps/example-web/src/testScreens/VisualRegression.tsx
  package.json
  src/utils/defaultHtmlStyle.ts
  src/utils/normalizeHtmlStyle.ts
  src/web/EnrichedTextInput.css
  src/web/EnrichedTextInput.tsx
  src/web/StrictMarksPlugin.ts
  src/web/formats/EnrichedBold.ts
  src/web/formats/EnrichedCode.ts
  src/web/formats/EnrichedItalic.ts
  src/web/formats/EnrichedStrike.ts
  src/web/formats/EnrichedUnderline.ts
  src/web/styleConversion/__tests__/enrichedInputStyleToCSSProperties.test.ts
  src/web/styleConversion/__tests__/htmlStyleToCSSVariables.test.ts
  src/web/styleConversion/enrichedInputStyleToCSSProperties.ts
  src/web/styleConversion/htmlStyleToCSSVariables.ts
  src/web/styleConversion/toColor.ts
  src/web/useOnChangeState.ts
  tsconfig.json
  yarn.lock
Due: lint, types

feat: added new formats
  apps/example-web/src/App.tsx
  apps/example-web/src/components/Toolbar.tsx
  package.json
  src/web/EnrichedTextInput.css
  src/web/EnrichedTextInput.tsx
  src/web/formats/EnrichedBlockquote.ts
  src/web/formats/EnrichedCodeBlock.ts
  src/web/formats/EnrichedHeading.ts
  src/web/styleConversion/htmlStyleToCSSVariables.ts
  src/web/useOnChangeState.ts
  yarn.lock
Due: lint, types

feat: added conflicting and blocking styles
  src/web/formats/EnrichedBlockquote.ts
  src/web/formats/EnrichedCodeBlock.ts
  src/web/formats/EnrichedHeading.ts
  src/web/formats/formatRules.ts
  src/web/useOnChangeState.ts
Due: lint, types

feat: handle link and mention presses
  ios/EnrichedTextInputView.mm
  ios/config/EnrichedConfig.h
  ios/config/EnrichedConfig.mm
  ios/interfaces/MentionStyleProps.h
  ios/interfaces/MentionStyleProps.mm
  ios/utils/AttachmentLayoutUtils.h
  ios/utils/AttachmentLayoutUtils.mm
  ios/utils/CheckboxHitTestUtils.mm
  ios/utils/EnrichedTextTouchHandler.h
  ios/utils/EnrichedTextTouchHandler.mm
  ios/utils/EnrichedTouchableTextView.h
  ios/utils/EnrichedTouchableTextView.mm
Due: clang-format

fix: rename EnrichedStyleHost
  ios/EnrichedTextInputView.h
  ios/EnrichedTextInputView.mm
  ios/EnrichedTextView.h
  ios/extensions/LayoutManagerExtension.mm
  ios/interfaces/EnrichedViewHost.h
  ios/interfaces/StyleBase.h
  ios/interfaces/StyleBase.mm
  ios/styles/MentionStyle.mm
  ios/utils/OccurenceUtils.h
  ios/utils/OccurenceUtils.mm
  ios/utils/StyleUtils.h
  ios/utils/StyleUtils.mm
Due: clang-format

fix: handle bold style with headings blocking style edge case
  src/web/EnrichedTextInput.tsx
  src/web/formats/EnrichedCodeBlock.ts
  src/web/formats/formatRules.ts
  src/web/styleConversion/htmlStyleToCSSVariables.ts
  src/web/useOnChangeState.ts
Due: lint, types

fix: use host instead of input inside utils
  ios/EnrichedTextInputView.mm
  ios/utils/TextInsertionUtils.h
  ios/utils/TextInsertionUtils.mm
  ios/utils/ZeroWidthSpaceUtils.h
  ios/utils/ZeroWidthSpaceUtils.mm
Due: clang-format

docs: update lineHeight docs
  docs/API_REFERENCE.md
Due: none

docs: update lineHeight docs (#544)
  docs/API_REFERENCE.md
Due: none

fix(htmlStyle): strip bold marks when bold prop in htmlStyle changes
  src/web/EnrichedTextInput.tsx
  src/web/formats/stripBoldInStyledHeadings.ts
Due: lint, types

chore(EnrichedCodeBlock): improve comment
  src/web/formats/EnrichedCodeBlock.ts
Due: lint, types

chore: add tests
  .maestro/flows/empty_lists_parsing.yaml
  .maestro/screenshots/android/empty_lists_parsing.png
  .maestro/screenshots/ios/empty_lists_parsing.png
Due: none

chore: typo
  .maestro/flows/empty_lists_parsing.yaml
Due: none

feat(web): merge adjacent codeblocks and blockquotes
  src/web/EnrichedTextInput.tsx
  src/web/mergeAdjacentSameKindBlocks.ts
Due: lint, types

refactor: organize ProseMirror plugins
  src/web/EnrichedTextInput.tsx
  src/web/formats/EnrichedCodeBlock.ts
  src/web/pmPlugins/StrictMarksPlugin.ts
  src/web/pmPlugins/mergeAdjacentSameKindBlocksPlugin.ts
  src/web/pmPlugins/stripBoldInStyledHeadingsPlugin.ts
  src/web/pmPlugins/stripMarksInCodeBlockPlugin.ts
Due: lint, types

fix: ensure initial html is set via transaction
  src/web/EnrichedTextInput.tsx
Due: lint

fix(example-web): toolbar scrolling
  apps/example-web/src/components/Toolbar.css
  apps/example-web/src/components/Toolbar.tsx
Due: lint

fix(android): parsing empty lists (#542)
  .maestro/flows/empty_lists_parsing.yaml
  .maestro/screenshots/android/empty_lists_parsing.png
  .maestro/screenshots/ios/empty_lists_parsing.png
  android/src/main/java/com/swmansion/enriched/common/parser/EnrichedParser.java
Due: lint-android

fix(Android): mentions handling (#541)
  android/src/main/java/com/swmansion/enriched/textinput/styles/ParametrizedStyles.kt
Due: lint-android

chore: release 0.6.1
  apps/example/ios/Podfile.lock
  package.json
Due: none

chore: release 0.6.1 (#546)
  apps/example/ios/Podfile.lock
  package.json
Due: none

feat: changed keybinds for codeblock & blockquote to match native version
  src/web/formats/EnrichedBlockquote.ts
  src/web/formats/EnrichedCodeBlock.ts
  src/web/formats/wrappedBlockKeyboard.ts
  yarn.lock
Due: lint, types

fix: zero width space handling
  ios/EnrichedTextInputView.mm
  ios/EnrichedTextView.h
  ios/EnrichedTextView.mm
  ios/extensions/LayoutManagerExtension.mm
  ios/utils/OccurenceUtils.mm
Due: clang-format

fix: empty paragraph elements
  ios/utils/OccurenceUtils.mm
Due: clang-format
